﻿<div class="content" dir="rtl">
    <add-EventFile v-if="state==1"></add-EventFile>
    <!--<edit-Events v-if="state==2"></edit-Events>-->
    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                        </div>
                        <div class="card-title" style="font-size:18px;font-weight:bold">الحقيبه الترويجيه</div>


                    </div>
                    <div class="headerCustom">
                        <div class="title">
                            <el-button type="danger" @click.prevent="Back()" class="btn btn-info btn-fill pull-right">رجوع</el-button>
                            <el-button type="primary" @click.prevent="AddFile()" class="btn btn-danger btn-fill pull-right">إضافة </el-button>

                        </div>
                        <p class="category"></p>
                    </div>
                    <div style="padding-left:22px">
                        <!--view companet-->
                        <div class="NoData" v-if="EventFiles==0">
                            <el-alert title="عفــوا! لاتوجد بيانات الحقيبه الترويجيه"
                                      type="info">
                            </el-alert>
                        </div>

                

                        <div class="content table-responsive table-full-width" v-if="EventFiles!=0">
                           
                            <table class="table table-hover table-striped">
                                <tbody style="text-align:center">
                                    <tr class="TableHeaderBackground">
                                        <td>
                                            <span style="font-size:18px;font-weight:bold">
                                                اسـم الملف
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:18px;font-weight:bold">
                                                معلومات
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:18px;font-weight:bold">
                                                ملف pdf
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:18px;font-weight:bold">
                                               نوع صور
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:18px;font-weight:bold">
                                               ملف وورد
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:18px;font-weight:bold">
                                                العمليات
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody style="text-align:center">
                                    <tr v-for="file in EventFiles" style="font-size:16px;">
                                        <td>{{file.name}}</td>
                                        <td>{{file.description}}</td>
                                        <td>
                                            <a title="تنزيل الملف" v-if="file.pdf" :href="'http://localhost:4810/Api/Admin/EventFiles/' + file.eventFileId + '/File'">
                                                <i class="fa fa-download"></i>
                                            </a>
                                            <a title="لايوجد ملف" v-if="!file.pdf" disabled>
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a title="تنزيل الملف" v-if="file.picture" :href="'http://localhost:4810/Api/Admin/EventFiles/' + file.eventFileId + '/img'">
                                                <i class="fa fa-image"></i>
                                            </a>
                                            <a title="لايوجد ملف" v-if="!file.picture" disabled>
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a title="تنزيل الملف"
                                               v-if="file.wordFile"
                                               :href="'http://localhost:4810/Api/Admin/EventFiles/' + file.eventFileId + '/wordFile'">
                                                <i class="fa fa-download"></i>
                                            </a>
                                            <a title="لايوجد ملف" v-if="!file.wordFile" disabled>
                                                <i class="fa fa-eye-slash"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a title="مسـح الدورة" href="#" @click.prevent="DeleteCourseFiles(file)">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="text-align: center; margin-top: 10px;">
                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="GetEventFilesByEventId($event)">
                                </el-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

