﻿<template src="./Students.html">
</template>

<script src="./Students.js"></script>
<style scoped="">



    body main {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        margin: 10px 1%;
    }

    .row1 {
        margin-top: 73px;
        margin-left: -137px;
        margin-right: -532px;
    }

    body main .card {
        width: 470px;
        min-height: 185px;
        display: flex;
        padding: 10px;
        float: right;
        overflow: hidden;
        margin: 10px 1%;
        max-width: 25%;
        max-width: 310px;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        background: #aed3d8;
    }

    body main .card .avatar {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        border-radius: 50%;
    }

    body main .card .infos {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    body main .card .infos div:not(:last-child) {
        margin-bottom: 10px;
    }

    body main .card .infos div.capitalize {
        text-transform: capitalize;
    }

    body main .card .infos div.name {
        font-size: 150%;
        font-weight: bold;
    }

    body main .card .infos div i {
        margin-right: 10px;
    }

    body main .refresh [data-v-3d3f5182] {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }

    body main .refresh {
        display: flex;
        flex-direction: column;
        margin-left: 14px;
    }

    body main .refresh i {
        position: relative;
        height: 40px;
        width: 40px;
        margin: 10px 0;
        font-size: 110%;
        line-height: 40px;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 50%;
        cursor: pointer;
        transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
    }

    body main .refresh i:hover {
        background: white;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16), 0 6px 10px rgba(0, 0, 0, 0.23);
    }

    body main .refresh i:hover:after {
        opacity: 1;
    }

    body main .refresh i:after {
        content: attr(data-text);
        position: absolute;
        left: calc(100% + 10px);
        top: 50%;
        transform: translateY(-50%);
        font-size: 80%;
        font-family: 'Nunito', sans-serif;
        line-height: initial;
        background: white;
        padding: 2.5px 10px;
        border-radius: 1000px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        pointer-events: none;
        opacity: 0;
        transition: opacity .2s ease-in-out;
    }

    @media only screen and (max-width: 800px) {
        body main {
            flex-direction: column !important;
            font-size: 80%;
        }

        body main .card {
            max-width: 80%;
            width: auto;
            min-height: 150px;
        }

        .post-category {
            display: inline-block;
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 0.0625rem;
            margin: 0 0 0.75rem 0;
            padding: 0 0 0.25rem 0;
            border-bottom: 0.125rem solid $border;
        }

        body main .refresh {
            flex-direction: row;
            margin-left: 0;
            margin-top: 30px;
        }

        body main .refresh i {
            margin: 0 10px;
        }

        body main .refresh i:after {
            display: none;
        }
    }

    body .copy {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 5px 10px;
        color: white;
    }

    body .copy a {
        color: inherit;
    }
</style>