﻿<div class="content" dir="rtl">
    <add-Students v-if="state==1"></add-Students>
    <edit-Students v-if="state==2"></edit-Students>
    <div class="container-fluid" v-if="state==0">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                        </div>

                        <div class="card-title" style="font-size:18px;font-weight:bold">العملاء  </div>

                    </div>
                    <div class="header">
                        <div class="title">
                            <el-button type="primary" v-if="UserType!=0"
                                       @click.prevent="AddStudentPage()" class="btn btn-danger btn-fill pull-right">
                                إضافة متدرب
                            </el-button>
                            <div class="selectCompany" style="margin-bottom:30px;">

                                <el-select style="width: 200px;"
                                           v-model="StudentType"
                                           @change="StudentTypeSelect()"
                                           filterable placeholder="نوع المتدرب">
                                    <el-option v-for="item in
                                               [{ value: '0',label: 'الكل'},
                                               { value: '1',label: 'افـراد'},
                                               { value: '2',label: 'شركـات'}]"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                                <el-select v-if="UserType==2" style="width: 200px;"
                                           v-model="CompanyNameSelect"
                                           filterable placeholder="اسم الشركة"
                                           @change="SelectCompany()">

                                    <el-option v-for="item in Companies"
                                               :key="item.companyId"
                                               :label="item.companyName"
                                               :value="item.companyId">
                                    </el-option>
                                </el-select>
                                <el-select style="width: 200px;"
                                           v-model="SearchModel" @change="SelectedSearch()" filterable placeholder="البحث بإستخدام">
                                    <el-option v-for="item in SearchBy"
                                               :key="item.id"
                                               :label="item.name"
                                               :value="item.id">
                                    </el-option>
                                </el-select>
                                <el-input v-if="SearchModel==1" style="width: 250px;margin-top:6px" placeholder="رقم الهاتف"
                                          v-model="SearchGeneral">
                                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                </el-input>
                                <el-input v-if="SearchModel==2" style="width: 200px;margin-top:6px" placeholder="الاسم"
                                          v-model="SearchName">
                                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                </el-input>&nbsp;
                                <button type="submit" @click.prevent="SearchMethod()" style="height: 40px; padding-top: 11px; margin-top:1px;" class="btn btn-info btn-fill pull-right">بـحث</button>



                            </div>
                        </div>


                    </div>
                    <div style="padding-left:22px">

                        <div class="NoData" v-if="Students==0">
                            <el-alert title="عفــوا! لاتوجد بيانات للمتــدربين"
                                      type="info">
                            </el-alert>
                        </div>

                        <main :style="{ background: back }">
                            <div class="row">
                                <div class="col-md-4" v-for="Student in Students" v-if="Student!=0">
                                    <div class="card">


                                        <img class="avatar" :src="'http://localhost:4810/Api/Admin/Students/GetStudentImage?studentId='+Student.studentId+''"
                                             style="height: 80px; width:80px" />

                                        <div class="infos">
                                            <div class="name capitalize">
                                                {{Student.nameAr.slice(0,20)}}
                                            </div>
                                            <div class="birth">
                                                {{Student.email.slice(0,16)}}
                                            </div>
                                            <div class="email">
                                                {{Student.birthDate | moment}}
                                            </div>
                                            <div class="phone">
                                                {{Student.phoneNumber1.slice(0,15)}}
                                            </div>
                                            <div class="nationality capitalize">
                                                {{Student.location.slice(0,20)}}
                                            </div>
                                        </div>

                                    </div>

                                    <div class="refresh">

                                        <i class="fa fa-pencil-square-o" data-text="update" @click.prevent="EditStudentInfo(Student)"></i>&nbsp;


                                        <i class="fa fa-remove" data-text="remove" @click.prevent="DeleteStudent(Student.studentId)"></i>


                                        <el-button type="text" @click="dialogTableVisible = true;ShowMore(Student)">
                                            <i class="fa fa-info-circle" data-text="show"></i>&nbsp;
                                        </el-button>
                                        <el-button type="text" @click="dialogEvents = true;GetEventsByStudentId(Student.studentId)">
                                            <i class="fa fa-paper-plane" data-text="show"></i>&nbsp;
                                        </el-button>


                                    </div>
                                </div>
                            </div>
                        </main>

                        <div style="direction:rtl;text-align: center; margin-top: 10px;">
                            <el-pagination background
                                           layout="prev, pager, next"
                                           :current-page="pageNo"
                                           :page-size="pageSize"
                                           :total="pages"
                                           @current-change="GetStudents($event)">
                            </el-pagination>

                        </div>

                    </div>
                    <el-dialog title="عرض المزيد" :visible.sync="dialogTableVisible" :modalAppendToBody="false" class="card-title" center>
                        <table style="width: 93%;font-size: 16px;height: 33%;    background: #c3d8d8;border: 1px solid;">



                            <tr style="border: 1px solid;">
                                <td style="direction:rtl"> الاسم بالانجليزي :  {{EventDetails.nameEn}} </td>
                                <td height="50" style="margin-right:20%">  الوظيفة:  {{EventDetails.currentJob}} </td>

                            </tr>

                            <tr style="border: 1px solid;">
                                <td height="50" style="margin-right:20%">  سنوات الخبرة :  {{EventDetails.experinceNumbers}}</td>
                                <td height="50" style="margin-right:20%"> الهاتف الاحتياط :  {{EventDetails.phoneNumber2}} </td>
                            </tr>
                            <tr style="border: 1px solid;">
                                <td height="50" style="margin-right:20%">  نوع الاشتراك :  {{EventDetails.subscribeType}} </td>
                                <td height="50" style="margin-right:20%">  اسم الشركة : {{EventDetails.companyName}}</td>
                            </tr>
                        </table>
                        <br />

                        <!--<div style="direction:rtl;text-align: center; margin-top: 10px;">
                            <el-pagination background
                                           layout="prev, pager, next"
                                           :current-page="pageNoEvent"
                                           :page-size="pageSizeEvent"
                                           :total="pagesEvent"
                                           @current-change="GetStudents($event)">
                            </el-pagination>

                        </div>-->
                        <div style="margin-right:80%">
                            <el-button type="danger" circle @click="dialogTableVisible = false;" style="background-image:linear-gradient(0deg, #57bbbf,#57bbbf); border-color:#57bbbf ">رجوع</el-button>
                        </div>
                    </el-dialog>
                    <el-dialog title="الدورات التي تم حضورها"
                               :visible.sync="dialogEvents" :modalAppendToBody="false" class="card-title" center>
                        <table style="width: 93%;font-size: 16px;height: 33%;    background: #c3d8d8;border: 1px solid;">



                            <tr style="border: 1px solid;" v-for="s in EventStudent">
                                <td style="direction:rtl"> الاسم بالانجليزي :  {{s.Name}} </td>
                                <td height="50" style="margin-right:20%">  الوظيفة:  {{s.startDate}} </td>
                                <td>{{t.hostName}}</td>
                            </tr>


                        </table>
                        <br />


                        <div style="margin-right:80%">
                            <el-button type="danger" circle @click="dialogEvents = false;" style="background-image:linear-gradient(0deg, #57bbbf,#57bbbf); border-color:#57bbbf ">رجوع</el-button>
                        </div>
                    </el-dialog>
                </div>


            </div>
        </div>





    </div>
</div>
