﻿<div>
    <table class="entire-page">
        <tr>
            <td>
                <table class="email-body" style="max-width: 1087px;">
                    <!--<tr>
                        <td class="email-header" style="background-color:white">
                            <a href="/">
                                <img style="width:150px" src="../../../../Content/Images/loginMaster.jpg" alt="تنبيهات ماستر">
                            </a>
                        </td>
                    </tr>-->
                    <tr>
                        <td class="news-section">
                            <h1>تنبيه من ادارة موقع الماستر</h1>
                            <a href="#"><img style="width:150px" src="../../../../Content/Images/logo.png"></a>
                        </td>
                    </tr>
                    <tr>
         
                        <td class="news-section" v-html="MessageDetails" v-if="MessageDetails!=0"></td>
                        <td class="news-section"  v-if="MessageDetails==0" dir="rtl">
                            <div style="margin: 35px;font-size: 35px;">
                                <el-alert title="عفــوا! لاتوجد تفاصيل لرسالة "
                                          type="info">
                                </el-alert>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td class="footer">
                            هذا التنبيه مرسل من الإدار الرجاء بعد استكمال القراءة تحديده كمقروء
                        </td>
                    </tr>
                </table>
           </td>
        </tr>
    </table>
</div>