﻿<template src="./SubPackages.html"></template>

<script src="./SubPackages.js"></script>
<style scoped="">
.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -20px;
    padding: 15px;
}
.card .card-header-rose .card-icon, .card .card-header-rose .card-text, .card .card-header-rose:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
}
.card .card-header-rose .card-icon, .card .card-header-rose .card-text, .card .card-header-rose:not(.card-header-icon):not(.card-header-text), .card.bg-rose, .card.card-rotate.bg-rose .back, .card.card-rotate.bg-rose .front {
    background: linear-gradient(60deg,#ec407a,#d81b60);
}
.card [data-header-animation=true] {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    transition: .3s cubic-bezier(.34,1.61,.7,1);
}
.btn.btn-danger.btn-link, .mat-button.btn.btn-danger.btn-link, .mat-raised-button.btn.btn-danger.btn-link, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-danger.btn-link {
    background-color: transparent;
    color: #f44336;
    box-shadow: none;
}

.card .card-actions {
    position: absolute;
    z-index: 1;
    top: -50px;
    width: calc(100% - 30px);
    left: 17px;
    right: 17px;
    text-align: center;
}


.card [class*=card-header-] {
    margin: 0 15px;
    padding: 0;
    position: relative;
}
.card .card-header {
    z-index: 3!important;
}
.card [class*=card-header-], .card [class*=card-header-] .card-title, .card [class*=card-header-] .card-title a, .card [class*=card-header-] .icon i, .card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i {
    color: #fff;
}
.card .card-header {
    border-bottom: none;
    background: 0 0;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
btn.btn-default.btn-link:active, .btn.btn-default.btn-link:focus, .btn.btn-default.btn-link:hover, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover, .mat-button.btn.btn-default.btn-link:active, .mat-button.btn.btn-default.btn-link:focus, .mat-button.btn.btn-default.btn-link:hover, .mat-button.btn.btn-link:active, .mat-button.btn.btn-link:focus, .mat-button.btn.btn-link:hover, .mat-raised-button.btn.btn-default.btn-link:active, .mat-raised-button.btn.btn-default.btn-link:focus, .mat-raised-button.btn.btn-default.btn-link:hover, .mat-raised-button.btn.btn-link:active, .mat-raised-button.btn.btn-link:focus, .mat-raised-button.btn.btn-link:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default.btn-link:active, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default.btn-link:focus, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default.btn-link:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-link:active, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-link:focus, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-link:hover {
    background-color: transparent;
    color: #999;
}
.btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover, .mat-button.btn.btn-link:active, .mat-button.btn.btn-link:focus, .mat-button.btn.btn-link:hover, .mat-raised-button.btn.btn-link:active, .mat-raised-button.btn.btn-link:focus, .mat-raised-button.btn.btn-link:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-link:active, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-link:focus, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-link:hover {
    text-decoration: none!important;
}
.btn.btn-default.btn-link, .btn.btn-link, .mat-button.btn.btn-default.btn-link, .mat-button.btn.btn-link, .mat-raised-button.btn.btn-default.btn-link, .mat-raised-button.btn.btn-link, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default.btn-link, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-link {
    background-color: transparent;
    color: #999;
    box-shadow: none;
}

.card:hover [data-header-animation=true] {
    -webkit-transform: translate3d(0,-50px,0);
    transform: translate3d(0,-50px,0);
}
.btn.btn-default:active, .btn.btn-default:focus, .btn.btn-default:hover, .btn:active, .btn:focus, .btn:hover, .mat-button.btn.btn-default:active, .mat-button.btn.btn-default:focus, .mat-button.btn.btn-default:hover, .mat-button.btn:active, .mat-button.btn:focus, .mat-button.btn:hover, .mat-raised-button.btn.btn-default:active, .mat-raised-button.btn.btn-default:focus, .mat-raised-button.btn.btn-default:hover, .mat-raised-button.btn:active, .mat-raised-button.btn:focus, .mat-raised-button.btn:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default:active, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default:focus, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]):active, .mat-raised-button.btn:not([class*=mat-elevation-z]):focus, .mat-raised-button.btn:not([class*=mat-elevation-z]):hover {
    box-shadow: 0 14px 26px -12px rgba(153,153,153,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(153,153,153,.2);
}
.btn.btn-default.focus, .btn.btn-default:focus, .btn.btn-default:hover, .btn.focus, .btn:focus, .btn:hover, .mat-button.btn.btn-default.focus, .mat-button.btn.btn-default:focus, .mat-button.btn.btn-default:hover, .mat-button.btn.focus, .mat-button.btn:focus, .mat-button.btn:hover, .mat-raised-button.btn.btn-default.focus, .mat-raised-button.btn.btn-default:focus, .mat-raised-button.btn.btn-default:hover, .mat-raised-button.btn.focus, .mat-raised-button.btn:focus, .mat-raised-button.btn:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default.focus, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default:focus, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]).focus, .mat-raised-button.btn:not([class*=mat-elevation-z]):focus, .mat-raised-button.btn:not([class*=mat-elevation-z]):hover {
    color: #fff;
    background-color: #919191;
    border-color: #7a7a7a;
}
.btn, .btn.btn-default, .mat-button.btn, .mat-button.btn.btn-default, .mat-raised-button.btn, .mat-raised-button.btn.btn-default, .mat-raised-button.btn:not([class*=mat-elevation-z]), .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default {
    color: #fff;
    background-color: #999;
    border-color: #999;
    box-shadow: 0 2px 2px 0 rgba(153,153,153,.14), 0 3px 1px -2px rgba(153,153,153,.2), 0 1px 5px 0 rgba(153,153,153,.12);
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
}
.card {
    font-size: .875rem;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
body {
    background-color: #eee;
    color: #3c4858;
    font-weight: 300;
}
.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    font-size: 1rem;
    text-align: left;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
:root {
    --blue: #2196f3;
    --indigo: #3f51b5;
    --purple: #9c27b0;
    --pink: #e91e63;
    --red: #f44336;
    --orange: #ff9800;
    --yellow: #ffeb3b;
    --green: #4caf50;
    --teal: #009688;
    --cyan: #00bcd4;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #2196f3;
    --secondary: #6c757d;
    --success: #4caf50;
    --info: #00bcd4;
    --warning: #ffeb3b;
    --danger: #f44336;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Roboto","Helvetica","Arial",sans-serif;
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
</style>