﻿<div class="content" dir="rtl">
    <add-Packages v-if="state==1"></add-Packages>
    <edit-Packages v-if="state==2"></edit-Packages>
    <div class="container-fluid" v-if="state==0">

        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height:auto">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                        </div>

                    </div>
                    <div class="headerCustom">
                        <div class="title">
                            <el-button type="danger" @click.prevent="Back()" class="btn btn-info btn-fill pull-right">رجوع</el-button>
                            <el-button type="primary" @click.prevent="AddPackage()" class="btn btn-danger btn-fill pull-right">إضافة الحزم</el-button>
                        </div>
                        <p class="category"></p>
                    </div>
                    <div style="padding-left:22px">
                        <!--view companet-->
                        <div class="NoData" v-if="Packages==0">
                            <el-alert title="عفــوا! لاتوجد بيانات للحزم"
                                      type="info">
                            </el-alert>
                        </div>
                        <div class="PacakgesCenter">
                            <figure class="snip1493" v-for="Package in Packages" v-if="Packages!=0">

                                <div class="image" v-if="Package.photo==null">

                                    <img src="../../../../Content/Images/Package.jpg" style="width:100%;height:150px;" alt="ls-sample1" />
                                </div>
                                <div class="image" v-if="Package.photo!=null">
                                    <img :src="'http://localhost:4810/Api/Admin/Packages?PackageId='+Package.packageId+''" style="width:100%;height:150px;" alt="ls-sample1" />
                                </div>

                                <figcaption style="margin-top: -120px;">
                                    <h3 :style="'color:'+Package.color+' '">{{Package.name.slice(0,20)}}</h3>
                                    <p :style="'color:'+Package.color+' '">
                                        <span style="font-size:15px">
                                            {{Package.description.slice(0,31)}}<br />
                                            {{Package.description.slice(31,62)}}<br />
                                            {{Package.description.slice(62,92)}}
                                        </span>
                                        <br /><br />
                                    </p>
                                    <footer>
                                        <div class="views" style="cursor: pointer;" @click="FileChanged($event,Package.packageId)">

                                            <label for="file-upload" style="cursor: pointer;">
                                                <i class="fa fa-cloud-upload"></i> تـغير الصورة
                                            </label>
                                            <input accept="image/jpg" id="file-upload" type="file" @change="FileChanged($event,Package.packageId)" />
                                        </div>
                                        <div style="cursor: pointer;" class="views" @click="DeletePackage(Package.packageId)">
                                            <i class="fa fa-remove"></i>مسح
                                        </div>
                                        <div style="cursor: pointer;" class="love" @click="EditPackage(Package)"><i class="fa fa-pencil-square-o"></i>تعديل</div>
                                        <!--<div style="cursor: pointer;" class="comments"><i class="fa fa-info-circle"></i>عرض</div>-->
                                        <div style="cursor: pointer;" class="comments" @click="OpenCoursePage(Package)"><i class="fa fa-bookmark"></i>الدورات</div>

                                    </footer>
                                </figcaption>
                                <!--<a href="#"></a>-->
                            </figure>
                        </div>

                        <div style="text-align: center;padding-bottom:77px">
                            <el-pagination background
                                           layout="prev, pager, next"
                                           :current-page="pageNo"
                                           :page-size="pageSize"
                                           :total="pages"
                                           @current-change="GetPackagesBySuperPackageId($event)">
                            </el-pagination>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    
        </div>
</div>
