﻿* {
    box-sizing: border-box;
}

.login-wrapper {
    width: 100vw;
    height: 100vh;
    font-family: "Segoe UI";
    background-color: #f4f4f4;
    background-image: url('Images/loginMaster.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
}

.login-panel {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 0px 25px 10px 25px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.5);
}

.login-control-group {
    margin-bottom: 20px;
}

.login-control {
    display: block;
    margin-top: 6px;
    padding: 6px 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

    .login-control:focus {
        box-shadow: 0px 0px 10px 0px rgba(40, 150, 250, 0.5);
    }

.login-button {
    border: 1px solid #eee;
    background: #1a1b1b;
    padding: 8px 15px;
    color: white;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #999;
    color: black;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.text-right {
    text-align: right;
}

.login-forgot-link {
    display: block;
    margin-top: 6px;
    text-decoration: none;
}

label {
    font-weight: 600;
    color: #444;
}

.login-logo > img {
    width: auto;
   height: 150px;
    margin: auto;
   
}

.login-logo {
    text-align: center;
}

.login-footer-panel {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}


    .login-footer-panel > a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 15px;
        transition: all 0.3s ease;
    }

        .login-footer-panel > a:hover {
            background-color: #33aa66;
            color: white;
        }

        .login-footer-panel > a:first-child {
            border-right: 1px solid #ddd;
        }
