﻿@import "assets/css/bootstrap.min.rtl.css";
@import "assets/css/animate.min.css";
@import "assets/css/light-bootstrap-dashboard.rtl.css";
@import "assets/css/demo.rtl.css";
@import "fonts/font-awesome.min.css";
@import "assets/css/pe-icon-7-stroke.css";

/*@import "csselement.css";*/
/*@import "element-ui/lib/theme-chalk/index.css";
@import "cssvuetify.css";
@import "vuetify/dist/vuetify.min.css";*/

.snip1493 footer {
    padding: 0 0 11px 14px;
    color: #999999;
    font-size: 0.8em;
    line-height: 50px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer {
    background-color: #050505;
    line-height: 20px;
}

.NoData {
    direction: rtl;
    margin: 35px;
    font-size: 35px;
    padding-bottom: 2%;
}

.PacakgesCenter {
    width: 100%;
    display: inline-block;
    margin-right: 2%;
}

.SelectUser {
    width: 250px;
    height: auto;
}

@media all and (max-width:1366px) {
    .SelectUser {
        width: 200px;
        height: auto;
    }
}

@media all and (max-width:1168px) {
    .SelectUser {
        width: 160px;
        height: auto;
    }
}

@media all and (max-width:1006px) {
    .SelectUser {
        width: 130px;
        height: auto;
    }
}

/*upload button*/

input[type="file"] {
    display: none;
}

.UploadButton {
    margin-top: 27px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


.Color-Code {
    display: inline-block;
    width: 20px;
    height: 20px;
}




/*upload button*/


/*Asma*/
.card .card-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
}

.card .card-body + .card-footer, .card .card-footer {
    padding: 10px 0 0;
    margin: 0 15px 10px;
    border-radius: 0;
    justify-content: space-between;
    align-items: center;
}

.btn, .btn.btn-default, .mat-button.btn, .mat-button.btn.btn-default, .mat-raised-button.btn, .mat-raised-button.btn.btn-default, .mat-raised-button.btn:not([class*=mat-elevation-z]), .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default {
    color: #fff;
    background-color: #090808;
    border-color: #999;
    box-shadow: 0 2px 2px 0 rgba(153,153,153,.14), 0 3px 1px -2px rgba(153,153,153,.2), 0 1px 5px 0 rgba(153,153,153,.12);
}

.fa1 {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 17px;
    color: white;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card .card-header {
    z-index: 3 !important;
}


@media (max-width: 991px) {
    .sidebar .nav-mobile-menu .notification {
        float: right;
        line-height: 30px;
        margin-right: 8px;
    }
}

.btn.btn-rose:active, .btn.btn-rose:focus, .btn.btn-rose:hover, .mat-button.btn.btn-rose:active, .mat-button.btn.btn-rose:focus, .mat-button.btn.btn-rose:hover, .mat-raised-button.btn.btn-rose:active, .mat-raised-button.btn.btn-rose:focus, .mat-raised-button.btn.btn-rose:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-rose:active, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-rose:focus, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-rose:hover {
    box-shadow: 0 2px 2px 0 #89672c, 0 3px 1px -2px rgba(17, 17, 17, 0.2), 0 1px 5px 0 rgba(79, 56, 24, 0.12);
}

.btn.btn-rose.focus, .btn.btn-rose:focus, .btn.btn-rose:hover, .mat-button.btn.btn-rose.focus, .mat-button.btn.btn-rose:focus, .mat-button.btn.btn-rose:hover, .mat-raised-button.btn.btn-rose.focus, .mat-raised-button.btn.btn-rose:focus, .mat-raised-button.btn.btn-rose:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-rose.focus, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-rose:focus, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-rose:hover {
    background-color: #57bbbfb8;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-info.btn-fill {
    color: #FFFFFF;
    background-color: #1a1b1b;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-info.btn-fill:hover, .btn-info.btn-fill:focus, .btn-info.btn-fill:active, .btn-info.btn-fill.active, .open > .btn-info.btn-fill.dropdown-toggle {
    background-color: #656565;
    color: #FFFFFF;
}

.btn.btn-default:active, .btn.btn-default:focus, .btn.btn-default:hover, .btn:active, .btn:focus, .btn:hover, .mat-button.btn.btn-default:active, .mat-button.btn.btn-default:focus, .mat-button.btn.btn-default:hover, .mat-button.btn:active, .mat-button.btn:focus, .mat-button.btn:hover, .mat-raised-button.btn.btn-default:active, .mat-raised-button.btn.btn-default:focus, .mat-raised-button.btn.btn-default:hover, .mat-raised-button.btn:active, .mat-raised-button.btn:focus, .mat-raised-button.btn:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default:active, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default:focus, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]):active, .mat-raised-button.btn:not([class*=mat-elevation-z]):focus, .mat-raised-button.btn:not([class*=mat-elevation-z]):hover {
    box-shadow: 0 14px 26px -12px rgba(153,153,153,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(153,153,153,.2);
}

.btn.btn-default.focus, .btn.btn-default:focus, .btn.btn-default:hover, .btn.focus, .btn:focus, .btn:hover, .mat-button.btn.btn-default.focus, .mat-button.btn.btn-default:focus, .mat-button.btn.btn-default:hover, .mat-button.btn.focus, .mat-button.btn:focus, .mat-button.btn:hover, .mat-raised-button.btn.btn-default.focus, .mat-raised-button.btn.btn-default:focus, .mat-raised-button.btn.btn-default:hover, .mat-raised-button.btn.focus, .mat-raised-button.btn:focus, .mat-raised-button.btn:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default.focus, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default:focus, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default:hover, .mat-raised-button.btn:not([class*=mat-elevation-z]).focus, .mat-raised-button.btn:not([class*=mat-elevation-z]):focus, .mat-raised-button.btn:not([class*=mat-elevation-z]):hover {
    color: #fff;
    background-color: #919191;
    border-color: #7a7a7a;
}

.btn.btn-rose, .mat-button.btn.btn-rose, .mat-raised-button.btn.btn-rose, .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-rose {
    color: #FFFFFF;
    background-color: #57bbbfb8;
    border-color: #10393a;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

/*.btn, .btn.btn-default, .mat-button.btn, .mat-button.btn.btn-default, .mat-raised-button.btn, .mat-raised-button.btn.btn-default, .mat-raised-button.btn:not([class*=mat-elevation-z]), .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-default {
    color: #fff;
    background-color: #999;
    border-color: #999;
    box-shadow: 0 2px 2px 0 rgba(153,153,153,.14), 0 3px 1px -2px rgba(153,153,153,.2), 0 1px 5px 0 rgba(153,153,153,.12);
}*/

.btn, .mat-button.btn, .mat-raised-button.btn, .mat-raised-button.btn:not([class*=mat-elevation-z]) {
    position: relative;
    padding: 11px 30px;
    margin: .3125rem 1px;
    min-width: auto;
    font-size: small;
    font-weight: 400;
    line-height: 1.42857143;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 0;
    cursor: pointer;
    border: 0;
    border-radius: .6rem;
    outline: 0;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow,transform;
}

.btn.btn-danger.focus, .btn.btn-danger:focus, .btn.btn-danger:hover {
    background-color: #57bbbfb8;
    opacity: 1;
    filter: alpha(opacity=100);
}

.btn-danger.btn-fill {
    /* color: #FFFFFF; */
    color: #fff;
    background-color: #57bbbf;
    border-color: #10393a;
}

.btn.btn-success.focus, .btn.btn-success:focus, .btn.btn-success:hover {
    color: #fff;
    background-color: #8f8d8d;
}



.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

.open > .btn.btn-rose.dropdown-toggle.bmd-btn-icon, .open > .mat-button.btn.btn-rose.dropdown-toggle.bmd-btn-icon, .open > .mat-raised-button.btn.btn-rose.dropdown-toggle.bmd-btn-icon, .open > .mat-raised-button.btn:not([class*=mat-elevation-z]).btn-rose.dropdown-toggle.bmd-btn-icon {
    color: inherit;
    background-color: #e91e63
}

card .card-header {
    border-bottom: none;
    background: 0 0;
}

.card .card-header .card-title {
    margin-top: -5px;
    font-family: 'DroidArabicKufiRegular';
}

h2 {
    font-family: 'DroidArabicKufiRegular';
}

.card .card-header .title, .card [class*=card-header-], .card [class*=card-header-] .card-title, .card [class*=card-header-] .card-title a, .card [class*=card-header-] .icon i, .card[class*=bg-], .card[class*=bg-] .card-title, .card[class*=bg-] .card-title a, .card[class*=bg-] .icon i {
    color: #000000;
}

.card .card-header:not([data-background-color]) {
    background-color: transparent;
}

.card .card-header {
    padding: 15px 15px 0;
    border: 0;
}

.card [class*=card-header-] .card-icon, .card [class*=card-header-] .card-text {
    border-radius: 3px;
    background-color: #999;
    padding: 15px;
    margin-top: -25px;
    margin-left: 15px;
    float: right;
}

.card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text) {
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(79,185,234,.4);
}

.TableHeaderBackground {
    /*background-image: linear-gradient(5deg, rgb(255, 255, 255),#64c195);*/
    background: linear-gradient(0deg, #57bbbf,#57bbbf);
}

.card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card.bg-primary, .card.card-rotate.bg-primary .back, .card.card-rotate.bg-primary .front {
    background: linear-gradient(0deg, #151514,#cac8c4);
    /* background: linear-gradient(60deg,#2e90c1,#2381af);*/
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
/*End header*/

.card, .picture-src {
    width: 100%;
}

.card .card-body {
    padding: 15px 15px 10px;
}


sidebar .logo-img {
    width: 42px;
    max-height: 42px;
}

.sidebar .logo-img img {
    width: 42px;
    top: 13px;
    right: 16px;
    position: absolute;
}

.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.animation, .animation-transition-general, .carousel .carousel-indicators li,
.hide-sidebar .sidebar, .hide-sidebar.sidebar-mini .sidebar,
.lock-page .card-profile, .login-page .card-login, .sidebar .logo a.logo-mini, .sidebar .logo a.logo-normal, .sidebar .nav p, .sidebar .sidebar-wrapper .user .user-info [data-toggle=collapse] ~ div > ul > li > a span, .sidebar .sidebar-wrapper > .nav [data-toggle=collapse] ~ div > ul > li > a span, .sidebar .user .photo, .sidebar .user .user-info > a > span {
    transition: all .3s linear;
}

.sidebar .nav p {
    font-family: 'DroidArabicKufiRegular';
    font-size: 16px !important;
}

.rtl .bootstrap-navbar .logo a.logo-mini, .rtl .sidebar .logo a.logo-mini {
    float: left;
    margin-left: 30px;
    margin-right: 10px;
}



.sidebar .logo a.logo-mini {
    opacity: 1;
    float: left;
    width: 30px;
    text-align: center;
    margin-left: 23px;
    margin-right: 20px;
}

.sidebar .logo a.logo-mini {
    opacity: 1;
    float: right;
    width: 30px;
    text-align: center;
    margin-right: 23px;
    margin-left: 30px;
}


.rtl .bootstrap-navbar .logo .simple-text, .rtl .sidebar .logo .simple-text {
    text-align: left;
}



.sidebar .user {
    padding-bottom: 20px;
    margin: 20px auto 0;
    position: relative;
}

.sidebar .user .photo {
    width: 34px;
    height: 34px;
    overflow: hidden;
    float: right;
    z-index: 5;
    margin-right: 11px;
    border-radius: 50%;
    margin-left: 23px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, .56), 0 4px 25px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.sidebar .user .photo img {
    width: 100%
}

.sidebar .nav .caret {
    margin-top: 13px;
    position: absolute;
    right: 6px;
}


.sidebar .user a {
    color: #3c4858;
    padding: .5rem 15px;
    white-space: nowrap;
}

.sidebar .user .user-info > a {
    display: block;
    line-height: 18px;
    font-size: 14px;
}

.sidebar .user:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #57bbbf;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    line-height: 100px;
    background: blue;
    display: inline-block;
}

.red-circle {
    background: red;
}

.el-pagination.is-background .el-pager li.active {
    background-color: #0000007d;
    color: #fff;
}

.sidebar .user .user-info > a > span {
    display: block;
    position: relative;
    opacity: 1;
}

.sidebar .user .user-info .caret {
    position: absolute;
    top: 8px;
    right: 204px;
}

.navbar .navbar-nav .nav-item .nav-link.profile-photo {
    padding: 0;
    margin: 0 3px;
}

.navbar .navbar-nav .nav-item .nav-link.profile-photo:after {
    display: none;
}

.navbar .navbar-nav .nav-item .nav-link.profile-photo .profile-photo-small {
    height: 40px;
    width: 40px;
}

.navbar .navbar-nav .nav-item .nav-link.profile-photo .ripple-container {
    border-radius: 50%
}

.navbar .navbar-nav .dropdown-menu-right {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}
/*end user*/


body {
    font-family: 'DroidArabicKufiRegular';
    line-height: 1.25;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

table tr:nth-child(even) {
    background: #f8f8f8;
}

table th,
table td {
    padding: .625em;
    text-align: center;
    font-family: 'DroidArabicKufiRegular';
}

table th {
    font-family: 'DroidArabicKufiRegular';
    background-image: linear-gradient(0deg, #333,#dfdbd4);
    color: #fff;
    font-size: .85em;
    /*letter-spacing: .1em;
        text-transform: none;*/
}

/*table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }*/
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.Color-Code {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.el-alert__title {
    font-size: 30px;
}

.SuperPackage {
    float: right;
    font-size: 25px;
    font-weight: bold;
}

* {
    margin: 0;
    font-family: 'DroidArabicKufiRegular';
}

a {
    text-decoration: none;
}



#darkBack {
    width: 100%;
    height: 100vh;
    background: rgba(76, 56, 75, .15);
}

#popUp {
    z-index: 1;
    position: fixed;
    max-width: 350px;
    height: 225px;
    background: rgba(236, 240, 241, 1);
    border: 7px solid #fff;
    bottom: 0;
    margin-left: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#new span {
    background: #fff;
    position: absolute;
    color: #1c8dc4;
    padding: 4px 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: -5px;
}

#popUp .close {
    color: #464646;
    right: 8px;
    top: 0px;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
}

#popUp h2 {
    font-size: 17px;
    color: #464646;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
    padding: 0 20px;
}

#body {
    height: 1200px;
    background: #eee;
}

a.button {
    margin: 0 auto;
    text-align: center;
    right: 0;
    left: 0;
    position: absolute;
    width: 120px;
    font-size: 15px;
    color: #fff;
    border-bottom: 2px solid #18729f;
    background: #1c8dc4;
    border-radius: 4px;
    padding: 8px 0;
}

#plus {
    z-index: 1;
    position: fixed;
    color: #fff;
    bottom: 15%;
    font-size: 15px;
    margin-left: -425px;
    -webkit-transition: all 1.25s ease;
    -moz-transition: all 1.25s ease;
    -o-transition: all 1.25s ease;
    transition: all 1.25s ease;
    cursor: pointer;
    text-align: left;
    letter-spacing: 1px;
}

#plus span {
    position: absolute;
    margin-top: 38px;
    left: 4px;
}

#plus::after {
    content: '';
    display: block;
    display: relative;
    border-top: 55px solid transparent;
    border-bottom: 55px solid transparent;
    border-left: 55px solid red;
}

@media all and (max-width:1300px) {
    #fdw-pricing-table .plan {
        width: 160px !important;
    }
}

@media all and (max-width:1154px) {
    #fdw-pricing-table .plan {
        width: 140px !important;
    }
}

@media all and (max-width:1060px) {
    #fdw-pricing-table .plan {
        width: 130px !important;
    }
}

@media all and (max-width:1018px) {
    #fdw-pricing-table .plan {
        width: 120px !important;
    }
}

@media all and (max-width: 900px) {
    #popUp {
        margin-left: -425px;
    }

    #plus {
        margin-left: 0px;
    }
}




@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.snip1493 {
    font-family: 'DroidArabicKufiRegular';
    position: relative;
    float: right;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: right;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1493 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip1493:after {
    position: absolute;
    top: 12px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent #d2652d;
    content: '';
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.snip1493 img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
}

.snip1493 figcaption {
    padding: 20px 20px 30px;
    background-color: #ffffff;
}

.snip1493 .date {
    background-color: #d2652d;
    top: 15px;
    color: #fff;
    right: 15px;
    min-height: 48px;
    min-width: 48px;
    position: absolute;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50%;
    padding: 10px 0;
}

.snip1493 .date span {
    display: block;
    line-height: 14px;
}

.snip1493 .date .month {
    font-size: 11px;
}

.snip1493 h3,
.snip1493 p {
    margin: 0;
    padding: 0;
}

.snip1493 h3 {
    font-family: 'DroidArabicKufiRegular';
    font-size: large;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 700;
}

.snip1493 p {
    font-size: 0.8em;
    margin-bottom: 20px;
    line-height: 1.6em;
}



.snip1493 footer > div {
    display: inline-block;
    margin-right: 6px;
}

.snip1493 footer i {
    margin-right: 5px;
    font-size: 1.2em;
}

.snip1493 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.snip1493:hover:after,
.snip1493.hover:after {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}



.elevation-1 {
    margin: 20px !important;
}

@font-face {
    font-family: 'DroidArabicKufiRegular';
    src: url('fonts/DroidKufi-Regular.eot') format('embedded-opentype'), url('fonts/DroidKufi-Regular.woff') format('woff'), url('fonts/FrutigerLTArabic-45Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'DroidArabicKufiRegular';
}

label {
    color: black !important;
}


.card .content {
    padding: 30px !important;
}

.selectCompany {
    margin-top: 15px;
    margin-bottom: 70px;
    /* width: 500px; */
    /* margin-left: 1px; */
    /* display: block; */
    float: right;
}

.headerCustom {
    text-align: left;
    padding: 15px 15px 0;
    height: 70px;
}
