﻿<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">إضــافة الحدث</h4>
                </div>
                <div class="content" style="color:black!important">

                    <form>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>اسم الحدت</label>
                                    <input class="form-control" placeholder="ادخل اسم الحدت" v-model="form.Name" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label>مكان الحدث</label>
                                <div class="form-group" >
                                    <el-select style="width: 100%;" v-model="form.HostId" filterable placeholder="اختار المكان">
                                        <el-option v-for="item in Hosts"
                                                   :key="item.hostId"
                                                   :label="item.name.slice(0,25)"
                                                   :value="item.hostId">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>المحاضر</label>
                                <div class="form-group">
                                    <el-select id="trainerId"
                                               v-model="form.TeacherId" filterable placeholder="اختار الاستاذ"
                                               style="width: 100%;"
                                               >
                                        <el-option v-for="item in Trainers"
                                                   :key="item.trainerId"
                                                   :label="item.nameAr.slice(0,25) +' / '+ item.nameEn.slice(0,25)"
                                                   :value="item.trainerId">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>معلومـات</label>
                                    <textarea class="form-control" placeholder="معلومـات" v-model="form.Description" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>من وإلي (التاريخ)</label>
                                <div class="block">
                                    <el-date-picker style="width:100%" v-model="FromToDate"
                                                    type="daterange"
                                                    align="left"
                                                    unlink-panels
                                                    range-separator="\"
                                                    start-placeholder="من تاريخ"
                                                    end-placeholder="وحتي تاريخ">
                                    </el-date-picker>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>عدد الكراسي</label>
                                    <input type="text" class="form-control"
                                           v-model="form.MaximumNumberChair"
                                           placeholder="ادخل عدد الكراسي">
                                </div>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>سعر الافراد</label>
                                    <input type="text" class="form-control"
                                           v-model="form.PricePersonal"
                                           placeholder="ادخل السعر للافراد">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>سعر الشركات</label>
                                    <input type="text" class="form-control"
                                           v-model="form.PriceCompany"
                                           placeholder="ادخل سعر الشركات" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>التخفيض</label>
                                    <input type="number" class="form-control" placeholder="التخفيض (0 الي 100)"
                                           v-model="form.Discount">
                                </div>
                            </div>
                        </div>
                        <button type="submit" @click.prevent="Save()" class="btn btn-info btn-fill pull-right">حـفظ</button>
                        <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                        <div class="clearfix"></div>
                    </form>

                </div>
            </div>


        </div>
    </div>
</div>