﻿<div class="wrapper">
    <div class="sidebar-wrapper" dir="rtl">
        <div class="logo">
            <div class="simple-text logo-mini">
                <div class="logo-img">
                    <img src="../../../../Content/assets/img/mastr.png" />
                </div>
            </div>
            <a href="http://www.creative-tim.com" class="simple-text">
                CM SYM
            </a>
        </div>
        <div class="user">
            <div class="photo">
                <img :src="'http://localhost:4810/Users/GetUserImage?userId='+ loginDetails.userId +''">
            </div>
            <div class="user-info">
                <a @click="openProfile()" id="profile" class="collapsed"
                   data-toggle="collapse" style="cursor: pointer;" aria-expanded="false">
                    <span style="color: #57bbbf;">  <b class="caret"></b> {{loginDetails.fullName.slice(0,20)}} </span>
                </a>
                <div class="collapse" id="collapseExample" style="">
                    <ul class="nav">
                        <li class="nav-item">

                            <a class="nav-link" href="#" @click.prevent="href('/EditUsersProfile')">
                                <!--<span class="sidebar-mini">MP</span>-->
                                <span class="sidebar-normal">تعديل بيانات</span>
                            </a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" href="#" @click.prevent="href('/ChangePassword')">
                                <!--<span class="sidebar-mini">MP</span>-->
                                <span class="sidebar-normal"> تغيير كلمه المرور</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

      
        <ul class="nav">



            <li @click="active = 11" :class="{'active':11 == active }">
                <a href="#" @click.prevent="href('/Appointments')">
                    <i class="pe-7s-timer"></i>
                    <p>المواعيد</p>
                </a>
            </li>

            <li @click="active = 2" :class="{'active':2 == active}">
                <a href="#" @click.prevent="href('/Companies')">
                    <i class="pe-7s-culture"></i>
                    <p> الشركات</p>
                </a>

            </li>
            <li @click="active = 3" :class="{'active':3 == active}">
                <a href="#" @click.prevent="href('/Students')">
                    <i class="pe-7s-users"></i>
                    <p> الـعمـلاء</p>
                </a>
            </li>

            <li @click="active = 9" :class="{'active':9 == active}">
                <a href="#" @click.prevent="href('/Trainers')">
                    <i class="pe-7s-portfolio"></i>
                    <p> المدربين</p>
                </a>
            </li>

            <li @click="active = 4" :class="{'active':4 == active}">
                <a href="#" @click.prevent="href('/Packages')">
                    <i class="pe-7s-server"></i>
                    <p>تصنيفات البرامج</p>
                </a>
            </li>
            <li @click="active = 5" :class="{'active':5 == active}">
                <a href="#" @click.prevent="href('/SubPackages')">
                    <i class="pe-7s-notebook"></i>
                    <p>الاحزمة التدريبية</p>
                </a>
            </li>
            <li @click="active = 6" :class="{'active':6 == active}">
                <a href="#" @click.prevent="href('/Courses')">
                    <i class="pe-7s-news-paper"></i>
                    <p> الدورات الفردية</p>
                </a>
            </li>
            <li @click="active = 7" :class="{'active':7 == active}">
                <a href="#" @click.prevent="href('/Users')">
                    <i class="pe-7s-users"></i>
                    <p>المستخدمين</p>
                </a>
            </li>

            <li @click="active = 8" :class="{'active':8 == active}">
                <a href="#" @click.prevent="href('/EventLocation')">
                    <i class="pe-7s-news-paper"></i>
                    <p>المستضيفين</p>
                </a>
            </li>
            <li @click="active = 9" :class="{'active':9 == active}">
                <a href="#" @click.prevent="href('/Events')">
                    <i class="pe-7s-news-paper"></i>
                    <p>الأحداث</p>
                </a>
            </li>
            <li @click="active = 10" :class="{'active':10 == active}">
                <a href="#" @click.prevent="href('/UserRegister')">
                    <i class="pe-7s-news-paper"></i>
                    <p>تـسجيل العملاء</p>
                </a>
            </li>

            <li @click="active = 1" :class="{'active':1 == active}" >
                <a href="#" @click.prevent="href('/SentMessages')">
                    <i class="pe-7s-bell"></i>
                    <p>ارسال التنبيهات</p>
                </a>
            </li>

            <!--<li @click="active = 9" :class="{'active':10 == active}">
        <a href="#" @click.prevent="href('/EventAgenda')">
            <i class="pe-7s-news-paper"></i>
            <p>الاجنده</p>
        </a>
    </li>-->
            <!--<li>
        <a href="icons.html">
            <i class="pe-7s-science"></i>
            <p>Icons</p>
        </a>
    </li>
    <li>
        <a href="maps.html">
            <i class="pe-7s-map-marker"></i>
            <p>Maps</p>
        </a>
    </li>
    <li>
        <a href="notifications.html">
            <i class="pe-7s-bell"></i>
            <p>Notifications</p>
        </a>
    </li>
    <li class="active-pro">
        <a href="upgrade.html">
            <i class="pe-7s-rocket"></i>
            <p>Upgrade to PRO</p>
        </a>
    </li>-->
        </ul>
    </div>

</div>