﻿<div>
    <div class="login-wrapper">
        <div class="login-panel">
            <div class="login-logo">
                <img style="padding-top: 40px;padding-bottom: 13px;" src="../../Content/Images/logo.png" />
            </div>
            <div class="login-control-group">
                <label>Email</label>
                <input v-model="form.Email" type="text" class="login-control" />
            </div>
            <div class="login-control-group">
                <label>Password</label>
                <input v-model="form.Password" type="password" class="login-control" />
            </div>
            <div class="login-control-group text-right">
                <button @click.prevent="login()" class="login-button">Login</button>
                <!--<a class="login-forgot-link" href="#">Forgot Password?</a>-->
            </div>
        </div>

        <div class="login-footer-panel">
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
        </div>
    </div>

</div>