﻿<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">بيانات الأحدات </h4>
                </div>
                <div class="content" style="color:black!important">
                   
                    <form>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>نوع المحتوى</label>

                                    <el-select style="width: 220px;" @change="SelectSuperPackage()"
                                               v-model="PackageAppend" filterable placeholder="اختار باقة الحزم">
                                        <el-option v-for="item in SuperPackages"
                                                   :key="item.superPackageId+','+item.contentType+','+item.pricePersonal+','+item.priceCompany+','+item.discount"
                                                   :label="item.name.slice(0,25)"
                                                   :value="item.superPackageId+','+item.contentType+','+item.pricePersonal+','+item.priceCompany+','+item.discount">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="col-md-4" v-if="PackagesFlage">

                                <div class="form-group">
                                    <label>الحزم الفرديه</label>
                                    <el-select style="width: 220px;" v-model="SelectedPackageAppend"
                                               @change="SelectPackage()"
                                               filterable placeholder="نوع الحزم الفردية"
                                               v-if="PackagesFlage">
                                        <el-option v-for="item in Packages"
                                                   :key="item.id +','+item.pricePersonal+','+item.priceCompany+','+item.discount"
                                                   :label="item.name.slice(0,25)"
                                                   :value="item.id+','+item.pricePersonal+','+item.priceCompany+','+item.discount">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="col-md-4" v-if="CoursesFlage">
                                <div class="form-group">
                                    <label>الدوره التدريبيه</label>
                                    <el-select style="width: 220px;"
                                               v-model="SelectedCourseTypeAppend" filterable
                                               v-if="CoursesFlage"
                                               placeholder="اختار نوع الدوره">
                                        <el-option v-for="item in Courses"
                                                   :key="item.courseId +','+item.pricePersonal+','+item.priceCompany+','+item.discount"
                                                   :label="item.name.slice(0,35)"
                                                   :value="item.courseId +','+item.pricePersonal+','+item.priceCompany+','+item.discount">
                                        </el-option>

                                    </el-select>
                                </div>

                                <!--<div v-if="Courses==0">
                    <el-alert title="عفــوا! لاتوجد بيانات لدورات" style="font-size:small;"
                              type="info">
                    </el-alert>
                </div>-->
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>اسم الحدت</label>
                                    <input class="form-control" placeholder="ادخل اسم الحدت" v-model="form.Name" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>مكان الاحدت</label>

                                    <el-select v-model="SelectedHosts" filterable placeholder="اختار المكان">
                                        <el-option v-for="item in Hosts"
                                                   :key="item.hostId"
                                                   :label="item.name.slice(0,25)"
                                                   :value="item.hostId">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>المحاضر</label>

                                    <el-select id="trainerId"
                                               v-model="SelectedTrainer" filterable placeholder="اختار الاستاذ">
                                        <el-option v-for="item in Trainers"
                                                   :key="item.trainerId"
                                                   :label="item.nameAr.slice(0,25) +' / '+ item.nameEn.slice(0,25)"
                                                   :value="item.trainerId">
                                        </el-option>

                                    </el-select>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>معلومـات</label>
                                    <textarea class="form-control" placeholder="معلومـات" v-model="form.Description" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label>من وإلي (التاريخ)</label>
                                <div class="block">

                                    <el-date-picker v-model="FromToDate"
                                                    type="daterange"
                                                    align="left"
                                                    unlink-panels
                                                    range-separator="\"
                                                    start-placeholder="من تاريخ"
                                                    end-placeholder="وحتي تاريخ">
                                    </el-date-picker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>سعر الافراد</label>
                                    <input type="text" class="form-control"
                                           v-model="form.PricePersonal"
                                           placeholder="ادخل السعر للافراد" disabled>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>سعر الشركات</label>
                                    <input type="text" class="form-control"
                                           v-model="form.PriceCompany"
                                           placeholder="ادخل سعر الشركات" disabled />
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>التخفيض</label>
                                    <input type="number" class="form-control" placeholder="التخفيض (0 الي 100)"
                                           v-model="form.Discount" disabled>
                                </div>
                            </div>

                        </div>


                        <div class="title">
                            <el-button type="primary" @click.prevent="PricePage()">إختيار الاسعار</el-button>

                        </div>
                        <el-dialog dir="rtl" title=" سعرافراد - شركات" :visible.sync="dialogFormVisible"
                                   :modalAppendToBody="false">
                            <br />
                            <!--Price-->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>سعر الافراد</label>
                                        <input type="text" class="form-control"
                                               v-model="form.PricePersonal"
                                               placeholder="ادخل السعر للافراد">
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>سعر الشركات</label>
                                        <input type="text" class="form-control"
                                               v-model="form.PriceCompany"
                                               placeholder="ادخل سعر الشركات" />
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>التخفيض</label>
                                        <input type="number" class="form-control" placeholder="التخفيض (0 الي 100)"
                                               v-model="form.Discount">
                                    </div>
                                </div>

                            </div>
                            <br />
                            <!--<el-checkbox v-model="checkAll" @change="handleCheckAllChange">تحديد الكل</el-checkbox>-->
                            <!--<div style="margin: 15px 0;" v-if="CoursesFlage">
                <el-checkbox-group v-model="packagecheckListPrice">
                    <label>سعر الافراد </label>
                    <el-checkbox :label="PackagepricePersonal">

                    </el-checkbox>
                    <label>سعر شركات </label>
                    <el-checkbox :label="PackagepriceCompany">

                    </el-checkbox>

                    <label> تخفيــض </label>
                    <el-checkbox :label="Packagediscount">

                    </el-checkbox>
                </el-checkbox-group>
            </div>-->
                            <div class="row">
                                <div class="col-md-12">
                                    <label>اختيار الاسعار (الباقات)</label>
                                    <div class="form-group">
                                        <label> أفراد</label>
                                        <el-checkbox :label="pricePersonal" :true-label="pricePersonal" v-model="form.PricePersonal"
                                                     border>

                                        </el-checkbox>
                                        <label> شركات</label>

                                        <el-checkbox :label="priceCompany" :true-label="priceCompany" v-model="form.PriceCompany"
                                                     border size="large">
                                        </el-checkbox>


                                        <label> التخفيض</label>
                                        <el-checkbox :label="discount" :true-label="discount" v-model="form.Discount" border>

                                        </el-checkbox>


                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" v-if="PackagesFlage && SelectedPackage!=''">
                                    <label>اختيار الاسعار (الحزم الفرديه)</label>
                                    <div class="form-group">
                                        <label> أفراد</label>
                                        <el-checkbox :label="PackagepricePersonal" :true-label="PackagepricePersonal"
                                                     v-model="form.PricePersonal"
                                                     border>

                                        </el-checkbox>
                                        <label> شركات</label>

                                        <el-checkbox :label="PackagepriceCompany"
                                                     :true-label="PackagepriceCompany"
                                                     v-model="form.PriceCompany"
                                                     border>
                                        </el-checkbox>


                                        <label> التخفيض</label>
                                        <el-checkbox :label="Packagediscount"
                                                     :true-label="Packagediscount"
                                                     v-model="form.Discount" border>

                                        </el-checkbox>


                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label>اختيار الاسعار (الدورات)</label>
                                    <div class="form-group">
                                        <label> أفراد</label>
                                        <el-checkbox :label="CoursepricePersonal"
                                                     :true-label="CoursepricePersonal"
                                                     v-model="form.PricePersonal"
                                                     border>

                                        </el-checkbox>
                                        <label> شركات</label>

                                        <el-checkbox :label="CoursepriceCompany"
                                                     :true-label="CoursepriceCompany"
                                                     v-model="form.PriceCompany"
                                                     border size="large">
                                        </el-checkbox>


                                        <label> التخفيض</label>
                                        <el-checkbox :label="Coursediscount"
                                                     :true-label="Coursediscount"
                                                     v-model="form.Discount" border>

                                        </el-checkbox>


                                    </div>
                                </div>
                            </div>
                            <span style="float:left">
                                <el-button @click="dialogFormVisible = false">خروج</el-button>
                                <el-button type="primary" @click.prevent="Getprice()">اختيار</el-button>
                            </span>
                            <br /><br />





                        </el-dialog>

                        <button type="submit" @click.prevent="Save()" class="btn btn-info btn-fill pull-right">حـفظ</button>

                        <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                        <div class="clearfix"></div>
                    </form>

                </div>
            </div>
          

        </div>
    </div>
</div>