﻿<div class="content" dir="rtl">

    <div class="container-fluid" dir="rtl" v-if="state==0">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                        </div>
                        <div class="card-title" style="font-size: 18px;font-weight:bold">إضافة الطلبه  </div>

                        <form>
                            <button type="submit" @click.prevent="Add()" class="btn btn-primary btn-fill pull-right">اضافة+</button>
                            <div class="clearfix"></div>
                        </form>

                        <div class="row">
                            <div class="col-sm-12">

                            </div>
                        </div>



                        <table cellpadding="0" cellspacing="0">
                            <tr class="top">
                                <td colspan="2">
                                    <table>
                                        <tr>

                                            <td class="title" style="background-color: #58caca;">
                                                <span> فاتوره رقم  {{CustomersInformationList.invoiceId}}<br></span>
                                            </td>

                                            <td class="title" style="background-color: #58caca;direction:ltr">

                                                <span> بتاريخ: {{CustomersInformationList.createdOn | moment}}<br></span>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr class="information">
                                <td colspan="2">
                                    <table>
                                        <tr>
                                            <td>
                                                المستهدفين:
                                                <span>
                                                    <span v-if="CustomersInformationList.customerType==1">
                                                        {{CustomersInformationList.companyName}}
                                                    </span>
                                                    <span v-if="CustomersInformationList.customerType==2">
                                                        {{CustomersInformationList.nameAr}}
                                                    </span>

                                                </span>
                                                <span>
                                                </span>
                                                <p />

                                                الحدت:
                                                <span>{{CustomersInformationList.eventTitle}}</span>


                                            </td>

                                            <td>
                                                نوع الاشتراك:
                                                <span v-if="CustomersInformationList.customerType==1">
                                                    شركــات
                                                </span>
                                                <span v-if="CustomersInformationList.customerType==2">
                                                    أفراد
                                                </span>
                                                </p>
                                                عدد المقاعد :
                                                <span>{{CustomersInformationList.numberOfChair}}</span>
                                                <span> </span>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span v-if="CountChairleft==0" :class="{ active: CountChairleft==0 }">
                                        المقاعد المتبقيه:{{CountChairleft}}
                                    </span>
                                    <span v-else>
                                        المقاعد المتبقيه:{{CountChairleft}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <label v-if="CustomersInformationList.customerType!=''">اختر المتدرب</label>
                                                <el-select v-if="CustomersInformationList.customerType!=''" style="width:100%;"
                                                           v-model="SubscriberId" filterable placeholder="اختر">
                                                    <el-option v-for="item in CustomerList"
                                                               :key="item.studentId"
                                                               :label="item.nameAr"
                                                               :value="item.studentId">
                                                    </el-option>
                                                </el-select>
                                            </td>
                                            <td>
                                                <button v-if="SubscriberId!='' && CountChairleft!=0"
                                                        type="submit" @click.prevent="AddAsActiveStudent(SubscriberId)" class="btn btn-primary btn-fill pull-right">
                                                    اضافة+
                                                </button>

                                            </td>
                                        </tr>
                                    </table>

                                </td>
                                <td></td>
                            </tr>

                            <tr class="heading">

                                <td>
                                    <br />
                                </td>
                            </tr>

                            <tr class="heading" v-if="CustomerList!=0">
                                <td colspan="2">
                                    <table class="table table-hover table-striped">
                                        <tbody style="text-align:center">
                                            <tr style="background-color: #58caca;">
                                                <td>
                                                    <span style="font-size: 14px;font-weight:bold">
                                                        الرقم التسلسلي
                                                    </span>
                                                </td>
                                                <td>
                                                    <span style="font-size: 14px;font-weight:bold">
                                                        ألاسم بالعربــي
                                                    </span>
                                                </td>
                                                <td>
                                                    <span style="font-size: 14px;font-weight:bold">
                                                        الإسم بالانجلـــيزي
                                                    </span>
                                                </td>
                                                <td>
                                                    <span style="font-size: 14px;font-weight:bold">
                                                        العمل الحــالي
                                                    </span>
                                                </td>
                                                <td>
                                                    <span style="font-size: 14px;font-weight:bold">
                                                        البريد الإلكتروني
                                                    </span>
                                                </td>

                                                <td>
                                                    <span style="font-size: 14px;font-weight:bold">
                                                        العمليات
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tbody style="text-align:center">

                                            <tr v-for="invStudent in ActualStudentList" style="font-size:16px;">
                                                <td>{{invStudent.studentId}}</td>

                                                <td>{{invStudent.nameAr}}</td>
                                                <td>{{invStudent.nameEn}}</td>
                                                <td>{{invStudent.currentJob}}</td>
                                                <td>{{invStudent.email}}</td>

                                                <td>
                                                    <a title="الغاء من القائمه" href="#"
                                                       @click.prevent="deleteFromActiveStudentList(invStudent.studentId)
                                                   ">
                                                        <i class="fa fa-minus-square"></i>
                                                    </a>
                                                </td>

                                            </tr>
                                            <tr v-for="invStudent in NowActiveStudents"
                                                style="font-size:16px;">
                                                <td :class="{ backgrondcls: invStudent.isHaveCourse }">{{invStudent.studentId}}</td>

                                                <td :class="{ backgrondcls: invStudent.isHaveCourse }">{{invStudent.nameAr}}</td>
                                                <td :class="{ backgrondcls: invStudent.isHaveCourse }">{{invStudent.nameEn}}</td>
                                                <td :class="{ backgrondcls: invStudent.isHaveCourse }">{{invStudent.currentJob}}</td>
                                                <td :class="{ backgrondcls: invStudent.isHaveCourse }">{{invStudent.email}}</td>

                                                <td>

                                                    <a title="حدف من للدوره" href="#"
                                                       @click.prevent="DeleteActiveStudent(invStudent.studentId)
                                                   ">
                                                        <i class="fa fa-remove" style="color:red"></i>
                                                    </a>

                                                </td>

                                            </tr>


                                        </tbody>

                                    </table>
                                </td>
                            </tr>

                            <tr class="heading" v-if="CustomerList==0 ">
                                <td>
                                    <div class="NoData">
                                        <el-alert title="عفــوا! لاتوجد بيانات طلبه "
                                                  type="info">
                                        </el-alert>
                                    </div>
                                </td>

                                <td></td>
                                <!--<td>
                                    السعر بعد التخفيض
                                </td>-->
                            </tr>

                        </table>
                        <div class="clearfix"></div>
                        <button type="button" @click.prevent="Save()" v-if="ActualStudentList!=0" class="btn btn-info btn-fill pull-right">حـفظ</button>

                        <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                        <div class="clearfix"></div>
                    </div>
                </div>


            </div>
        </div>
    </div> <!--@close="isclose"-->
    <el-dialog dir="rtl" title="إضافة فردي - شركات" :visible.sync="dialogFormVisible"
               :modalAppendToBody="false" center>

        <div class="container-fluid" dir="rtl">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                            </div>

                            <div class="card-title" style="font-size:18px;font-weight:bold">بيانات المتدرب </div>

                        </div>
                        <!--<div class="header">
                        <h4 class="title">بيانات المتدرب</h4>
                    </div>-->
                        <div class="content" style="color:black!important">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>الاسم التلاثي</label>
                                            <input type="text" class="form-control" placeholder="الاسم التلاثي" v-model="form.NameAr">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>الأسم التلاثي (انجليزي)</label>
                                            <input type="text" class="form-control" placeholder="الاسم التلاثي انجليزي" v-model="form.NameEn">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>الجنسية</label>
                                            <input type="text" v-model="form.Nationality" class="form-control" placeholder="الجنسية" value="Creative Code Inc.">
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>تاريخ الميلاد</label>
                                            <div class="block">
                                                <el-date-picker v-model="form.BirthDate"
                                                                type="date"
                                                                placeholder="تاريخ الميلاد">
                                                </el-date-picker>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">رقم الهاتف 1</label>
                                            <input v-model="form.PhoneNumber1" type="text" class="form-control" placeholder="رقم الهاتف">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>رقم الهاتف 2</label>
                                            <input v-model="form.PhoneNumber2" type="text" class="form-control" placeholder="رقم الهاتف" value="Mike">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>العمل الحالي</label>
                                            <input v-model="form.CurrentJob" type="text" class="form-control" placeholder="العمل الحالي" value="Andrew">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>عدد سنوات الخبرة</label>
                                            <input v-model="form.ExperinceNumbers" type="number" class="form-control" placeholder="سنوات الخبرة">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>الـبريد الإلكتروني</label>
                                            <input v-model="form.Email" type="text" class="form-control" placeholder="الـبريد الإلكتروني" value="Mike">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>مكـان السكن</label>
                                            <input v-model="form.Location" type="text" class="form-control" placeholder="الاقامة" value="Andrew">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group UploadButton">

                                            <label for="file-upload" class="custom-file-upload">
                                                <i class="fa fa-cloud-upload"></i> {{Selectedfile}}
                                            </label>

                                            <input accept="image/jpg" @change="FileChanged($event)" id="file-upload" type="file" />
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" @click.prevent="Savenew()" class="btn btn-info btn-fill pull-right">حـفظ</button>
                                <!--<button type="submit" @click="dialogFormVisible = false" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>-->
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<add-new-active-student :companyId="CustomersInformationList.companyId"></add-new-active-student>-->
    </el-dialog>
</div>