﻿
  <template src="./AddActivateStudents.html"></template>
  <script src="./AddActivateStudents.js"></script>
<style scoped>
    .active {
        background-color: red;

    }
    .backgrondcls {
        background-color:coral;
    }
   
</style>
