﻿<template src="./EventTrainingKitSP.html">
</template>

<script src="./EventTrainingKitSP.js"></script>
<style scoped>
 
    body {
        font-family: 'Source Sans Pro', sans-serif;
    }

    h1 {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    h3 {
        margin-top: 0;
        font-weight: 300;
    }

    .container {
        width: 40em;
        margin: 10px auto;
    }

    

    .ac-label {
        font-weight: 700;
        position: relative;
        padding: .5em 1em;
        margin-bottom: .5em;
        display: block;
        cursor: pointer;
        background-color: whiteSmoke;
        transition: background-color .15s ease-in-out;
    }

    .ac-input:checked + label, .ac-label:hover {
        background-color: #999;
    }

    .ac-label:after, .ac-input:checked + .ac-label:after {
        content: "+";
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        width: 2em;
        height: 100%;
        line-height: 2.25em;
        text-align: center;
        background-color: #e5e5e5;
        transition: background-color .15s ease-in-out;
    }

    .ac-label:hover:after, .ac-input:checked + .ac-label:after {
        background-color: #b5b5b5;
    }

    .ac-input:checked + .ac-label:after {
        content: "-";
    }

    .ac-input {
        display: none;
    }

    // the magic

    .ac-text, .ac-sub-text {
        opacity: 0;
        height: 0;
        margin-bottom: .5em;
        transition: opacity .5s ease-in-out;
        overflow: hidden;
    }

    .ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text {
        opacity: 1;
        height: auto;
    }

    // sub-level

    .ac-sub .ac-label {
        background: none;
        font-weight: 600;
        padding: .5em 2em;
        margin-bottom: 0;
    }

    .ac-sub .ac-label:checked {
        background: none;
        border-bottom: 1px solid whitesmoke;
    }

    .ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
        left: 0;
        background: none;
    }

    .ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
        background: none;
    }

    .ac-sub-text {
        padding: 0 1em 0 2em;
    }



</style>