﻿<div class="content" dir="rtl">
    <div class="container-fluid">
        <div class="row">
          
            <div class="col-md-12">
                <div class="card" style="height: auto">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                        </div>
                        <h4 class="card-title" style="float: right;"> عرض التنبيهات </h4>
                    </div>
                    <div style="padding-left:22px;padding-bottom:1px">
                        <div class="card-body">
                            <div class="material-datatables">
                                <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row" style="padding-left:22px;padding-bottom:0px">
                                        <div class="page-content container" style="width:989px!important;">
                                            <div class="d-none">
                                                <a rel="pulls" href="/pulls" data-hotkey="g p">Pulls</a>
                                                <a rel="issues" href="/issues" data-hotkey="g i">Issues</a>
                                            </div>

                                            <div id="notification-center" class="notification-center" style="padding-right: 15px!important;">
                                                <div class="tabnav">
                                                    <div class="float-right">
                                                        <el-button @click="Sent()" type="primary" icon="el-icon-search" style="">قراءة الكل</el-button>
                                                        <!--11111-->
                                                    </div>
                                                    <nav class="tabnav-tabs" style="margin-top: 8%;">
                                                        <a class="tabnav-tab selected" href="/notifications">
                                                            <svg class="octicon octicon-bell" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M14 12v1H0v-1l.73-.58c.77-.77.81-2.55 1.19-4.42C2.69 3.23 6 2 6 2c0-.55.45-1 1-1s1 .45 1 1c0 0 3.39 1.23 4.16 5 .38 1.88.42 3.66 1.19 4.42l.66.58H14zm-7 4c1.11 0 2-.89 2-2H5c0 1.11.89 2 2 2z"></path></svg>
                                                            Notifications
                                                        </a>  <!--<a class="tabnav-tab " href="/watching">
                                                            <svg class="octicon octicon-eye" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z"></path></svg>
                                                            Watching
                                                        </a>-->
                                                    </nav>

                                                </div>

                                                <div class="gutter">
                                                    <div class="col-3 float-left">
                                                        <ul class="filter-list" data-pjax="">
                                                            <li>
                                                                <a href="#" v-if="IsReadOrNot==1" @click.prevent="Notification(1)" class="filter-item selected">
                                                                    <span class="count">{{UnReadCount}}</span>
                                                                    غير مقروء
                                                                </a>
                                                                <a href="#" v-if="IsReadOrNot!=1" @click.prevent="Notification(1)" class="filter-item">
                                                                    <span class="count">{{UnReadCount}}</span>
                                                                    غير مقروء
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" v-if="IsReadOrNot==2" @click.prevent="Notification(2)" class="filter-item selected">
                                                                    <span class="count">{{ReadCount}}</span>
                                                                    مقروء
                                                                </a>
                                                                <a href="#" v-if="IsReadOrNot!=2" @click.prevent="Notification(2)" class="filter-item">
                                                                    <span class="count">{{ReadCount}}</span>
                                                                    مقروء
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="#" v-if="IsReadOrNot==3" @click.prevent="Notification(3)" class="filter-item selected">
                                                                    <span class="count">{{later}}</span>
                                                                    حفظها لوقت لاحق
                                                                </a>
                                                                <a href="#" v-if="IsReadOrNot!=3" @click.prevent="Notification(3)" class="filter-item ">
                                                                    <span class="count">{{later}}</span>
                                                                    حفظها لوقت لاحق
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" v-if="IsReadOrNot==4" @click.prevent="Notification(4)" aria-current="page" class="filter-item selected">
                                                                    جميع التنبيهات
                                                                </a>
                                                                <a href="#" v-if="IsReadOrNot!=4" @click.prevent="Notification(4)" aria-current="page" class="filter-item">
                                                                    جميع التنبيهات
                                                                </a>
                                                            </li>
                                                        </ul>

                                                        <hr>
                                                        <!--<ul class="filter-list small">
                                                            <li>
                                                                <a href="/AbdullahElamir/nid/notifications?all=1" class="filter-item css-truncate " title="AbdullahElamir/nid">
                                                                    <span class="count">2</span>
                                                                    <span class="repo-and-owner css-truncate-target">
                                                                        AbdullahElamir/nid
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>-->
                                                    </div><!-- /.columns.sidebar -->
                                                    <div class="col-9 float-right js-navigation-container js-active-navigation-container">
                                                        <div class="notifications-list">


                                                            <div class="boxed-group flush js-notifications-browser">
                                                                <!-- '"` --><!-- </textarea></xmp> --><form class="boxed-group-action js-mark-visible-as-read" action="/notifications/mark" accept-charset="UTF-8" method="post">
                                                                    <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="sXkZWT9ycBlZ3fRZpEARV1xtl23o9gk92ErmcctNUQcuPAI84UhYXdoR7kt/q20oogFXmpn3TeU3a2V7FkRidQ==">                <input type="hidden" name="ids[]" value="435526525" class="form-control">
                                                                    <input type="hidden" name="ids[]" value="435512771" class="form-control">
                                                                    <p class="text-green js-mark-visible-as-read-success notification-success">Marked <strong v-if="IsReadOrNot==1">{{UnReadCount}} notifications</strong><strong v-if="IsReadOrNot==2">{{ReadCount}} notifications</strong><strong v-if="IsReadOrNot==3">{{later}} notifications</strong><strong v-if="IsReadOrNot==4">{{all}} notifications</strong> as read.</p>

                                                                    <!--<button type="submit" class="mark-all-as-read css-truncate tooltipped tooltipped-w" aria-label="Mark all nid notifications as read">
                                                                <svg class="octicon octicon-check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
                                                            </button>-->
                                                                </form>          <h3>
                                                                    <a title="AbdullahElamir/nid" class="css-truncate css-truncate-target notifications-repo-link" href="#">اخر التنبيهات</a>
                                                                </h3>
                                                                <ul class="boxed-group-inner list-group notifications" data-issue-and-pr-hovercards-enabled="" >
                                                                    <li v-for="Message in Messages" v-if="Message.isRead==IsReadOrNot || IsReadOrNot==4" class="list-group-item js-notification js-navigation-item read mark-as-unread-disabled issue-notification">
                                                                        <span class="list-group-item-name css-truncate">
                                                                            <span class="type-icon type-icon-state-open tooltipped tooltipped-w" aria-label="Open issue">
                                                                                <svg class="octicon octicon-issue-opened" viewBox="0 0 14 16" version="1.1" width="14" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7 2.3c3.14 0 5.7 2.56 5.7 5.7s-2.56 5.7-5.7 5.7A5.71 5.71 0 0 1 1.3 8c0-3.14 2.56-5.7 5.7-5.7zM7 1C3.14 1 0 4.14 0 8s3.14 7 7 7 7-3.14 7-7-3.14-7-7-7zm1 3H6v5h2V4zm0 6H6v2h2v-2z"></path></svg>
                                                                            </span>
                                                                            <a class="css-truncate-target js-notification-target js-navigation-open list-group-item-link" href="https://github.com/AbdullahElamir/nid/issues/2" aria-label=" Reset Password" data-hovercard-type="issue" data-hovercard-url="https://github.com/AbdullahElamir/nid/issues/2/hovercard?show_subscription_status=true" aria-describedby="hovercard-aria-description">
                                                                                {{Message.subject}}
                                                                            </a>
                                                                        </span>

                                                                        <ul class="notification-actions">

                                                                            <li class="delete">
                                                                                <!-- '"` --><!-- </textarea></xmp> --><form class="js-delete-notification" action="/AbdullahElamir/nid/notifications/mark?ids=435512771" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="EJ43iulR2fSR3hScNYDLZhSKHEBykpGpOLtt6lYwVbytFtEeLx0013Fh2BRM9BQ5bw0WA3xdIM7EhrNbX5no5Q==">
    <button type="submit" @click.prevent="MarkAsRead(Message)" v-if="IsReadOrNot!=2" aria-label="Mark as read" class="btn-link delete-note tooltipped tooltipped-w" data-octo-click="web-notification-mark-read" data-octo-dimensions="type:issue">
        <svg class="octicon octicon-check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
    </button>
    <button type="submit" @click.prevent="MarkAsUnRead(Message)" v-if="IsReadOrNot==2" aria-label="Mark as read" class="btn-link delete-note tooltipped tooltipped-w" data-octo-click="web-notification-mark-read" data-octo-dimensions="type:issue">
        <svg class="octicon octicon-check" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path></svg>
    </button>
</form>
                                                                            </li>

                                                                            <li class="mute ">
                                                                                <!-- '"` --><!-- </textarea></xmp> --><form class="js-mute-notification" action="/notifications/mute?id=435512771" accept-charset="UTF-8" method="post">
                                                                                    <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="lUXIt8RCw/rfYBGOEXdrCPEtMUV8bM5eDTPytef53cBDAj/c7LN0t5Fxi37uHAhpgQswzv6mvKMKa9XVQG/r4Q==">
                                                                                    <!--<button type="submit" aria-label="Unsubscribe from this thread" class="btn-link mute-note tooltipped tooltipped-w">
                                                                                        <svg class="octicon octicon-mute" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 2.81v10.38c0 .67-.81 1-1.28.53L3 10H1c-.55 0-1-.45-1-1V7c0-.55.45-1 1-1h2l3.72-3.72C7.19 1.81 8 2.14 8 2.81zm7.53 3.22l-1.06-1.06-1.97 1.97-1.97-1.97-1.06 1.06L11.44 8 9.47 9.97l1.06 1.06 1.97-1.97 1.97 1.97 1.06-1.06L13.56 8l1.97-1.97z"></path></svg>
                                                                                    </button>-->
                                                                                </form>
                                                                            </li>

                                                                            <li class="unmute">
                                                                                <!-- '"` --><!-- </textarea></xmp> --><form class="js-unmute-notification" action="/notifications/unmute?id=435512771" accept-charset="UTF-8" method="post">
                                                                                    <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="Iv3V0LOAIcS9qvILoYlut11AB9+Z28GrFL3KdSafADAax9HsTj79gYnN4j0jGBlQN+Zdb/0aYpQc/2zOUAkOsQ==">
                                                                                    <button type="submit" aria-label="Subscribe to this thread" class="btn-link mute-note tooltipped tooltipped-w">
                                                                                        <svg class="octicon octicon-unmute" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M12 8.02c0 1.09-.45 2.09-1.17 2.83l-.67-.67c.55-.56.89-1.31.89-2.16 0-.85-.34-1.61-.89-2.16l.67-.67A3.99 3.99 0 0 1 12 8.02zM7.72 2.28L4 6H2c-.55 0-1 .45-1 1v2c0 .55.45 1 1 1h2l3.72 3.72c.47.47 1.28.14 1.28-.53V2.81c0-.67-.81-1-1.28-.53zm5.94.08l-.67.67a6.996 6.996 0 0 1 2.06 4.98c0 1.94-.78 3.7-2.06 4.98l.67.67A7.973 7.973 0 0 0 16 8c0-2.22-.89-4.22-2.34-5.66v.02zm-1.41 1.41l-.69.67a5.05 5.05 0 0 1 1.48 3.58c0 1.39-.56 2.66-1.48 3.56l.69.67A5.971 5.971 0 0 0 14 8.02c0-1.65-.67-3.16-1.75-4.25z"></path></svg>
                                                                                    </button>
                                                                                </form>
                                                                            </li>

                                                                            <li class="js-save-notification">
                                                                                <!-- '"` --><!-- </textarea></xmp> --><form class="js-delete-saved-notification-thread" action="/_graphql/DeleteSavedNotificationThread" accept-charset="UTF-8" method="post" hidden="hidden">
                                                                                    <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="YZDJ4OX+ASPS0sHciPiEYDNXqob40cz5Gx17pwS93XX78oR3JGXh6zFuKdQZmfdvLT50EavWakhnwwL3YCQbVw==">
                                                                                    <button type="submit" aria-label="Remove saved notification" class="btn-link tooltipped tooltipped-w">
                                                                                        <svg class="octicon octicon-bookmark text-blue" viewBox="0 0 10 16" version="1.1" width="10" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M9 0H1C.27 0 0 .27 0 1v15l5-3.09L10 16V1c0-.73-.27-1-1-1zm-.78 4.25L6.36 5.61l.72 2.16c.06.22-.02.28-.2.17L5 6.6 3.12 7.94c-.19.11-.25.05-.2-.17l.72-2.16-1.86-1.36c-.17-.16-.14-.23.09-.23l2.3-.03.7-2.16h.25l.7 2.16 2.3.03c.23 0 .27.08.09.23h.01z"></path></svg>
                                                                                    </button>
                                                                                    <input type="hidden" name="variables[id]" value="MDE4Ok5vdGlmaWNhdGlvblRocmVhZDQzNTUxMjc3MToxMDY5NDUxMw==">
                                                                                </form>
                                                                                <!-- '"` --><!-- </textarea></xmp> --><form class="js-create-saved-notification-thread" action="/_graphql/CreateSavedNotificationThread" accept-charset="UTF-8" method="post">
                                                                                    <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="eA++r/pTQQBsDaK0AuhfEcXZm9th/gzeJ+iu7d+O2zr7yBkvs3A34Svu3EjWcNO5pDNd0DDsz4cqEsoOme9FNA==">
                                                                                    <button type="submit" @click.prevent="SaveForLater(Message)" aria-label="حفظها لوقت لاحق" class="btn-link tooltipped tooltipped-w">
                                                                                        <svg class="octicon octicon-bookmark unsaved-notification" viewBox="0 0 10 16" version="1.1" width="10" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M9 0H1C.27 0 0 .27 0 1v15l5-3.09L10 16V1c0-.73-.27-1-1-1zm-.78 4.25L6.36 5.61l.72 2.16c.06.22-.02.28-.2.17L5 6.6 3.12 7.94c-.19.11-.25.05-.2-.17l.72-2.16-1.86-1.36c-.17-.16-.14-.23.09-.23l2.3-.03.7-2.16h.25l.7 2.16 2.3.03c.23 0 .27.08.09.23h.01z"></path></svg>
                                                                                    </button>
                                                                                    <input type="hidden" name="variables[id]" value="MDE4Ok5vdGlmaWNhdGlvblRocmVhZDQzNTUxMjc3MToxMDY5NDUxMw==">
                                                                                </form>
                                                                            </li>

                                                                            <li class="age"> منذ {{Math.ceil(Math.abs(new Date().getTime() - new Date(Message.createdOn).getTime()) / (1000 * 3600 * 24))}} يوم</li>

                                                                            
                                                                            <div class="AvatarStack  AvatarStack--right clearfix d-inline-block" style="margin-top: 1px">
                                                                                <div class="AvatarStack-body tooltipped tooltipped-sw tooltipped-align-right-1" aria-label="الإدارة">
                                                                                    <a class="avatar" href="#"><img src="../../../../Content/Images/master.png" width="20" height="20"></a>
                                                                                </div>
                                                                            </div>

                                                                        </ul>
                                                                    </li>





                                                                </ul>
                                                            </div>

                                                            <div class="paginate-container">
                                                            </div>
                                                        </div>
                                                    </div><!-- /.columns.main -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
