﻿<template src="./ShowMessages.html">
</template>

<script src="./ShowMessages.js"></script>
<style>

    /*! CSS Used from: https://github.githubassets.com/assets/frameworks-a3b8a10d4a9e37a78f033ef4a4f525f5.css ; media=all */
    @media all {
        .octicon {
            display: inline-block;
            fill: currentColor;
            vertical-align: text-top;
        }

        body.intent-mouse button:focus {
            outline: none;
        }

        nav {
            display: block;
        }

        [hidden] {
            display: none !important;
        }

        a {
            background-color: transparent;
        }

            a:active, a:hover {
                outline-width: 0;
            }

        img {
            border-style: none;
        }

        svg:not(:root) {
            overflow: hidden;
        }

        hr {
            box-sizing: content-box;
            height: 0;
            overflow: visible;
        }

        button, input {
            font: inherit;
            margin: 0;
        }

        button, input {
            overflow: visible;
        }

        button {
            text-transform: none;
        }

        [type=submit], button {
            -webkit-appearance: button;
        }

            [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
                border-style: none;
                padding: 0;
            }

            [type=submit]:-moz-focusring, button:-moz-focusring {
                outline: 1px dotted ButtonText;
            }

        ::-webkit-input-placeholder {
            color: inherit;
            opacity: .54;
        }

        * {
            box-sizing: border-box;
        }

        button, input {
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
        }

        a {
            color: #0366d6;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }

        hr {
            background: transparent;
            border: 0;
            border-bottom: 1px solid #dfe2e5;
            height: 0;
            margin: 15px 0;
            overflow: hidden;
        }

            hr:before {
                content: "";
                display: table;
            }

            hr:after {
                clear: both;
                content: "";
                display: table;
            }

        button {
            border-radius: 0;
            cursor: pointer;
        }

        [hidden][hidden] {
            display: none !important;
        }

        h3 {
            margin-bottom: 0;
            margin-top: 0;
        }

        h3 {
            font-size: 20px;
        }

        h3 {
            font-weight: 600;
        }

        ul {
            margin-bottom: 0;
            margin-top: 0;
            padding-right: 0;
        }

        .octicon {
            vertical-align: text-bottom;
        }

        .btn-link {
            -moz-appearance: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-appearance: none;
            -webkit-user-select: none;
            appearance: none;
            background-color: transparent;
            border: 0;
            color: #0366d6;
            cursor: pointer;
            display: inline-block;
            font-size: inherit;
            padding: 0;
            text-decoration: none;
            user-select: none;
            white-space: nowrap;
        }

            .btn-link:hover {
                text-decoration: underline;
            }

            .btn-link:disabled, .btn-link:disabled:hover {
                color: rgba(88,96,105,.5);
                cursor: default;
            }

        :-ms-input-placeholder {
            color: #6a737d;
        }

        ::-ms-input-placeholder {
            color: #6a737d;
        }

        ::placeholder {
            color: #6a737d;
        }

        .container {
            margin-right: auto;
            margin-left: auto;
            width: 980px;
        }

            .container:before {
                content: "";
                display: table;
            }

            .container:after {
                clear: both;
                content: "";
                display: table;
            }

        .col-3 {
            width: 25%;
        }

        .col-9 {
            width: 75%;
        }

        .gutter {
            margin-right: -16px;
            margin-left: -16px;
        }

            .gutter > [class*=col-] {
                padding-right: 16px !important;
                padding-left: 16px !important;
            }

        .tabnav {
            border-bottom: 1px solid #d1d5da;
            margin-bottom: 15px;
            margin-top: 0;
        }

        .tabnav-tabs {
            margin-bottom: -1px;
        }

        .tabnav-tab {
            background-color: transparent;
            border: 1px solid transparent;
            border-bottom: 0;
            color: #586069;
            display: inline-block;
            font-size: 14px;
            line-height: 20px;
            padding: 8px 12px;
            text-decoration: none;
        }

            .tabnav-tab.selected {
                background-color: #fff;
                border-color: #d1d5da;
                border-radius: 3px 3px 0 0;
                color: #24292e;
            }

            .tabnav-tab:focus, .tabnav-tab:hover {
                color: #24292e;
                text-decoration: none;
            }

        .filter-list {
            list-style-type: none;
        }

            .filter-list.small .filter-item {
                font-size: 12px;
                margin: 0 0 2px;
                padding: 4px 10px;
            }

        .filter-item {
            border-radius: 3px;
            color: #586069;
            cursor: pointer;
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
            overflow: hidden;
            padding: 8px 10px;
            position: relative;
            text-decoration: none;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

            .filter-item:hover {
                background-color: #eaecef;
                text-decoration: none;
            }

            .filter-item.selected {
                background-color: #0366d6;
                color: #fff;
            }

            .filter-item .count {
                float: left;
                font-weight: 600;
            }

        .paginate-container {
            margin-bottom: 15px;
            margin-top: 20px;
            text-align: center;
        }

        .tooltipped {
            position: relative;
        }

            .tooltipped:after {
                -webkit-font-smoothing: subpixel-antialiased;
                background: #1b1f23;
                border-radius: 3px;
                color: #fff;
                content: attr(aria-label);
                display: none;
                font: normal normal 11px/1.5 -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
                letter-spacing: normal;
                opacity: 0;
                padding: .5em .75em;
                pointer-events: none;
                position: absolute;
                text-align: center;
                text-decoration: none;
                text-shadow: none;
                text-transform: none;
                white-space: pre;
                word-wrap: break-word;
                z-index: 1000000;
            }

            .tooltipped:before {
                border: 6px solid transparent;
                color: #1b1f23;
                content: "";
                display: none;
                height: 0;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                width: 0;
                z-index: 1000001;
            }

            .tooltipped:active:after, .tooltipped:active:before, .tooltipped:focus:after, .tooltipped:focus:before, .tooltipped:hover:after, .tooltipped:hover:before {
                animation-delay: .4s;
                animation-duration: .1s;
                animation-fill-mode: forwards;
                animation-name: tooltip-appear;
                animation-timing-function: ease-in;
                display: inline-block;
                text-decoration: none;
            }

        .tooltipped-sw:after {
            margin-top: 6px;
            left: 50%;
            top: 100%;
        }

        .tooltipped-sw:before {
            border-bottom-color: #1b1f23;
            bottom: -7px;
            margin-left: -6px;
            left: 50%;
            top: auto;
        }

        .tooltipped-sw:after {
            margin-left: -16px;
        }

        .tooltipped-w:after {
            bottom: 50%;
            margin-left: 6px;
            left: 100%;
            transform: translateY(50%);
        }

        .tooltipped-w:before {
            border-right-color: #1b1f23;
            bottom: 50%;
            right: -7px;
            margin-top: -6px;
            top: 50%;
        }

        .tooltipped-align-right-1:after {
            margin-left: 0;
            left: 0;
        }

        .tooltipped-align-right-1:before {
            left: 10px;
        }

        .css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
            display: inline-block;
            max-width: 125px;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;
            white-space: nowrap;
        }

        .text-blue {
            color: #0366d6 !important;
        }

        .clearfix:before {
            content: "";
            display: table;
        }

        .clearfix:after {
            clear: both;
            content: "";
            display: table;
        }

        .float-left {
            float: right !important;
        }

        .float-right {
            float: left !important;
        }

        .d-inline-block {
            display: inline-block !important;
        }

        .d-none {
            display: none !important;
        }
    }
    /*! CSS Used from: https://github.githubassets.com/assets/github-4b08bc3ddfd467485583696085f5960e.css ; media=all */
    @media all {
        .avatar {
            border-radius: 3px;
            display: inline-block;
            line-height: 1;
            overflow: hidden;
            vertical-align: middle;
        }

        .AvatarStack {
            height: 20px;
            min-width: 26px;
            position: relative;
        }

            .AvatarStack .AvatarStack-body {
                position: absolute;
            }

            .AvatarStack.AvatarStack--two {
                min-width: 36px;
            }

        .AvatarStack-body {
            background: #fff;
            display: flex;
        }

            .AvatarStack-body .avatar {
                background-color: #fff;
                border-radius: 2px;
                border-left: 1px solid #fff;
                box-sizing: content-box;
                display: flex;
                height: 20px;
                margin-left: -11px;
                position: relative;
                transition: margin .1s ease-in-out;
                width: 20px;
                z-index: 2;
            }

                .AvatarStack-body .avatar:first-child {
                    z-index: 3;
                }

                .AvatarStack-body .avatar:last-child {
                    border-left: 0;
                    z-index: 1;
                }

                .AvatarStack-body .avatar img {
                    border-radius: 2px;
                }

            .AvatarStack-body:hover .avatar {
                margin-left: 3px;
            }

        .AvatarStack--right .AvatarStack-body {
            flex-direction: row-reverse;
            left: 0;
        }

            .AvatarStack--right .AvatarStack-body:hover .avatar {
                margin-right: 3px;
                margin-left: 0;
            }

        .AvatarStack--right .avatar {
            border-right: 1px solid #fff;
            border-left: 0;
            margin-right: -11px;
            margin-left: 0;
        }

        .boxed-group {
            border-radius: 3px;
            margin-bottom: 30px;
            position: relative;
        }

            .boxed-group.flush .boxed-group-inner {
                padding: 0;
            }

            .boxed-group > h3 {
                background-color: #f6f8fa;
                border: 1px solid rgba(27,31,35,.15);
                border-bottom: 0;
                border-radius: 3px 3px 0 0;
                display: block;
                font-size: 14px;
                line-height: 17px;
                margin: 0;
                padding: 9px 10px 10px;
            }

                .boxed-group > h3 a {
                    color: inherit;
                }

        .boxed-group-inner {
            background: #fff;
            border: 1px solid #d1d5da;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            color: #586069;
            padding: 10px;
        }

        .list-group-item {
            border: 1px solid #e1e4e8;
            display: block;
            margin-bottom: -1px;
            padding: 8px 40px 10px 10px;
            position: relative;
        }

            .list-group-item:before {
                content: "";
                display: table;
            }

            .list-group-item:after {
                clear: both;
                content: "";
                display: table;
            }

            .list-group-item a:hover {
                text-decoration: none;
            }

            .list-group-item:first-child {
                border-top-right-radius: 3px;
                border-top-left-radius: 3px;
            }

            .list-group-item:last-child {
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
                margin-bottom: 0;
            }

            .list-group-item.navigation-focus, .list-group-item[aria-selected=true] {
                background-color: #f1f8ff;
            }

            .list-group-item .type-icon {
                position: relative;
                text-align: center;
                top: 1px;
                vertical-align: middle;
                width: 16px;
            }

        .list-group-item-name {
            font-size: 15px;
            line-height: 1.3;
            margin: 0 0 2px 60px;
            word-wrap: break-word;
        }

            .list-group-item-name .type-icon {
                float: right;
                margin-right: -24px;
                margin-top: 1px;
            }

        .list-group-item-link {
            color: #24292e;
        }

        .navigation-focus .AvatarStack-body, [aria-selected=true] .AvatarStack-body {
            background: #f6fbff;
        }

        [hidden] {
            display: none !important;
        }

        .page-content {
            padding-top: 20px;
        }

        .notifications .list-group-item {
            border-width: 1px 0 0;
            padding-bottom: 8px;
            padding-right: 35px;
            padding-top: 8px;
        }

            .notifications .list-group-item:first-child {
                border: 0;
            }

        .notifications .list-group-item-name {
            display: block;
            font-size: 14px;
            line-height: 1.5em;
            max-width: 400px;
        }

            .notifications .list-group-item-name a {
                display: block;
                max-width: 460px;
            }

        .notifications .read .list-group-item-name > a {
            color: #586069;
        }

        .notifications .read .notification-actions {
            color: #586069;
        }

        .notifications .read.navigation-focus, .notifications .read[aria-selected=true] {
            background-color: #f5f9fc;
        }

        .notifications .read.mark-as-unread-enabled .mark-as-unread {
            display: block;
        }

        .notifications .read.mark-as-unread-enabled .mark-as-read {
            display: none;
        }

        .notifications .read.mark-as-unread-enabled.list-group-item {
            background-color: #f6f8fa;
        }

        .notifications .mark-as-unread .octicon-primitive-dot {
            margin: 0 2px;
        }

        .notifications .unmute {
            display: none;
        }

        .type-icon-state-open {
            color: #28a745;
        }

        .type-icon-state-merged {
            color: #6f42c1;
        }

        .notifications-list {
            float: right;
            width: 100%;
        }

            .notifications-list .notifications-repo-link {
                max-width: 500px;
            }

        .notification-actions {
            list-style: none;
            position: absolute;
            left: 10px;
            top: 8px;
        }

            .notification-actions li {
                float: left;
                font-size: 16px;
                line-height: 20px;
                margin-right: 10px;
            }

            .notification-actions .age {
                color: #586069;
                font-size: 12px;
                width: 120px;
            }

            .notification-actions .btn-link {
                color: #586069;
                line-height: inherit;
                padding-right: 5px;
                padding-left: 5px;
            }

                .notification-actions .btn-link:hover {
                    color: #0366d6;
                    text-decoration: none;
                }

            .notification-actions .unsaved-notification {
                color: #d1d5da;
            }
    }
    /*! CSS Used keyframes */
    @keyframes tooltip-appear {
        0% {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }


</style>
<!--<style scoped>



    .container {
        /*max-width: 1170px;*/
        max-width: 100%;
        margin: auto;
    }

    img {
        max-width: 100%;
    }

    .inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%;
        border-right: 1px solid #c4c4c4;
    }

    .inbox_msg {
        border: 1px solid #c4c4c4;
        clear: both;
        overflow: hidden;
    }

    .top_spac {
        margin: 20px 0 0;
    }


    .recent_heading {
        float: left;
        width: 40%;
    }

    .srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%;
        padding:
    }

    .headind_srch {
        padding: 10px 29px 10px 20px;
        overflow: hidden;
        border-bottom: 1px solid #c4c4c4;
    }

    .recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
    }

    .srch_bar input {
        border: 1px solid #cdcdcd;
        border-width: 0 0 1px 0;
        width: 80%;
        padding: 2px 0 4px 6px;
        background: none;
    }

    .srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
    }

    .srch_bar .input-group-addon {
        margin: 0 0 0 -27px;
    }

    .chat_ib h5 {
        font-size: 15px;
        color: #464646;
        margin: 0 0 8px 0;
    }

        .chat_ib h5 span {
            font-size: 13px;
            float: right;
        }

    .chat_ib p {
        font-size: 14px;
        color: #989898;
        margin: auto
    }

    .chat_img {
        float: left;
        width: 11%;
    }

    .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
    }

    .chat_people {
        overflow: hidden;
        clear: both;
    }

    .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
    }

    .inbox_chat {
        height: 550px;
        overflow-y: scroll;
    }

    .active_chat {
        background: #ebebeb;
    }

    .incoming_msg_img {
        display: inline-block;
        width: 6%;
    }

    .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: top;
        width: 92%;
    }

    .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #646464;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
    }

    .received_withd_msg {
        width: 57%;
    }

    .mesgs {
        float: left;
        padding: 30px 15px 0 25px;
        width: 60%;
    }

    .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0;
        color: #fff;
        padding: 5px 10px 5px 12px;
        width: 100%;
    }

    .outgoing_msg {
        overflow: hidden;
        margin: 26px 0 26px;
    }

    .sent_msg {
        float: right;
        width: 46%;
    }

    .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
    }

    .type_msg {
        border-top: 1px solid #c4c4c4;
        position: relative;
    }

    .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: medium none;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        height: 33px;
        position: absolute;
        right: 0;
        top: 11px;
        width: 33px;
    }

    .messaging {
        padding: 0 0 50px 0;
    }

    .msg_history {
        height: 516px;
        overflow-y: auto;
    }
</style>-->

