﻿<div class="content" dir="rtl">
    <div class="row" >
        <div class="col-md-12">
            <div class="card" style="height: 184px;">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                    </div>
                    <div class="card-title" style="font-size: 18px;font-weight:bold">الدفعات  </div>
                    <div class="headerCustom">
                        <div class="title">
                            <div class="row">
                                <div class="col-md-3" dir="rtl">
                                    <div class="form-group">
                                        <label style="float: right;">المبلغ (د.ل)</label>
                                        <input type="text" v-model="form.Paids" class="form-control" placeholder="المبلغ">
                                    </div>
                                </div>
                                <div class="col-md-3" dir="rtl" style="margin-right: -43px;">
                                    <div class="form-group" style="margin-right: 50px;">
                                        <label style="float: right;">نوع الدفع</label>
                                        <el-select style="width: 200px;"
                                                   v-model="form.PaymentType"
                                                   filterable placeholder="نوع الدفع">
                                            <el-option v-for="item in
                                               [{ value: '1',label: 'نقدي'},
                                               { value: '2',label: 'بطاقة'},
                                               { value: '3',label: 'حوالة مصرفية'},
                                               { value: '4',label: 'شيك مصدق'}]"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </div>
                                </div>

                                <div class="col-md-3" dir="rtl" v-if="form.PaymentType!=1">
                                    <div class="form-group">
                                        <label style="float: right;" v-if="form.PaymentType==2">رقم البطاقه</label>
                                        <input v-model="form.PaymentRefrence" type="text" v-if="form.PaymentType==2" class="form-control" placeholder="رقم البطاقه">
                                        <label style="float: right;" v-if="form.PaymentType==3||form.PaymentType==0">رقم الايصال</label>
                                        <input v-model="form.PaymentRefrence" type="text" v-if="form.PaymentType==3||form.PaymentType==0" class="form-control" placeholder="رقم الايصال">
                                        <label style="float: right;" v-if="form.PaymentType==4">رقم الشيك</label>
                                        <input v-model="form.PaymentRefrence" type="text" v-if="form.PaymentType==4" class="form-control" placeholder="رقم الشيك">

                                    </div>
                                </div>
                                <div class="col-md-3" dir="rtl">
                                    <div class="form-group">
                                        <label style="float: right;">الدفعة القادمة</label>
                                        <div class="block">
                                            <el-date-picker v-model="form.NextPaidDate" style="width:100%"
                                                            type="date"
                                                            placeholder="تاريخ الدفعة">
                                            </el-date-picker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">

                                </div>
                                <div class="col-md-3">
                                    <el-button type="danger" @click.prevent="Back()">رجوع</el-button>
                                    <el-button type="primary" @click.prevent="Paid()">دفـع</el-button>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row" style="padding-right:20px;">
                <div class="col-md-3">

                    <label style="color:red!important;font-size: 14px;">السعر النهائي :{{parseFloat(this.$parent.Payment.totalPriceAfterDescount).toFixed(2)}}</label>
                </div>
              
                <div class="col-md-3">
                    <label style="color:red!important;font-size: 14px;" v-if="this.SumPaids==this.$parent.Payment.invoicePaid">المدفوع :{{parseFloat(this.$parent.Payment.invoicePaid ).toFixed(2)}}</label>
                    <label style="color:red!important;font-size: 14px;" v-if="this.SumPaids!=this.$parent.Payment.invoicePaid">المدفوع :{{parseFloat(this.SumPaids).toFixed(2)}}</label>

                </div>
        
                <div class="col-md-3">
                    <label style="color:red!important;font-size: 14px;" v-if="this.SumPaids==this.$parent.Payment.invoicePaid">الباقي :{{parseFloat(this.$parent.Payment.totalPriceAfterDescount - this.$parent.Payment.invoicePaid).toFixed(2)}}</label>
                    <label style="color:red!important;font-size: 14px;" v-if="this.SumPaids!=this.$parent.Payment.invoicePaid">الباقي :{{parseFloat(this.$parent.Payment.totalPriceAfterDescount - this.SumPaids).toFixed(2)}}</label>

                </div>
                    </div>
                <br />
                <p class="category"></p>
            </div>
                <br />
                <div style="padding-left:22px;padding-bottom: 1px;">
                    <!--view companet-->
                    <div class="NoData" v-if="Payments==0" style="margin-top: 5%;margin-right: 2%;margin-bottom: 5%;">
                        <el-alert title="عفــوا! لاتوجد بيانات اشتراك"
                                  type="info">
                        </el-alert>
                    </div>
                    
                    <div class="content table-responsive table-full-width" v-if="Payments!=0" style="width: 103%;">
                        <table class="table table-hover table-striped">
                            <tbody style="text-align:center">
                                <tr class="TableHeaderBackground">
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            المبلغ
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            تاريخ الدفعة
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            الدفعة القادمة
                                        </span>
                                    </td>
                                    <!--<td>
                        <span style="font-size: 14px;font-weight:bold">
                            رقم الهاتف
                        </span>
                    </td>-->
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            طريقة الدفع
                                        </span>
                                    </td>

                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            رقم الايصال
                                        </span>
                                    </td>
                                    <td style="width: 136px;">
                                        <span style="font-size: 14px;font-weight:bold">
                                            العمليات
                                        </span>
                                    </td>

                                </tr>
                            </tbody>

                            <tbody style="text-align:center">
                                <tr v-for="Payment in Payments" style="font-size:16px;">

                                    <td>{{Payment.paids}}</td>
                                    <td>{{Payment.currentPaidDate|moment}}</td>
                                    <td>{{Payment.nextPaidDate|moment}}</td>
                                
                                    <td v-if="Payment.paymentType==1" >نقدي</td>
                                    <td v-if="Payment.paymentType==2" >بطاقة</td>
                                    <td v-if="Payment.paymentType==3">حوالة مصرفية</td>
                                    <td v-if="Payment.paymentType==4" >شيك مصدق</td>

                                    <td>{{Payment.paymentRefrence}}</td>
                                    <td>
                                    
                                        <a title="مسـح الدفعه" href="#" @click.prevent="DeletePaid(Payment.paymentsId)">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                        <!--<a title="فاتورة" target="_blank" :href="'/Api/Admin/Invoice/Print/'+invoice.invoiceId+''">
        <i class="fa fa-file"></i>&nbsp;
    </a>
    <a title="تعديل الفاتورة" href="#" @click.prevent="EditInvoice(Pay)">
        <i class="fa fa-pencil-square-o"></i>&nbsp;
    </a>
    <a title="حالة الفاتورة" href="#" v-if="invoice.registryType==1" @click.prevent="ChangeStatus(invoice,2)">
        <i class="fa fa-unlink"></i>&nbsp;
    </a>
    <a title="حالة الفاتورة" href="#" v-if="invoice.registryType==2" @click.prevent="ChangeStatus(invoice,1)">
        <i class="fa fa-link"></i>&nbsp;
    </a>
    <a title="الدفع" href="#" @click.prevent="Payments(invoice)">
        <i class="fa fa-money"></i>&nbsp;
    </a>-->
                                        <!--<a title="تعديل الحدث" href="#" @click.prevent="EditEvent(Event)">
        <i class="fa fa-pencil-square-o"></i>&nbsp;
    </a>
    <a title="مسـح الحدث" href="#" @click.prevent="DeleteEvent(Event)">
        <i class="fa fa-remove"></i>
    </a>-->
                                        <!--<a href="#" @click.prevent="OpenCourseFile(Course.courseId)">
        <i class="fa fa-file"></i>
    </a>-->
                                        <!--<a title="عرض ورقة العمل" href="#" @click.prevent="OpenCourseFile(Course.courseId)">-->
                                        <!--<i class="fa fa-file-pdf-o"></i>
    </a>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center; margin-top: 10px;">
                            <el-pagination background
                                           layout="prev, pager, next"
                                           :current-page="pageNo"
                                           :page-size="pageSize"
                                           :total="pages"
                                           @current-change="GetEvents($event)">
                            </el-pagination>
                        </div>
                    </div>
                </div>

                <el-dialog title="عرض المزيد" :visible.sync="dialogTableVisible" :modalAppendToBody="false" class="card-title" center>
                    <table style="width: 83%;margin-right: 7%;font-size: 19px;height: 33%;    background: #c3d8d8;border: 1px solid;">
                        <tr style="border: 1px solid;">
                            <!--<td height="50" style="margin-right:20%">  سـعر الأفرد :  {{EventDetails.pricePersonal}} </td>
                <td height="50" style="margin-right:20%">  سـعر الشركات :  {{EventDetails.priceCompany}} </td>-->
                        </tr>
                        <tr style="border: 1px solid;">
                            1p
                            <!--<td height="50" style="margin-right:20%">  التخفيض :  {{EventDetails.discount}}%</td>
                <td height="50" style="margin-right:20%">  مكان المستضيف :  {{EventDetails.hostName}} </td>-->
                        </tr>
                        <tr style="border: 1px solid;">
                            so
                            <!--<td height="50" style="margin-right:20%">  الاستاذ :  {{EventDetails.teacherName}} </td>
                <td height="50" style="margin-right:20%">  عدد المقاعد : {{EventDetails.maximumNumberChair}}</td>-->
                        </tr>
                    </table>
                    <br />
                    <div style="color:red">
                        ملاحظة :

                    </div>

                    <div style="margin-right:80%">
                        <el-button type="danger" circle @click="dialogTableVisible = false;" style="background-image:linear-gradient(0deg, #57bbbf,#57bbbf); border-color:#57bbbf ">رجوع</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>


