﻿<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                    </div>

                    <div class="card-title" style="font-size:18px;font-weight:bold">اضافه الاجنده  </div>

                </div>
                <div class="content" style="color:black!important">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>عنوان الاجنده</label>
                                    <input class="form-control" placeholder="ادخل عنوان الاجنده" v-model="form.Title" />
                                </div>
                            </div>                       
                            </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>معلومـات</label>
                                    <textarea class="form-control" placeholder="معلومـات" v-model="form.Description" />
                                </div>
                            </div>
                        </div>
                            <div class="row">
                               
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>من وإلي (التاريخ)</label>
                                            <div class="block">
                                                <el-date-picker style="width:100%" v-model="form.FromToDate"
                                                                type="date"
                                                                placeholder="تاريخ">
                                                </el-date-picker>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>من</label>

                                            <el-time-select style="width:100%"  placeholder="تبدأ من" v-model="form.DateTimeFrom" :picker-options="{
                                                      start: '08:00',
                                                      step: '00:10',
                                                      end: '20:30'
                                                    }">
                                            </el-time-select>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>وحتي</label>
                                        <div class="form-group">

                                            <el-time-select style="width:100%" placeholder="وحتي" v-model="form.DateTimeTo" :picker-options="{
                                                      start: '08:00',
                                                      step: '00:10',
                                                      end: '20:30',
                                                      minTime: form.DateTimeFrom
                                                    }">
                                            </el-time-select>
                                        </div>
                                    </div>
                                </div>
                           

                            <button type="submit" @click.prevent="Save()" class="btn btn-info btn-fill pull-right">حـفظ</button>
                            <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                            <div class="clearfix"></div>
</form>
                </div>
            </div>
        </div>
    </div>
</div>