﻿<div class="content" dir="rtl">
    <add-Companies v-if="state==1"></add-Companies>
    <edit-Companies v-if="state==2"></edit-Companies>
    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                        </div>

                        <div class="card-title" style="font-size:18px;font-weight:bold">الشركات  </div>

                    </div>
                    <div class="card-body">
                        <div class="headerCustom">
                            <div class="title">
                                <el-button type="primary" @click.prevent="AddCompaniesPage()" class="btn btn-danger btn-fill pull-right">إضافة شـركة</el-button>
                            </div>
                            <p class="category"></p>
                        </div>
                        <div class="NoData" v-if="Companies==0">
                            <el-alert title="عفــوا! لاتوجد بيانات للشركات"
                                      type="info">
                            </el-alert>
                        </div>
                        <div class="content table-responsive table-full-width" v-if="Companies!=0">
                            <table class="table table-hover table-striped">
                                <tbody style="text-align:center">
                                    <tr class="TableHeaderBackground">
                                        <td>
                                            <span style="font-size:14px;font-weight:bold;">
                                                الاسم
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                معلومات
                                            </span>
                                        </td>

                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                الهاتف
                                            </span>
                                        </td>

                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                المدينة
                                            </span>
                                        </td>

                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                البريد الإلكتروني
                                            </span>
                                        </td>

                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                العمليات
                                            </span>
                                        </td>


                                    </tr>
                                </tbody>

                                <tbody style="text-align:center">
                                    <tr v-for="Company in Companies" style="font-size:14px;">
                                        <td>
                                            {{Company.companyName.slice(0,25)}}
                                        </td>
                                        <td>
                                            {{Company.description.slice(0,40)}}
                                        </td>
                                        <td>
                                            {{Company.phoneNumber.slice(0,15)}}
                                        </td>
                                        <td>
                                            {{Company.city.slice(0,15)}}
                                        </td>
                                        <td>
                                            {{Company.email.slice(0,20)}}
                                        </td>
                                        <td>
                                            <!--<el-popover width="450"
                                                        trigger="click">
                                                <el-table :data="[{
                            address: Company.address.slice(0,20),
                            boughtBy: Company.boughtBy.slice(0,20),
                            communicator: Company.communicator.slice(0,20),
                            }]">
                                                    <el-table-column width="150" property="address" label="العنــوان"></el-table-column>
                                                    <el-table-column width="100" property="boughtBy" label="bought By"></el-table-column>
                                                    <el-table-column width="150" property="communicator" label="communicator"></el-table-column>
                                                </el-table>

                                                <el-button style="background: transparent;border: none !important;font-size:0;" class="item" data-toggle="tooltip" data-placement="top" title="Info" slot="reference">
                                                    <i class="fa fa-info-circle"></i>&nbsp;
                                                </el-button>
                                            </el-popover>-->
                                            <el-button type="text" title="عرض المزيد" @click="dialogTableVisible = true;ShowMore(Company)"> <i class="fa fa-info-circle"></i>&nbsp;</el-button>

                                            <a href="#" @click.prevent="DeleteCompany(Company.companyId)">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                            <a href="#" @click.prevent="EditCompanyInfo(Company)">
                                                <i class="fa fa-pencil-square-o"></i>&nbsp;
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div style="text-align: center; margin-top: 10px;">
                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="GetCompanies($event)">
                                </el-pagination>

                            </div>

                        </div>
                        <el-dialog title="عرض المزيد" :visible.sync="dialogTableVisible" :modalAppendToBody="false" class="card-title" center>
                            <table style="width: 93%;font-size: 16px;height: 33%;    background: #c3d8d8;border: 1px solid;" >
                                <tr style="border: 1px solid;">
                                    <td style="direction:rtl"> العنــوان :  {{EventDetails.address}} </td>
                                    <td height="50" style="margin-right:20%">  bought By:  {{EventDetails.boughtBy}} </td>
                                </tr>
                                <tr style="border: 1px solid;">
                                    <td height="50" style="margin-right:20%">  communicator :  {{EventDetails.communicator}}</td>
                                    <td height="50" style="margin-right:20%">  </td>
                                </tr>
                                
                            </table>
                            <br />


                            <div style="margin-right:80%">
                                <el-button type="danger" circle @click="dialogTableVisible = false;" style="background-image:linear-gradient(0deg, #57bbbf,#57bbbf); border-color:#57bbbf ">رجوع</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
        </div>
    </div>
</div>
    </div>