﻿
    <div class="invoice-box rtl" v-if="Invoices!=0">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="../../../Content/Images/img/Logo4.png" style="width:100%; max-width:150px;">
                                <span style="font-size: 1rem;display: flex;margin-top: -14px;"> شركه ماستر للتدريب والتطوير   </span>
                            </td>


                            <td>
                                <span> فاتوره رقم # {{Invoices[0].invoiceId}}<br></span>

                                بتاريخ: {{Invoices[0].createdOn | moment}}<br>
                                وحتي: {{Invoices[0].createdOn | Addmonth}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                السادة:
                                <span v-if="Invoices[0].customerType==1">{{Invoices[0].companyName}}</span><span v-if="Invoices[0].customerType==2">{{Invoices[0].nameAr}}</span>
                                <br>
                                نوع الفاتورة:
                                <span v-if="Invoices[0].registryType == 1 ">عرض مبدئ</span>
                                <span v-else> فاتوره نهائيه </span><br>

                               



                            </td>

                            <td>
                                نوع الاشتراك:
                                <span v-if="Invoices[0].customerType==1">شركــات</span><span v-if="Invoices[0].customerType==2">أفراد</span></p>
                                البريد الالكتروني :
                                <span v-if="Invoices[0].customerType==1">  {{Invoices[0].companyEmail}}</span>
                                <span v-if="Invoices[0].customerType==2"> {{Invoices[0].email}}</span>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">

                <td>
                    عدد المقاعد المطلوبه
                </td>

                <td>
                    #
                </td>
            </tr>

            <tr class="details">
                <td>
                    #
                </td>

                <td>
                    {{parseFloat(sumAll(Invoices,'detailsNumberOfChair')).toFixed(2)}}



                </td>
            </tr>

            <tr class="heading">
                <td>
                    البند
                </td>

                <td>
                    السعر
                </td>
            </tr>

            <tr class="item" v-for="inv in Invoices ">
                <td>
                    {{inv.detailsEventName}}
                    <span>  {{inv.detailsNumberOfChair}}X</span>
                </td>

                <td>
                    {{inv.detailsTotalPrice}} LD.
                </td>
                
            </tr>

           

            <tr class="total">
               
                <td>
                    <div>
                        
                        <br />
                        <br />
                        <br /><br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                    بالحروف:
                    {{Tafqet(Invoices[0].totalPriceAfterDescount) }}
                    دينار ليبي

                </td>
                <td>
                    <div>

                        <br />
                        <br />
                        <br /><br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </div>
                    الاجمالي: {{  parseFloat(Invoices[0].totalPriceAfterDescount).toFixed(2)}} LD<br>

                </td>

            </tr>
            <tr class="total">


                <td> </td>
                <td>
                    التخفيض: {{Invoices[0].discount}} LD<br>

                </td>

            </tr>
            <tr>


                <td></td>

            </tr>
            <tr>


                <td></td>

            </tr>
            <tr>


                <td></td>

            </tr>
        </table>
        <div>
            <div>

            </div>
        </div>
        <div>
            <p style=" text-align: right; ">التوقيع والختم</p>
            <p style=" text-align: left; border-bottom : 2px solid #eee; width: 30%;"></p>
        </div>
    </div>



<!--<main>
    <div class="header">
        <div class="pic">
            <img src="../../../Content/Images/img/TriangleBottom.png" alt="">
        </div>
        <div class="master-logo">
            <div class="photo">
                <img src="../../../Content/Images/img/Logo4.png" alt="">
            </div>
            <div class="coName">
                <p>شركة ماستر للتدريب والاستشارات</p>

            </div>

        </div>

    </div> <!--End header //-->
 