﻿<div class="content" dir="rtl">
    <add-CourseFiles v-if="state==1"></add-CourseFiles>
    <edit-CourseFiles v-if="state==2"></edit-CourseFiles>
    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-12">
                <div class="card" >
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                        </div>
                        <div class="card-title" style="font-size:18px;font-weight:bold">الحقائب</div>


                    </div>
                    <div class="headerCustom">
                        <div class="title">
                            <el-button type="danger" @click.prevent="Back()" class="btn btn-info btn-fill pull-right">رجوع</el-button>
                            <el-button type="primary" @click.prevent="AddCourse()" class="btn btn-danger btn-fill pull-right">إضافة ورقة عمل</el-button>
                            <!--<div class="selectCompany">
                <el-select style="width: 200px;" v-model="SuperPacakgeValue" @change="SelectedSupaerPackage()" filterable placeholder="نوع الدورات">
                    <el-option v-for="item in [{value:1,label:'الكل'},{value:2,label:'باقة الحزم'},{value:3,label:'الحزم الفردية'}]"
                               :key="item.value"
                               :label="item.label"
                               :value="item.value">
                    </el-option>
                </el-select>

            </div>-->
                        </div>
                        <p class="category"></p>
                    </div>
                    <div style="padding-left:22px">
                        <!--view companet-->
                        <div class="NoData" v-if="CourseFiles==0">
                            <el-alert title="عفــوا! لاتوجد بيانات لأوراق العــمل"
                                      type="info">
                            </el-alert>
                        </div>
                        <div class="content table-responsive table-full-width" v-if="CourseFiles!=0">
                            <table class="table table-hover table-striped">
                                <tbody style="text-align:center">
                                    <tr class="TableHeaderBackground">
                                        <td>
                                            <span style="font-size:18px;font-weight:bold">
                                                اسـم الورقة
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:18px;font-weight:bold">
                                                معلومات
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:18px;font-weight:bold">
                                                ورقة العمل
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:18px;font-weight:bold">
                                                العمليات
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody style="text-align:center">
                                    <tr v-for="file in CourseFiles" style="font-size:16px;">
                                        <td>{{file.name}}</td>
                                        <td>{{file.description}}</td>
                                        <td>
                                            <a title="تنزيل الملف" :href="'http://localhost:4810/Api/Admin/CourseFiles/' + file.courseFileId + '/File'">
                                                <i class="fa fa-download"></i>
                                            </a>
                                        </td>

                                        <td>
                                            <a title="مسـح الدورة" href="#" @click.prevent="DeleteCourseFiles(file)">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="text-align: center; margin-top: 10px;">
                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="GetCourseFilesByCourseId($event)">
                                </el-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
