﻿<div class="content" dir="rtl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height: auto">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                        </div>
                        <h4 class="card-title">ارسال التنبيهات</h4>
                    </div>
                    <div style="padding-left:22px;padding-bottom:1px">
                        <div class="card-body">
                            <div class="material-datatables">
                                <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row" style="padding-left:22px;padding-bottom:0px">
                                        <div class="col-sm-12 col-md-12">
                                            <div class="row" style="padding-bottom:15px;">
                                                <div class="col-md-3">
                                                    <el-select v-model="SentType" filterable placeholder="المستهدفين">
                                                        <el-option v-for="item in [{id:1,name:'شخصي'},{id:2,name:'مجموعة'}]"
                                                                   :key="item.id"
                                                                   :label="item.name"
                                                                   :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col-md-3" v-if="SentType==1">
                                                    <el-select v-model="value5" multiple placeholder="الافراد">
                                                        <el-option v-for="item in [{id:1,name:'abdo'}]"
                                                                   :key="item.id"
                                                                   :label="item.name"
                                                                   :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <div class="col-md-3" v-if="SentType==2">
                                                    <el-select class="SelectUser"
                                                               v-model="PermissionModale"
                                                               multiple
                                                               filterable placeholder="الصلاحية">
                                                        <el-option v-for="item in Permissions"
                                                                   :key="item.id"
                                                                   :label="item.name"
                                                                   :value="item.id">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-bottom:15px">
                                                <div class="col-md-12">
                                                    <el-input  placeholder="الرجاء ادخال العنوان" v-model="Subject">
                                                        <template slot="prepend">
                                                            العنوان
                                                        </template>
                                                    </el-input>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <editor></editor>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top:11px;float:left">
                                                <div class="col-md-1">
                                                    <el-button @click="Sent()" type="primary" icon="el-icon-search" style="">إرســال</el-button>
                                                </div>
                                            </div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>