﻿
<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="height: 400px">
                <div class="header">
                    <h4 class="title">بيانات  اوراق العمل</h4>
                </div>
                <div class="content" style="color:black!important">
                    <form>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>اسم ورقة العمل</label>
                                    <input type="text" class="form-control" placeholder="اسم ورقة العمل" v-model="form.Name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group UploadButton">
                                    <!--<label></label>
                                    <input type="file" accept="image/jpg" @change="FileChanged($event)" />-->
                                    <label for="file-upload" class="custom-file-upload">
                                        <i class="fa fa-cloud-upload"></i> {{UploadLable}}
                                    </label>
                                    <input  accept="application/pdf" @change="FileChanged($event)" id="file-upload" type="file" />

                                </div>
                            </div>
                        </div>

                     
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>معــلومات</label>
                                    <textarea type="text" class="form-control" placeholder="معــلومات" v-model="form.Description" />
                                </div>
                            </div>
                        </div>
               

                            <button type="submit" @click.prevent="Save()" class="btn btn-info btn-fill pull-right">حـفظ</button>
                            <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                            <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


