﻿<div>
    <div class="content" dir="rtl">
        <add-SuperPacakges v-if="state==1"></add-SuperPacakges>
        <edit-SuperPacakges v-if="state==2"></edit-SuperPacakges>
        <div class="container-fluid" v-if="state==0">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="height: auto">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                            </div>

                            <div class="card-title" style="font-size:18px;font-weight:bold">باقة الحزم </div>

                        </div>
                        <div class="headerCustom">
                            <div class="title">
                            
                                <el-button type="primary" @click.prevent="AddSuperPackagePage()" class="btn btn-danger btn-fill pull-right">إضافة باقة الحزم</el-button>

                            </div>
                            <p class="category"></p>
                        </div>
                        <div style="padding-left:22px;">
                            <!--view companet-->
                            <div class="NoData" v-if="SuperPackages==0">
                                <el-alert title="عفــوا! لاتوجد بيانات لباقة الحزم"
                                          type="info">
                                </el-alert>
                            </div>
                            <div class="PacakgesCenter">
                                <figure class="snip1493" v-for="SuperPack in SuperPackages" v-if="SuperPackages!=0">
                                    <!--<div class="image" v-if="SuperPack.contentType==1">
        <img src="../../../../Content/Images/1.jpg" style="width:100%;height:150px;" alt="ls-sample1" />
    </div>-->

                                    <div class="image" v-if="SuperPack.contentType==1 && SuperPack.photo==null">

                                        <img src="../../../../Content/Images/1.jpg" style="width:100%;height:150px;" alt="ls-sample1" />
                                    </div>
                                    <div class="image" v-if="SuperPack.contentType==1 && SuperPack.photo!=null">
                                        <img :src="'http://localhost:4810/Api/Admin/SuperPackages?SuperPackageId='+SuperPack.superPackageId+''" style="width:100%;height:150px;" alt="ls-sample1" />
                                    </div>
                                    <div class="image" v-if="SuperPack.contentType==2 && SuperPack.photo==null">
                                        <img src="../../../../Content/Images/Courses.jpg" style="width:100%;height:150px;" alt="ls-sample1" />
                                    </div>
                                    <div class="image" v-if="SuperPack.contentType==2 && SuperPack.photo!=null">
                                        <img :src="'http://localhost:4810/Api/Admin/SuperPackages?SuperPackageId='+SuperPack.superPackageId+''" style="width:100%;height:150px;" alt="ls-sample1" />
                                    </div>
                                    <figcaption style="margin-top: -120px;">
                                        <h3 :style="'color:'+SuperPack.color+' '">{{SuperPack.name.slice(0,20)}}</h3>
                                        <p :style="'color:'+SuperPack.color+' '">
                                            <span style="font-size:15px">
                                                {{SuperPack.description.slice(0,31)}}<br />
                                                {{SuperPack.description.slice(31,62)}}<br />
                                                {{SuperPack.description.slice(62,92)}}
                                            </span>
                                            <br /><br />
                                        </p>

                                        <footer>






                                            <div class="views" style="cursor: pointer;" @click="FileChanged($event,SuperPack.superPackageId)">

                                                <label for="file-upload" style="cursor: pointer;">
                                                    <i class="fa fa-cloud-upload"></i> تـغير الصورة
                                                </label>
                                                <input accept="image/jpg" id="file-upload" type="file" @change="FileChanged($event,SuperPack.superPackageId)" />
                                            </div>
                                            <div class="views" style="cursor: pointer;" @click="DeleteSuperPackage(SuperPack.superPackageId)">
                                                <i class="fa fa-remove"></i>مسح
                                            </div>
                                            <div style="cursor: pointer;" class="love" @click="EditSuperPackagePage(SuperPack)"><i class="fa fa-pencil-square-o"></i>تعديل</div>
                                            <!--<div style="cursor: pointer;" class="comments"><i class="fa fa-info-circle"></i>عرض</div>-->
                                            <div v-if="SuperPack.contentType==1" style="cursor: pointer;" class="comments" @click="OpenPackagePage(SuperPack)"><i class="fa fa-bookmark"></i>الحزم</div>
                                            <div v-if="SuperPack.contentType==2" style="cursor: pointer;" class="comments" @click="OpenCoursePage(SuperPack)"><i class="fa fa-bookmark"></i>الدورات</div>
                                        </footer>
                                    </figcaption>
                                    <!--<a href="#"></a>-->
                                </figure>
                            </div>
                            <div style="text-align: center;padding-bottom:60px">
                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="GetSuperPackages($event)">
                                </el-pagination>
                            </div>





                        </div>


                    </div>
                  


                </div>
            </div>
        </div>
    </div>
</div>
