﻿<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" @click="OpenMenuByToggle()"
                    class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#" class="dropdown-toggle" @click="OpenMenuByToggle()" data-toggle="dropdown">
                        <i class="fa fa-dashboard"></i>
                        <p class="hidden-lg hidden-md">Dashboard</p>
                    </a>
                </li>
                

                <li class="dropdown" id="Notifications">
                    <el-badge :value="UnReadCount" v-if="UnReadCount!=0" class="item" style="margin-top: 23px;
margin-right: 17px;">
                        <a href="#" @click.prevent="href('/ShowMessages')" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-globe"></i>
                            <b class="caret hidden-lg hidden-md"></b>
                            <p class="hidden-lg hidden-md">
                                5 Notifications
                                <b class="caret"></b>
                            </p>
                        </a>
                    </el-badge>
                    <a  v-if="UnReadCount==0" href="#" @click.prevent="href('/ShowMessages')" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                        <b class="caret hidden-lg hidden-md"></b>
                        <p class="hidden-lg hidden-md">
                            5 Notifications
                            <b class="caret"></b>
                        </p>
                    </a>
                    <!--<ul class="dropdown-menu">
        <li><a href="#">Notification 1</a></li>
        <li><a href="#">Notification 2</a></li>
        <li><a href="#">Notification 3</a></li>
        <li><a href="#">Notification 4</a></li>
        <li><a href="#">Another notification</a></li>
    </ul>-->
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-search"></i>
                        <p class="hidden-lg hidden-md">Search</p>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>


                    <a href="">
                        <p>Account</p>
                    </a>
                </li>
                <li class="dropdown" id="DropDownUser">
                    <a @click="OpenDropDownUser()" href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p style="color:black;font-size:15px">
                            ضـبط المستخدمين
                            <b class="caret" @click="OpenDropDownUser()"></b>
                        </p>

                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" @click.prevent="href('/EditUsersProfile')">تعديل البيانات</a></li>
                        <li><a href="#" @click.prevent="href('/ChangePassword')">تغير كلمة المرور</a></li>

                    </ul>
                </li>

                <!--<li class="dropdown" id="DropDown">
                    <a @click="OpenDropDown()" href="#" class="dropdown-toggle" data-toggle="dropdown">


                        <i class="fa fa-bell" @click="OpenDropDown()"></i>
                       
                        <span class="notification" v-if="counts!=0">{{counts}}</span>


                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#" @click.prevent="href('/EventLocation')">
                                <i class="pe-7s-culture"></i>
                                <p> اماكن</p>
                            </a>
                        </li>
                        <li><a href="#" @click.prevent="href('/Trainers')">تغير كلمة المرور</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>-->
                <li>
                    <a href="#" @click.prevent="Logout()">
                        <p>تسجيل الخروج</p>
                    </a>
                </li>
                <li class="separator hidden-lg"></li>
            </ul>
        </div>
    </div>
</nav>