﻿<div v-if="Invoices!=0">

    <div class="card">
        <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
                <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
            </div>
            <div class="card-title" style="font-size: 18px;font-weight:bold">عرض الفاتورة  </div>
            <br />
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title" style="background-color: #58caca;">
                                    <span> فاتوره رقم  {{Invoices[0].invoiceId}}<br></span>
                                </td>


                                <td class="title" style="background-color: #58caca;direction:ltr">

                                    <span> بتاريخ: {{Invoices[0].createdOn | moment}}<br></span>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="information">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    السادة:
                                    <span v-if="Invoices[0].customerType==1">{{Invoices[0].companyName}}</span><span v-if="Invoices[0].customerType==2">{{Invoices[0].nameAr}}</span>
                                    <p />

                                    نوع الفاتورة:
                                    <span v-if="Invoices[0].registryType == 1 ">عرض مبدئ</span>
                                    <span v-else> فاتوره نهائيه </span>





                                </td>

                                <td>
                                   
                                        نوع الاشتراك:
                                        <span v-if="Invoices[0].customerType==1">شركــات</span>
                                        <span v-if="Invoices[0].customerType==2">أفراد</span>
                                    </p>
                                    البريد الالكتروني :
                                    <span v-if="Invoices[0].customerType==1">  {{Invoices[0].companyEmail}}</span>
                                    <span v-if="Invoices[0].customerType==2"> {{Invoices[0].email}}</span>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr class="heading">

                    <td>
                        <br />
                    </td>

                    <td>
                        <br />
                    </td>
                </tr>

                <tr class="heading">
                    <td colspan="2">
                        <table class="table table-hover table-striped">
                            <tbody style="text-align:center">
                                <tr style="    background: linear-gradient(0deg, #cff2f3,#57bbbf);">
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            الحدث
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            عدد المقاعد
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            السعر
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            التخفيض
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            السعر نهائي
                                        </span>
                                    </td>

                                </tr>
                            </tbody>

                            <tbody style="text-align:center">
                                <tr v-for="inv in Invoices" style="font-size:16px;" class="item">
                                    <td>{{inv.detailsEventName}}</td>
                                    <td>{{inv.detailsNumberOfChair}}</td>

                                    <td>{{inv.detailsTotalPrice}}</td>
                                    <td>{{inv.deatilsDiscount}}%</td>
                                    <td>{{inv.detailsTotalPriceAfterDescount}}</td>


                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

                <tr class="heading">
                    <td></td>

                    <td></td>
                    <!--<td>
                        السعر بعد التخفيض
                    </td>-->
                </tr>

                <tr>
                    <td></td>

                    <td></td>

                </tr>



                <tr class="total">

                    <td>
                        <div>

                            <br />
                            <br />
                            <br /><br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                        بالحروف:
                        {{Tafqet(Invoices[0].totalPriceAfterDescount) }}
                        دينار ليبي

                    </td>
                    <td>
                        <div>

                            <br />
                            <br />
                            <br /><br />
                            <br />
                            <br />
                            <br />
                            <br />
                        </div>
                        الاجمالي: {{  parseFloat(Invoices[0].totalPriceAfterDescount).toFixed(2)}} LD<br>

                    </td>

                </tr>
                <tr class="total">


                    <td> </td>
                    <td>
                        التخفيض: {{Invoices[0].discount}} LD<br>

                    </td>

                </tr>
                <tr>


                    <td></td>

                </tr>
                <tr>


                    <td></td>
                    <td></td>
                </tr>
                <tr>

                    <td></td>
                    <td>
                        <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                    </td>

                </tr>
            </table>


        </div>
    </div>



</div>