﻿<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

            

                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                    </div>
                 
                    <div class="card-title" style="font-size:18px;font-weight:bold">
                        اضافه موعد
                    </div>
                </div>
                <div class="content" style="color:black!important">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>موعد بخصوص</label>
                                    <input class="form-control" placeholder="ادخل عنوان للموعد" v-model="form.Title" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> (التاريخ والوقت)</label>
                                    <div class="block">
                                        <el-date-picker style="width:100%"
                                                        v-model="form.DateTimeFrom"
                                                        type="datetime"
                                                        placeholder="اختر التاريخ والوقت">
                                        </el-date-picker>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>معلومـات</label>
                                    <textarea class="form-control" placeholder="معلومـات" v-model="form.Description" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>طالب الموعد</label>
                                <div class="form-group">
                                    <el-select style="width: 100%;"
                                               v-model="form.CustomerType"
                                               @change="StudentTypeSelect()"
                                               filterable placeholder="نوع طالب الموعد">
                                        <el-option v-for="item in
                                               [{ value: '0',label: 'الكل'},
                                               { value: '1',label: 'افـراد'},
                                               { value: '2',label: 'شركـات'}]"
                                                   :key="item.value"
                                                   :label="item.label"
                                                   :value="item.value">
                                        </el-option>
                                    </el-select>

                                </div>
                            </div>
                       
                            <div class="col-md-4" v-if="UserType==1">

                                <label>الافراد</label>
                                <div class="form-group">

                                    <el-select style="width: 100%;"
                                               v-model="StudentNameSelect"
                                               filterable placeholder="اسماء الافراد">

                                        <el-option v-for="item in Students"
                                                   :key="item.studentId"
                                                   :label="item.nameAr.slice(0,25) +' / '+ item.nameEn.slice(0,25)"
                                                   :value="item.studentId">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>


                            <div class="col-md-4" v-if="UserType==2">
                                <label>الشركات</label>
                                <div class="form-group">

                                    <el-select style="width: 100%;"
                                               v-model="CompanyNameSelect"
                                               filterable placeholder="اسم الشركة">

                                        <el-option v-for="item in Companies"
                                                   :key="item.companyId"
                                                   :label="item.companyName"
                                                   :value="item.companyId">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                        </div>


                        <button type="submit" @click.prevent="Save()" class="btn btn-info btn-fill pull-right">حـفظ</button>
                        <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>

