﻿<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                       

                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                            </div>
                           
                            <div class="card-title" style="font-size:18px;font-weight:bold">بيانات المدرب  </div>

                        </div>
                        <div class="content" style="color:black!important">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>الاسم التلاثي</label>
                                            <input type="text" class="form-control" placeholder="الاسم التلاثي" v-model="form.NameAr">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>الأسم التلاثي (انجليزي)</label>
                                            <input type="text" class="form-control" placeholder="الاسم التلاثي انجليزي" v-model="form.NameEn">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>الجنسية</label>
                                            <input type="text" v-model="form.Nationality" class="form-control" placeholder="الجنسية" value="Creative Code Inc.">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>تاريخ الميلاد</label>
                                            <div class="block">
                                                <el-date-picker v-model="form.BirthDate"
                                                                type="date"
                                                                placeholder="تاريخ الميلاد">
                                                </el-date-picker>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">رقم الهاتف 1</label>
                                            <input v-model="form.PhoneNumber1" type="text" class="form-control" placeholder="رقم الهاتف">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>رقم الهاتف 2</label>
                                            <input v-model="form.PhoneNumber2" type="text" class="form-control" placeholder="رقم الهاتف" value="Mike">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>العمل الحالي</label>
                                            <input v-model="form.CurrentJob" type="text" class="form-control" placeholder="العمل الحالي" value="Andrew">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>عدد سنوات الخبرة</label>
                                            <input v-model="form.ExperinceNumbers" type="number" class="form-control" placeholder="سنوات الخبرة">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>الـبريد الإلكتروني</label>
                                            <input v-model="form.Email" type="text" class="form-control" placeholder="الـبريد الإلكتروني" value="Mike">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>مكـان السكن</label>
                                            <input v-model="form.Location" type="text" class="form-control" placeholder="الاقامة" value="Andrew">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group UploadButton">
                                            <!--<label></label>
                        <input type="file" accept="image/jpg" @change="FileChanged($event)" />-->
                                            <label for="file-upload" class="custom-file-upload">
                                                <i class="fa fa-cloud-upload"></i> {{UploadLable}}
                                            </label>
                                            <input accept="application/pdf" @change="FileChanged($event)" id="file-upload" type="file" />

                                        </div>
                                    </div>
                                </div>

                                <button type="submit" @click.prevent="Save()" class="btn btn-info btn-fill pull-right">حـفظ</button>
                                <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


