﻿<template>
    <div id="movie-filter">
        <h2>Filter result</h2>

        <div class="filter-group">
            <checkF-filter v-for="g in genner" :title="g">

            </checkF-filter>
        </div>

    </div>
</template>

<script >
    import checkFilter from '../AppointmentCheck/check-filter.vue';
    export default {
        name: 'Appointment Filter',
        created() {

        },
        data() {
            return {
                genner: {
                    ANIMATION: 'السادسه صباحا',
                    COMEDY: 'Comedy',
                    CRIME: 'Crime',
                    DOCUMENTARY: 'Documentary',
                    DRAMA: 'Drama',
                    FANTASY: 'Fantasy',
                    HORROR: 'Horror'
                }
            };
        },
        components: {
            'checkF-filter': checkFilter

        },
        methods: {
            Back() {
                this.$parent.state = 0;
            },

        }
    };
    
   
</script>
<style scoped>



      #title h1 #title h1 {
        display: inline-block;
        font-family: 'Orbitron', sans-serif;
        margin: 0;
        padding: 0 0 0 1rem;
        font-size: 2.5rem;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        user-select: none;
    }

    @media screen and (max-width: 800px) {
          #title img, html  #title img {
            width: 50px;
            height: 50px;
        }

          #title h1, html  #title h1 {
            font-size: 1.5rem;
        }
    }

      #day-select .days, html  #day-select .days {
        margin: 0;
        list-style-type: none;
        cursor: pointer;
        background: #232323;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        padding: 0;
    }

    @media screen and (max-width: 800px) {
          #day-select .days, html  #day-select .days {
            justify-content: space-between;
        }
    }

      #day-select .days .day, html  #day-select .days .day {
        display: inline;
        color: #fff;
        padding: 1rem;
        user-select: none;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
    }

      #day-select .days .day:hover, html  #day-select .days .day:hover {
        background-color: #2b2b2b;
    }

      #day-select .days .day.active, html  #day-select .days .day.active {
        color: #b50010;
        text-decoration: underline;
        background-color: #161616;
    }

    @media screen and (max-width: 800px) {
          #day-select .days .day, html  #day-select .days .day {
            display: none;
        }

          #day-select .days .day.active, html  #day-select .days .day.active {
            display: inline;
        }
    }

      #day-select .days .day-selector, html  #day-select .days .day-selector {
        display: none;
    }

    @media screen and (max-width: 800px) {
          #day-select .days .day-selector, html  #day-select .days .day-selector {
            display: inline-flex;
            justify-content: space-between;
            width: 80px;
            color: #fff;
            user-select: none;
            font-weight: bold;
            padding: 0;
        }

          #day-select .days .day-selector span, html  #day-select .days .day-selector span {
            width: 40px;
            font-size: 3rem;
            position: relative;
        }

          #day-select .days .day-selector span:after, html  #day-select .days .day-selector span:after {
            position: absolute;
            left: 5px;
            bottom: -6px;
        }

          #day-select .days .day-selector span:hover, html  #day-select .days .day-selector span:hover {
            background-color: #2b2b2b;
        }
    }

      #day-select .days .day-selector .dec:after, html  #day-select .days .day-selector .dec:after {
        content: '<';
    }

      #day-select .days .day-selector .inc:after, html  #day-select .days .day-selector .inc:after {
        content: '>';
    }

      .movie, html  .movie {
        display: flex;
        margin-bottom: 2rem;
    }

      .movie .movie-col-left img, html  .movie .movie-col-left img {
        height: 250px;
        display: block;
    }

    @media screen and (max-width: 800px) {
          .movie .movie-col-left img, html  .movie .movie-col-left img {
            height: 150px;
        }
    }

      .movie .movie-col-right, html  .movie .movie-col-right {
        padding-left: 1rem;
    }

      .movie .movie-col-right .movie-title, html  .movie .movie-col-right .movie-title {
        margin-bottom: 1rem;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

      .movie .movie-col-right .movie-title h2, html  .movie .movie-col-right .movie-title h2 {
        color: #ffa624;
        margin: 0;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        display: inline-block;
        margin-right: 0.5rem;
    }

      .movie .movie-col-right .movie-title .movie-rating, html  .movie .movie-col-right .movie-title .movie-rating {
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        background-color: #b50010;
        line-height: 1.5rem;
        padding: 0.3rem 0.5rem 0.2rem;
        font-weight: bold;
        user-select: none;
        white-space: nowrap;
        overflow: hidden;
    }

    @media screen and (max-width: 800px) {
          .movie .movie-col-right .movie-title h2, html  .movie .movie-col-right .movie-title h2 {
            font-size: 1.25rem;
            line-height: 1.25rem;
        }

          .movie .movie-col-right .movie-title .movie-rating, html  .movie .movie-col-right .movie-title .movie-rating {
            font-size: 0.8rem;
            line-height: 1rem;
            padding: 0.2rem 0.35rem 0.1rem;
        }
    }

      #overview#overview {
        padding: 0 2rem;
    }

      .main  {
        display: flex;
    }

    @media screen and (max-width: 800px) {
          #overview .main, html  #overview .main {
            flex-direction: column;
        }
    }

      #overview .main #movie-list {
        flex-basis: 75%;
    }

      #overview .main #movie-filter {
        flex-basis: 25%;
    }

    @media screen and (max-width: 800px) {
          #overview .main #movie-filter {
            order: -1;
        }
    }

      #movie-list{
        padding-top: 2rem;
    }

      .movie{
        border-bottom: ridge 2px #6e6e6e;
        padding-bottom: 2rem;
    }

      #movie-list .movie .movie-col-right .movie-sessions .session-time-wrapper, html  #movie-list .movie .movie-col-right .movie-sessions .session-time-wrapper {
        float: left;
    }

      #movie-list .movie .movie-col-right .movie-sessions .session-time-wrapper .session-time, html  #movie-list .movie .movie-col-right .movie-sessions .session-time-wrapper .session-time {
        background-color: #6e6e6e;
        padding: 0.5rem;
        margin-right: 0.5rem;
        user-select: none;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        white-space: nowrap;
    }

    @media screen and (max-width: 800px) {
          #movie-list .movie .movie-col-right .movie-sessions .session-time-wrapper .session-time, html  #movie-list .movie .movie-col-right .movie-sessions .session-time-wrapper .session-time {
            padding: 0.35rem;
            font-size: 0.8rem;
        }
    }

      #movie-list .no-results{
        color: white;
        font-weight: bold;
        font-size: 1.25rem;
        padding-bottom: 2rem;
    }

      #movie-filter{
        color: red;
        font-size: 1.15rem;
        margin-bottom: 2rem;
        padding-left: 2rem;
    }

    @media screen and (max-width: 800px) {
          #movie-filter{
            padding-bottom: 2rem;
            margin-bottom: 0;
            padding-left: 0;
            border-bottom: ridge 2px #6e6e6e;
            font-size: 1rem;
        }
    }

      #movie-filter h2{
        border-bottom: 3px solid red;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }



    #movie-filter h3 {
        margin: 2rem 0 0 0;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }

      .filter-group {
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 800px) {
          .filter-group {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

      .check-filter {
        color: red;
        cursor: pointer;
        margin-top: 0.5rem;
        margin-right: 1rem;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: row;
    }

    @media screen and (max-width: 800px) {
          .check-filter{
            width: 150px;
        }
    }

      .check-filter:hover{
        color: green;
    }

      .check-filter:hover .checkbox{
        border-color: red;
    }

      .check-filter.active {
        color: black;
    }

     .check-filter.active .checkbox::after{
        content: '';
        border-color: blue;
        background-color: gray;
        position: absolute;
        width: 14px;
        height: 14px;
        left: 3px;
        top: 3px;
        border-radius: 2px;
    }

  .checkbox{
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        border: 1px solid red;
        border-radius: 3px;
        user-select: none;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }

   .check-filter-title{
        user-select: none;
        vertical-align: top;
        line-height: 1.6rem;
        padding-left: 0.45rem;
    }

      #detail{
        padding: 0 2rem;
        padding-bottom: 2rem;
    }

      #detail .home, html  #detail .home {
        padding: 1rem 0;
        margin-bottom: 1rem;
    }

      #detail .home a, html  #detail .home a {
        border-top: 2px solid white;
        color: white;
        text-decoration: none;
        font-size: 1.25rem;
        padding: 0.5rem 0;
    }

      #detail .movie .movie-details, html  #detail .movie .movie-details {
        color: #fff;
    }

      #detail .movie .movie-details .movie-genre, html  #detail .movie .movie-details .movie-genre {
        font-weight: bold;
    }

      #detail .movie .movie-details table tr td, html  #detail .movie .movie-details table tr td {
        vertical-align: top;
    }

      #detail .movie .movie-details table tr td:first-child, html  #detail .movie .movie-details table tr td:first-child {
        font-weight: bold;
        padding-right: 0.5rem;
    }

    .tooltip-wrapper {
        position: relative;
    }

    .tooltip-wrapper .tooltip {
        display: none;
    }

    .tooltip-wrapper .tooltip.tooltip-show {
        text-align: center;
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        width: 9rem;
        transform: translate(-5.5rem, 50px);
        background-color: #141414;
        color: white;
        padding: 1rem;
        z-index: 10;
    }

    @media screen and (max-width: 800px) {
        .tooltip-wrapper .tooltip.tooltip-show {
            width: 9rem;
            transform: translate(-5.5rem, 40px);
        }
    }

    .tooltip-wrapper .tooltip:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 10px solid #141414;
        top: -10px;
        left: calc(50% - 7px);
    }
</style>