﻿<div>

    <!------ Include the above in your HEAD tag---------->
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="panel panel-primary" v-for="t in Test">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{t.name}}</h3>
                        <span class="pull-left clickable" v-if="isActive==t.id">
                            <i @click.prevent="OpenPanel(t.id)" class="glyphicon glyphicon-collapse-down"></i>
                        </span>
                        <span class="pull-right clickable" v-if="isActive!=t.id">
                        <i @click.prevent="OpenPanel(t.id)"
                        class="glyphicon glyphicon-collapse-up"></i></span>
                    </div>
                    <div class="panel-body" v-if="isActive==t.id" style="display:block" v-for="x in t.array">{{x}}</div>
                    <div class="panel-body" v-if="isActive!=t.id" style="display:none" v-for="x in t.array">{{x}}</div>
                </div>
            </div>

        </div>

    </div>
    <!------ <div class="tree-menu">
            <div>{{ label }}</div>
            <tree-menu v-for="node in nodes"
                       :nodes="node.nodes"
                       :label="node.label">
            </tree-menu>
        </div>---------->


</div>
