﻿<template src="./EventTrainingKit.html">
</template>

<script src="./EventTrainingKit.js"></script>
<style scoped>

    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }

    .card-collapse {
        margin: 0;
    }

    .card-collapse, .card-collapse .card-header {
        box-shadow: none;
        background-color: transparent;
        border-radius: 0;
    }
    .card-collapse .card-header {
        border-bottom: 1px solid #ddd;
        padding: 25px 10px 5px 0;
        margin: 0;
        box-shadow: none !important;
        background: #fff;
    }

    .card-collapse .card-header a {
        color: #3c4858;
        font-size: 14px;
        font-weight:bold;
        display: block;
    }
    .mb-0, .my-0 {
        margin-bottom: 0 !important;
    }

    .h5, h5 {
        font-size: 1.0625rem;
        line-height: 1.4em;
        margin-bottom: 15px;
    }
   
    .collapse {
        display: none;
    }
    .collapse show {
        display: none;
    }
    .card-collapse .card-header a:active, .card-collapse .card-header a:hover, .card-collapse .card-header a[aria-expanded=true] {
        color: #e91e63;
    }
    .card-collapse .card-header  a[aria-expanded=true] i {
        
        transform: rotate(180deg);
    }
    .card-collapse .card-header a i, .navbar {
        transition: all .15s ease 0s;
    }

    .card-collapse .card-header a i {
        float: right;
        top: 4px;
        position: relative;
    }
</style>