﻿

<div class="content" dir="rtl">

  
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-2" >

            <div class="card" style="height: auto">
                <div class="card-header card-header-primary card-header-icon" >
                    <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                    </div>  <h4 class="card-title">تغيير كلمه المرور</h4>
                </div>
                <div class="card-body">
                    <div class="content" style="color:black!important">
                        <form id="app" dir="rtl">

                            <label for="email">كلمة المرور الحاليه</label>
                            <input type="password" v-model="form.Password" placeholder="كلمة المرور الحاليه" class="form-control" />
                            <label for="password">كلمه المرور الجديده</label>
                            <input type="password" v-model="form.NewPassword" placeholder="كلمة المرور الجديده" class="form-control" />
                            <label>تأكيد كلمه المرور الجديده</label>
                            <input type="password" class="form-control" placeholder="تأكيد كلمة المرور الجديده" v-model="ConfimPassword">
                            <div class="card-footer justify-content-center" dir="ltr">

                                <button class="btn btn-rose pull-right" @click.prevent="Save()">حفظ</button>
                            </div>
                          
                        </form>
                    </div>
                </div>
                </div>
        </div>

    </div>








