﻿<div class="content" dir="rtl">
    <add-Courses v-if="state==1"></add-Courses>
    <edit-Courses v-if="state==2"></edit-Courses>
    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height: auto">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                        </div>


                    </div>
                    <div class="headerCustom">
                        <div class="title">
                            <span class="SuperPackage">الدورات ل <span :style="'color:'+SuperPackageParent.color+''">  {{SuperPackageParent.name.slice(0,20)}}</span></span>
                            <el-button type="danger" @click.prevent="Back()" class="btn btn-info btn-fill pull-right">رجوع</el-button>
                            <el-button type="primary" @click.prevent="AddCourse()" class="btn btn-danger btn-fill pull-right">إضافة الدورات</el-button>
                        </div>
                        <p class="category"></p>
                    </div>
                    <div style="padding-left:22px">
                        <!--view companet-->
                        <div class="NoData" v-if="Courses==0">
                            <el-alert title="عفــوا! لاتوجد بيانات لدورات"
                                      type="info">
                            </el-alert>
                        </div>
                        <div class="PacakgesCenter">
                            <figure class="snip1493" v-for="Course in Courses" v-if="Courses!=0" style="    max-width: 363px;">

                                <div class="image" v-if="Course.photo==null">

                                    <img src="../../../../Content/Images/Package.jpg" style="width:100%;height:150px;" alt="ls-sample1" />
                                </div>
                                <div class="image" v-if="Course.photo!=null">
                                    <img :src="'http://localhost:4810/Api/Admin/Courses?CourseId='+Course.courseId+''" style="width:100%;height:150px;" alt="ls-sample1" />
                                </div>                                <figcaption style="margin-top: -120px;">
                                    <h3 :style="'color:'+Course.color+' '">{{Course.name.slice(0,20)}}</h3>
                                    <p :style="'color:'+Course.color+' '">
                                        <span style="font-size:15px">
                                            {{Course.description.slice(0,31)}}<br />
                                            {{Course.description.slice(31,62)}}<br />
                                            {{Course.description.slice(62,92)}}
                                        </span>
                                        <br /><br />
                                    </p>
                                    <footer>
                                        <div class="views" style="cursor: pointer;" @click="FileChanged($event,Course.courseId)">

                                            <label for="file-upload" style="cursor: pointer;">
                                                <i class="fa fa-cloud-upload"></i> تـغير الصورة
                                            </label>
                                            <input accept="image/jpg" id="file-upload" type="file" @change="FileChanged($event,Course.courseId)" />
                                        </div>
                                        <div style="cursor: pointer;" class="views" @click="DeleteCourse(Course.courseId)">
                                            <i class="fa fa-remove"></i>مسح
                                        </div>

                                        <div style="cursor: pointer;" class="love" @click="EditCourse(Course)"><i class="fa fa-pencil-square-o"></i>تعديل</div>
                                        <!--<div style="cursor: pointer;" class="comments"><i class="fa fa-info-circle"></i>عرض</div>-->
                                        <!--<div style="cursor: pointer;" class="comments"><i class="fa fa-file-pdf-o"></i>الملفات</div>-->
                                        <div style="cursor: pointer;" class="views" @click="OpenCourseFile(Course.courseId)">
                                            <i class="fa fa-file-pdf-o"></i>عرض ورقة العمل
                                        </div>
                                    </footer>
                                </figcaption>
                                <!--<a href="#"></a>-->
                            </figure>
                        </div>


                    </div>
                    <div style="text-align: center;padding-bottom:70px">
                        <el-pagination background
                                       layout="prev, pager, next"
                                       :current-page="pageNo"
                                       :page-size="pageSize"
                                       :total="pages"
                                       @current-change="GetCoursesBySuperPackageId($event)">
                        </el-pagination>
                    </div>

                </div>

                
            </div>
        </div>
    </div>
</div>
