﻿<div class="content" dir="rtl">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height: auto">
                    <div class="headerCustom">
                        <div class="title">
                            <el-button type="primary">إضافة دورات</el-button>
                            <div class="selectCompany">
                                <el-select style="width: 200px;"
                                           v-model="ggg"
                                           filterable placeholder="اختار باقة الحزم">

                                </el-select>

                            </div>
                        </div>
                        <p class="category"></p>
                    </div>
                    <div style="padding-left:22px">
                        <!--view companet-->
                        <div class="NoData">
                            <el-alert title="عفــوا! لاتوجد بيانات لدورات"
                                      type="info">
                            </el-alert>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>