﻿<div class="container" style="width: 100%;">
    <!--https://freefrontend.com/css-tabs !-->
    <!--Get this design from freefrontend website !-->
    <section id="fancyTabWidget" class="tabs t-tabs">
        <ul class="nav nav-tabs fancyTabs" role="tablist">

            <li :class="Tab1">
                <!--<div class="arrow-down"><div class="arrow-down-inner"></div></div>-->
                <a id="tab0" href="#tabBody0" @click.prevent="OpentTab(1)"
                   role="tab" aria-controls="tabBody0" aria-selected="true" data-toggle="tab" tabindex="0">
                    <span class="fa fa-envelope"></span><span class="hidden-xs">غير مقروءة</span>
                </a>
               
                <!--<div class="whiteBlock"></div>-->
            </li>

            <li :class="Tab2">
                <!--<div class="arrow-down"><div class="arrow-down-inner"></div></div>-->
                <a id="tab1" href="#tabBody1" @click.prevent="OpentTab(2)"
                   role="tab" aria-controls="tabBody1" aria-selected="false"
                   data-toggle="tab" tabindex="0">

                    <span class="fa fa-envelope">
                    </span><span class="hidden-xs">مقروءة</span>
                </a>
                <!--<div class="whiteBlock"></div>-->
            </li>

        </ul>
        <div id="myTabContent" class="tab-content fancyTabContent" aria-live="polite">
            <div :class="TabContent1" id="tabBody0" role="tabpanel" aria-labelledby="tab0" aria-hidden="true" tabindex="0">
                <div>
                    <div class="row">

                        <div class="col-md-12">

                            <unRead-Notifications></unRead-Notifications>

                        </div>

                    </div>
                </div>
            </div>
            <div :class="TabContent2" id="tabBody1" role="tabpanel" aria-labelledby="tab1" aria-hidden="false" tabindex="0">
                <div class="row">
                    <div class="col-md-12">
                        <!--<h2 style="float:right">اضافة الفاتورة عبر البحث بالأشخاص</h2>-->
                        <h2 style="float:right">(قيد الاجراء) اضافة الفاتورة عبر البحث بالحدث</h2>

                    </div>
                </div>
            </div>

        </div>
    </section>
</div>