﻿<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

            

                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                    </div>
                   
                    <div class="card-title" style="font-size:18px;font-weight:bold">
                       اضافه تنبيه
                    </div>
                    </div>
                    <div class="content" style="color:black!important">
                        <form>
                           
                            <div class="row">
                                <div class="col-md-6">
                                    <label>ارسال التنبيهات إلي:</label>
                                    <div class="form-group">

                                        <el-select v-model="form.UserType" multiple placeholder="اختر" style="width:100%;">
                                            <el-option v-for="item in [{id:1,name:'مدراء النظام'},{id:2,name:'مبيعات'}]" 
                                                       :key="item.id"
                                                       :label="item.name"
                                                       :value="item.id">
                                            </el-option>
                                        </el-select>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label>عنوان</label>
                                            <input type="text" class="form-control" placeholder="عنوان" v-model="form.Msg">
                                        </div>

                                  
                                </div>
                              
                            
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <div class="form-group">
                                            <label>محتوي</label>
                                            <textarea class="form-control" placeholder="محتوي التنبيه" v-model="form.MsgTitle" />

                                        </div>

                                    </div>
                                </div>
                            </div>





                            <button type="submit" @click.prevent="Save()" class="btn btn-info btn-fill pull-right">ارسال</button>
                            <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                            <div class="clearfix"></div>

                        </form> 
                    </div>

                </div>
            </div>
        </div>
    </div>

