﻿<div class="content" dir="rtl">
    <add-EventAgenda v-if="state==1"></add-EventAgenda>
    <edit-EventAgenda v-if="state==2"></edit-EventAgenda>
    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                        </div>

                        <div class="card-title" style="font-size:18px;font-weight:bold">الاجنده  </div>

                    </div>
                    <div class="header">
                        <button type="submit" @click.prevent="AddAgendaPage()" class="btn btn-info btn-fill pull-right">إضافة اجنده</button>
                        <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="selectCompany">
                    </div>
                    <div style="padding-left:22px;padding-top: 4%;">

                        <div class="NoData" v-if="Agenda==0">
                            <el-alert title="عفــوا! لاتوجد بيانات الاجنده"
                                      type="info">
                            </el-alert>
                        </div>

                        <div class="row" style="padding-right:40px;" v-if="Agenda!=0">
                            <div class="col-lg-12 col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-tabs card-header-rose">

                                        <div class="row">

                                            <div class="col-lg-6">
                                                <!--<span class="nav-tabs-title">الحدت:</span>-->
                                                <div class="header">

                                                    <h1 style="color:white;font-family:'DroidArabicKufiRegular';font-size:20px; margin-top:-5px;">
                                                        {{Iscourse}} / {{Agenda[0].eventName}}
                                                    </h1>

                                                    <p class="category" style="color:white;">
                                                        <i class="fa fa-map-marker" style="color:white;" aria-hidden="true"></i>
                                                        {{Agenda[0].eventLocation}}
                                                    </p>
                                                    <p class="category" style="color:white;">{{Agenda[0].eventEnd |moment}}/{{Agenda[0].eventStart | moment}}</p>

                                                </div>
                                            </div>

                                            <div class="col-lg-6" style="padding-right:300px;">
                                                <span style="font-size:20px;">{{today | dayofweek}}</span>
                                                <div class="day">{{today | days}}</div>
                                                <div class="month">{{today | months}}</div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="content">
                                                <div class="table-full-width" >
                                                    <table class="table" style="border: 1px solid #000;">
                                                        <tbody>
                                                            
                                                            <tr v-for="agenda in Agenda" style="border: 1px solid #000;">

                                                                <td width="15%" style="background-color: #000000;color: white;">
                                                                
                                                                    <div>
                                                                        {{agenda.fromToDate |dayss}}

                                                                    </div>
                                                                
                                                                </td>
                                                                <td style="    border-top: 1px solid #191818;">

                                                                    <span style="font-size:13px;color:red;">{{agenda.title}}</span>
                                                                    <div style="font-size:13px;color:#57bbbf;font-weight:bold;padding:0; margin:0;">
                                                                        <div class="counter" style=" display:inline-block;"></div>
                                                                        <!--<i class="fa fa-fire" style="color:dimgrey;" aria-hidden="true"></i>-->
                                                                        <div style=" display:inline-block;">
                                                                            {{agenda.dateTimeTo |fromnow}}
                                                                            {{agenda.dateTimeFrom |fromnow}}
                                                                        </div>


                                                                    </div>


                                                                    <!--<label for="checkbox1"></label>-->
                                                                </td>

                                                                <td style="    border-top: 1px solid #191818;">{{agenda.description}}</td>

                                                                <td class="td-actions text-right" style="    border-top: 1px solid #191818;">

                                                                    <button type="button" rel="tooltip" 
                                                                            title="تعديل الاجنده"
                                                                            class="btn btn-danger btn-simple btn-xs"
                                                                            @click.prevent=EditAgendaInfo(agenda)>
                                                                        <i class="fa1 fa-edit"></i>
                                                                    </button>
                                                                    <button type="button" rel="tooltip" title="مسح"
                                                                            @click.prevent=DeleteAgenda(agenda.agendaId)
                                                                            class="btn btn-danger btn-simple btn-xs">
                                                                        <i class="fa1 fa-times"></i>
                                                                    </button>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="footer">
                                                    <hr>
                                                    <div class="stats">
                                                        <i class="fa fa-history"></i> Updated  {{Agenda[0].createdOn}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>



                </div>

            </div>



            <div style="text-align: center; margin-top: 10px;">
                <el-pagination background
                               layout="prev, pager, next"
                               :current-page="pageNo"
                               :page-size="pageSize"
                               :total="pages"
                               @current-change="GetAgendByEventId($event)">
                </el-pagination>

            </div>
        </div>
    </div>
</div>
