﻿<template src="./EventAgenda.html"></template>

<script src="./EventAgenda.js"></script>
<style scoped>

    .counter {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        /*background-color: #A39D9E;*/
        background-color: blue;
    }

    .day {
        font-size: 5.5em;
        font-weight: 600;
        line-height: 1;
    }

    .month {
        font-size: 2em;
        font-weight: 200;
        line-height: 1;
    }
    .card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
        border-radius: 3px;
        margin-top: -20px;
        padding: 15px;
    }
    .card .card-header-rose .card-icon, .card .card-header-rose .card-text, .card .card-header-rose:not(.card-header-icon):not(.card-header-text) {
        box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,30,99,.4);
    }

    .card.bg-rose, .card .card-header-rose .card-icon, .card .card-header-rose .card-text, .card .card-header-rose:not(.card-header-icon):not(.card-header-text), .card.card-rotate.bg-rose .back, .card.card-rotate.bg-rose .front {
        background: linear-gradient(0deg, #57bbbf,#57bbbf);
    }


   
</style>
