﻿@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<!DOCTYPE html>
<html class="ltr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ABDULLAH ELAMEIR - WEB DEVELOPMENT | MOBAIL APPS DEVELOPMENT">
    <meta name="csrf-token" content="@GetAntiXsrfRequestToken()">
    <meta name="api-token" content="@TempData["token"]">
    <meta name="current-user" content="">
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">
    <title>CMS - Course Management System </title>
    <link rel="stylesheet" id="vueui" href="~/css/vueui.css" asp-append-version="true" />
    <link rel="stylesheet" id="main" href="~/css/main.css" asp-append-version="true" />
  
</head>
<body>
    <div id="app"></div>
    <script src="~/js/manifest.js" asp-append-version="true"></script>
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
</body>
</html>

