﻿<div class="content" dir="rtl" >
        <add-Users v-if="state==1"></add-Users>
        <edit-Users v-if="state==2"></edit-Users>
        <div class="container-fluid" v-if="state==0">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="height: auto">
                                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                    </div>
                  <div class="card-title" style="font-size:18px;font-weight:bold">المستخدمين  </div>

                </div>
                <div class="">

                        <div class="headerCustom">
                            <div>
                                <el-button  type="primary" v-if="UserType!=''"  @click.prevent="AddUser()" class="btn btn-danger btn-fill pull-right">إضافة مستخدم</el-button>
                                <div class="selectCompany">
                                    <el-select  class="SelectUser" v-model="UserType" @change="SelectUserType()" filterable placeholder="الصلاحية">
                                        <el-option v-for="item in [{id:1,name:'مدير النظام'},{id:2,name:'موظف'}]"
                                                   :key="item.id"
                                                   :label="item.name"
                                                   :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>

                            </div>
                            <p class="category"></p>
                        </div>
                        <div style="width:auto">
                            <!--view companet-->
                            <div style="padding: 35px;font-size: 35px;" v-if="Users==0">
                                <el-alert title="عفــوا! لاتوجد بيانات للمستخدمين"
                                          type="info">
                                </el-alert>
                            </div>
                            <br />
                            <div class="content table-responsive table-full-width" v-if="Users!=0">
                                <table class="table table-hover table-striped">
                                    <tbody style="text-align:center">
                                        <tr class="TableHeaderBackground">
                                            <td>
                                                <span style="font-size:14px;font-weight:bold">
                                                    الاسم
                                                </span>
                                            </td>

                                            <td>
                                                <span style="font-size:14px;font-weight:bold">
                                                    اسم المستخدم
                                                </span>
                                            </td>
                                            <td>
                                                <span style="font-size:14px;font-weight:bold">
                                                    تاريخ الميلاد
                                                </span>
                                            </td>
                                            <td>
                                                <span style="font-size:14px;font-weight:bold">
                                                    الصلاحية
                                                </span>
                                            </td>

                                            <td>
                                                <span style="font-size:14px;font-weight:bold">
                                                    صورة
                                                </span>
                                            </td>
                                            <td>
                                                <span style="font-size:14px;font-weight:bold">
                                                    العمليات
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr v-for="User in Users" style="font-size:14px;text-align:center;">
                                            <td>{{User.fullName}}</td>
                                            <!--<td dir="ltr">{{User.email}}</td>-->
                                            <td dir="ltr">{{User.loginName}}</td>
                                            <td dir="ltr">{{User.dateOfBirth | moment}}</td>

                                            <td v-if="User.userType==1">المدير</td>
                                            <td v-if="User.userType==2">موظف</td>

                                            <td><img :src="'http://localhost:4810/Users/GetUserImage?userId='+User.userId+''" style="height: 80px; width:80px" /></td>
                                            <td>
                                               
                                                
                                                <a href="#" @click.prevent="EditUser(User)">
                                                    <i class="fa fa-pencil-square-o"></i>&nbsp;
                                                </a>
                                                <a href="#" v-if="User.status==1" @click.prevent="DeactivateUser(User.userId)">
                                                    <i class="fa fa-lock" title="ايقاف"></i>
                                                </a>
                                                <a href="#" v-if="User.status==2 || User.status==0" @click.prevent="ActivateUser(User.userId)">
                                                    <i class="fa fa-unlock" title="تفعيل"></i>
                                                </a>


                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="text-align: center; margin-top: 10px;">
                                    <el-pagination background
                                                   layout="prev, pager, next"
                                                   :current-page="pageNo"
                                                   :page-size="pageSize"
                                                   :total="pages"
                                                   @current-change="GetUsers($event)">
                                    </el-pagination>
                                </div>
                            </div>


                        </div>


                </div>

            </div>
        </div>
    </div>
</div>
        </div>
