﻿<div class="content" dir="rtl">
  

    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <div class="headerCustom">
                       
                        <p class="category"></p>
                    </div>
                    <div class="NoData" v-if="Notifications==0">
                        <el-alert title="عفــوا! لاتوجد تنبيهات"
                                  type="info">
                        </el-alert>
                    </div>

                </div>

                <div class="row" style="padding-right:20px;">
                    <div class="col-md-12">

                        <div class="toast toast--yellow add-margin" v-for="(noti,index) in Notifications">
                            <div class="toast__icon">
                                <svg version="1.1" class="toast__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 301.691 301.691" style="enable-background:new 0 0 301.691 301.691;" xml:space="preserve">
<g>
                                <polygon points="119.151,0 129.6,218.406 172.06,218.406 182.54,0  "></polygon>
                                <rect x="130.563" y="261.168" width="40.525" height="40.523"></rect>
</g>
    </svg>
                            </div>
                            <div class="toast__content">
                                <p class="toast__type">{{noti.msgTitle}}</p>
                                <el-button type="primary" @click.prevent="AddUserNotifications(index)" v-if="index != Read"
                                           plain style="background-color:#57bbbf; color:#ffffff;">اقرء المحتوي</el-button>

                                <p class="toast__message" v-if="index == Read">{{noti.msg}}</p>
                            </div>
                            <div class="toast__close">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 15.642 15.642">
                                    <path fill-rule="evenodd" d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z"></path>
                                </svg>
                            </div>



                            <div class="toast__close2">
                                <ul class="toast__ul">
                                    <li data-toggle="tooltip" title="Mark as read" @click="MarkAsRead(noti)">
                                        <!--<svg version="1.1" class="toast__svg"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 x="0px" y="0px" viewBox="0 0 512 512"
                                 style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g><g><path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"></path>
                            </g></g>
                             </svg>-->
                                        <i class="fa fa-check toast__svg"></i>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <el-dialog title="عرض المزيد" :visible.sync="dialogFormVisible " style="width: 802px;max-width: 1128px;"
                           :modalAppendToBody="false"  center>
                   
                    <li-icon aria-hidden="true" type="cancel-icon">
                    <svg viewBox="0 0 24 24" width="14px" height="24px" x="0" y="0" 
                         preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false">
                        <path d="M20,5.32L13.32,12,20,18.68,18.66,20,12,13.33,5.34,20,4,18.68,10.68,12,4,5.32,5.32,4,12,10.69,18.68,4Z" class="large-icon"
                        style="fill: currentColor"></path></svg></li-icon>

                    <div style="margin-right:80%">
                        <el-button type="danger" circle
                                   @click="dialogFormVisible  = false;"
                                   style="background-image:linear-gradient(0deg, #57bbbf,#57bbbf); 
border-color:#57bbbf ">رجوع</el-button>
                    </div>
                </el-dialog>



                <div class="ReadMsg">

                </div>
                <div style="text-align: center; margin-top: 10px;">
                    <el-pagination background
                                   layout="prev, pager, next"
                                   :current-page="pageNo"
                                   :page-size="pageSize"
                                   :total="pages"
                                   @current-change="GetUnReadNotificationsByUsers($event)">
                    </el-pagination>

                </div>
            </div>
        </div>

    </div>
</div>