﻿<div class="content" dir="rtl">
   
    <!--<edit-Events v-if="state==2"></edit-Events>-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                    </div>

                    <div class="card-title" style="font-size: 18px;font-weight:bold">EventTrainingKitSUP  </div>

                </div>
              
            </div>
        </div>
    </div>
</div>

