﻿<template src="./MainNotifications.html"></template>

<script src="./MainNotifications.js"></script>
<style scoped>

    artdeco-modal .artdeco-dismiss li-icon {
        top: 50%;
        box-sizing: content-box;
        height: 24px;
        left: 50%;
        margin: -12px 0 0 -12px;
        padding: 0;
        position: absolute;
        width: 24px;
    }

    .toast__container {
        display: table-cell;
        vertical-align: middle;
    }

    .toast__cell {
        display: inline-block;
    }

    .add-margin {
        margin-top: 20px;
    }

    .toast__svg {
        fill: #337ab7;
    }

    .toast {
        text-align: right;
        margin: 21px 0;
        padding: 21px 0;
        background-color: #eee;
        border-radius: 4px;
        max-width: 100%;
        top: 0px;
        position: relative;
        box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
    }


    .toast:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
 

    .toast__icon {
        position: absolute;
        top: 50%;
        right: 22px;
        transform: translateY(-50%);
        width: 29px;
        height: 29px;
        padding: 7px;
        border-radius: 50%;
        display: inline-block;
    }

    .toast__type {
        color: #3e3e3e;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 8px;
    }

    .toast__message {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
        color: #878787;
    }

    .toast__content {
        padding-left: 70px;
        padding-right: 60px;
    }

    .toast__close {
        position: absolute;
        left: 22px;
        top: 50%;
        width: 14px;
        cursor: pointer;
        height: 14px;
        fill: #878787;
        transform: translateY(-50%);
    }
    .toast__close2 {
        position: absolute;
        left: 28px;
        top: 50%;
        width: 14px;
        cursor: pointer;
        height: 14px;
        fill: #878787;
        transform: translateY(-50%);
    }
    .toast__close2 .toast__ul {
        list-style: none;
        position: absolute;
        left: 10px;
    }
    .toast__ul li {
        font-weight: bold;
        width: 18px;
        line-height: 20px;
        padding-right: 15px;
        float: right;
    }

    .toast--green .toast__icon {
        background-color: #2BDE3F;
    }

    .toast--green:before {
        background-color: #2BDE3F;
    }

    .toast--blue .toast__icon {
        background-color: #1D72F3;
    }

    .toast--blue:before {
        background-color: #1D72F3;
    }

    .toast--yellow .toast__icon {
        background-color: #FFC007;
    }

    .toast--yellow:before {
        background-color: #FFC007;
    }
</style>