﻿<div class="content" dir="rtl">
    <add-Courses v-if="state==1"></add-Courses>
    <edit-Courses v-if="state==2"></edit-Courses>
    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height: auto">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                        </div>

                        <div class="card-title" style="font-size:18px;font-weight:bold">الدورات </div>

                    </div>
                    <div class="headerCustom">
                        <div class="title">
                            <el-button v-if="contentType==2 || SelectedPackage!=''"
                                       type="primary" @click.prevent="AddCourse()" class="btn btn-danger btn-fill pull-right">إضافة دورات</el-button>
                            <div class="selectCompany">
                                <el-select style="width: 200px;" @change="SelectSuperPackage()"
                                           v-model="PackageAppend" filterable placeholder="اختار باقة الحزم">
                                    <el-option v-for="item in SuperPackages"
                                               :key="item.superPackageId+','+item.contentType"
                                               :label="item.name.slice(0,25)"
                                               :value="item.superPackageId+','+item.contentType">
                                    </el-option>
                                </el-select>
                                <el-select style="width: 200px;" v-model="SelectedPackage"
                                           @change="SelectPackage()"
                                           filterable placeholder="نوع الحزم الفردية"
                                           v-if="PackagesFlage">
                                    <el-option v-for="item in Packages"
                                               :key="item.id"
                                               :label="item.name.slice(0,25)"
                                               :value="item.id">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>
                        <p class="category"></p>
                    </div>
                    <div style="padding-left:22px">
                        <!--view companet-->
                        <div class="NoData" v-if="Courses==0">
                            <el-alert title="عفــوا! لاتوجد بيانات لدورات"
                                      type="info">
                            </el-alert>
                        </div>
                        <div class="content table-responsive table-full-width" v-if="Courses!=0">
                            <table class="table table-hover table-striped">
                                <tbody style="text-align:center">
                                    <tr class="TableHeaderBackground">
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                الاسم
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                معلومات
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                سعر الافراد
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                سعر الشركات
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                التخفيض
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                اللون
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                العمليات
                                            </span>
                                        </td>

                                    </tr>
                                </tbody>

                                <tbody style="text-align:center">
                                    <tr v-for="Course in Courses" style="font-size:16px;">
                                        <td>{{Course.name}}</td>
                                        <td>{{Course.description}}</td>
                                        <td>{{Course.pricePersonal}}</td>
                                        <td>{{Course.priceCompany}}</td>
                                        <td>{{Course.discount}}</td>
                                        <td>
                                            <i class="Color-Code" :style="{'background-color': Course.color}"></i>
                                        </td>
                                        <td>
                                            <a title="تعديل الدورة" href="#" @click.prevent="EditCourse(Course)">
                                                <i class="fa fa-pencil-square-o"></i>&nbsp;
                                            </a>
                                            <a title="مسـح الدورة" href="#" @click.prevent="DeleteCourse(Course.courseId)">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                            <!--<a href="#" @click.prevent="OpenCourseFile(Course.courseId)">
                                <i class="fa fa-file"></i>
                            </a>-->
                                            <a title="عرض الحقيبه التدريبيه" href="#" @click.prevent="OpenCourseFile(Course.courseId)">
                                                <i class="fa fa-file-pdf-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="text-align: center; margin-top: 10px;">
                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="GetPackages($event)">
                                </el-pagination>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
