﻿<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                    </div>
                    <div class="card-title" style="font-size: 18px;font-weight:bold">تعديل الفاتورة  </div>

                    <form>
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-4">
                                <el-switch v-model="RegistryType"
                                           active-color="#ff4949"
                                           inactive-color="#13ce66"
                                           active-text="عرض مبدئي "
                                           inactive-text="دفع نهائي ">
                                </el-switch>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>الحدث</label>
                                <div class="form-group">
                                    <el-select style="width: 100%;" v-model="form.EventId" filterable placeholder="اختار الحدث" @change="SelectEvent()">
                                        <el-option v-for="item in Event"
                                                   :key="item.eventId"
                                                   :label="item.name.slice(0,25)"
                                                   :value="item.eventId">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" v-if="form.EventId!=''">
                                    <label>عدد الكراسي</label>
                                    <el-input-number style="width:100%" v-model="form.NumberOfChair"
                                                     @change="Keypress" :min="1" :max="500"></el-input-number>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>التخفيض %</label>
                                    <!--<input type="text" class="form-control"
                        v-model="form.Discount"
                        placeholder="التخفيض">-->
                                    <el-input-number style="width:100%" v-model="form.Discount"
                                                     @change="KeypressDiscount" :min="0" :max="100"></el-input-number>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>السعر</label>
                                    <input type="text" class="form-control"
                                           v-model="form.TotalPrice"
                                           placeholder="السعر" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>السعر نهائي</label>
                                    <input type="text" class="form-control"
                                           v-model="form.TotalPriceAfterDescount"
                                           placeholder="السعر النهائي" disabled>
                                </div>
                            </div>
                        </div>


                        <button type="submit" @click.prevent="Add()" class="btn btn-primary btn-fill pull-right">تعديل+</button>

                        <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                        <div class="clearfix"></div>
                    </form>

                </div>
            </div>

            <div class="content table-responsive table-full-width" v-if="invoiceList!=0">
                <table class="table table-hover table-striped">
                    <tbody style="text-align:center">
                        <tr class="TableHeaderBackground">
                            <td>
                                <span style="font-size: 14px;font-weight:bold">
                                    الحدث
                                </span>
                            </td>
                            <td>
                                <span style="font-size: 14px;font-weight:bold">
                                    عدد المقاعد
                                </span>
                            </td>
                            <td>
                                <span style="font-size: 14px;font-weight:bold">
                                    السعر
                                </span>
                            </td>
                            <td>
                                <span style="font-size: 14px;font-weight:bold">
                                    التخفيض
                                </span>
                            </td>
                            <td>
                                <span style="font-size: 14px;font-weight:bold">
                                    السعر نهائي
                                </span>
                            </td>
                            <td>
                                <span style="font-size: 14px;font-weight:bold">
                                   العمليات
                                </span>
                            </td>
                        </tr>
                    </tbody>

                    <tbody style="text-align:center">
                        <tr v-for="invoice in invoiceList" style="font-size:16px;">
                            <td>{{invoice.detailsEventName}}</td>
                            <td>{{invoice.detailsNumberOfChair}}</td>

                            <td>{{invoice.detailsTotalPrice}}</td>
                            <td>{{invoice.deatilsDiscount}}%</td>
                            <td>{{invoice.detailsTotalPriceAfterDescount}}</td>
                           
                            <td>
                                <a title="عرض الفاتورة" href="#" @click.prevent="ViewInvoice(invoice.invoiceDetailsId)">
                                    <i class="fa fa-pencil-square-o"></i>&nbsp;
                                </a>
                           
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label style="color:red!important">السعر : {{TotalPriceAll}}</label>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label style="color:red!important">التخفيض الكلي%</label>
                        <el-input-number style="width:50%" v-model="AllDiscount"
                                         @change="KeypressDiscountAll" :min="0" :max="100"></el-input-number>
                    </div>
                </div>

                <div class="col-md-3">
                    <label style="color:red!important">السعر النهائي :{{parseFloat(TotalPriceAfterDescountAll).toFixed(2)}}</label>
                </div>
              
                <div class="col-md-2">
                    <button type="button" @click.prevent="Save()"  v-if="show==1" class="btn btn-info btn-fill pull-right">حـفظ</button>
                </div>
            </div>
        </div>
    </div>
</div>