﻿<div style="direction:rtl">
    <add-activeStudent v-if="state==1"></add-activeStudent>

    <div class="row" v-if="state==0">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                    </div>
                    <div class="card-title" style="font-size: 18px;font-weight:bold"> تفعيل الطلبه   </div>
                    <br />

                    <div class="row">
                        <div class="col-md-3">
                            <label>الحدث</label>
                            <div class="form-group">
                                <el-select style="width:100%;"
                                           v-model="EventId" filterable placeholder="اختار الحدث" @change="SelectEvent()">
                                    <el-option v-for="item in Events"
                                               :key="item.eventId"
                                               :label="item.name.slice(0,25)"
                                               :value="item.eventId">
                                    </el-option>
                                </el-select>
                            </div>
                        </div>


                        <div class="col-md-3" v-if="EventId!='' && InvoicesEvents!=0">
                            <label >اختر نوع المشترك</label>
                            <el-select v-if="EventId!=''" style="width:100%;" @change="SelectSubscribeType()"
                                       v-model="SubscriberType" filterable placeholder="اختيار نوع الاشتراك">
                                <el-option v-for="item in [{id:1,name:'شركة'},{id:2,name:'افراد'}]"
                                           :key="item.id"
                                           :label="item.name"
                                           :value="item.id">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="col-md-3" v-if="SubscriberType!='' && InvoicesEvents!=0">
                            <label>{{SubscribeTxt}}</label>
                            <el-select  style="width:100%;" @change="SelectSubscriber()"
                                       v-model="SubscriberId" filterable :placeholder="SubscribeTxt">
                                <el-option v-for="item in Subscriber"
                                           :key="item.id"
                                           :label="item.name"
                                           :value="item.id">
                                </el-option>
                            </el-select>


                        </div>

                        <div class="NoData" v-if="InvoicesEvents==0" style="margin-top: 5%;margin-right: 2%;margin-bottom: 5%;">
                            <el-alert title="عفــوا! لاتوجد بيانات تسجيل"
                                      type="info">
                            </el-alert>
                        </div>
                    </div>

                    <div style="padding-left:22px;padding-bottom: 1px;">
                       
                       

                        <div class="content table-responsive table-full-width" v-if="InvoicesEvents!=0" style="width: 103%;">
                            <table class="table table-hover table-striped">
                                <tbody style="text-align:center">
                                    <tr class="TableHeaderBackground">
                                        <td>
                                            <span style="font-size: 14px;font-weight:bold">
                                                رقم الفاتورة
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size: 14px;font-weight:bold">
                                                نوع الاشتراك
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size: 14px;font-weight:bold">
                                                الاسم
                                            </span>
                                        </td>

                                        <td>
                                            <!--1- First Confirm , 2- Last Confirm-->
                                            <span style="font-size: 14px;font-weight:bold">
                                                نوع الفاتوره
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size: 14px;font-weight:bold">
                                                عدد المقاعد
                                            </span>
                                        </td>


                                       


                                        <td style="width: 136px;">
                                            <span style="font-size: 14px;font-weight:bold">
                                                العمليات
                                            </span>
                                        </td>

                                    </tr>
                                </tbody>

                                <tbody style="text-align:center">
                                    <tr v-for="invoiceEvent in InvoicesEvents" style="font-size:16px;">
                                        <td>{{invoiceEvent.invoiceId}}</td>
                                        <td v-if="invoiceEvent.customerType==1">شركات</td>
                                        <td v-if="invoiceEvent.customerType==2">افراد</td>
                                        <td v-if="invoiceEvent.customerType==1">{{invoiceEvent.companyName}}</td>
                                        <td v-if="invoiceEvent.customerType==2">{{invoiceEvent.nameAr}}</td>

                                        <td v-if="invoiceEvent.registryType==1" style="background-color:lightcoral">حجز مبدئي</td>
                                        <td v-if="invoiceEvent.registryType==2" style="background-color:greenyellow">حجز نهائي</td>

                                        <td>
                                            {{invoiceEvent.numberOfChair}} <span v-if="invoiceEvent.numberOfChair > 1">مقاعد</span><span v-else>
                                                مقعد
                                            </span>

                                        </td>


                                        <!--1- First Confirm , 2- Last Confirm-->

                                        <td style=" padding-left: 0px;">

                                            <a title="اضافه الطلبه" href="#" @click.prevent="AddActiveStudent(invoiceEvent)">
                                                <i class="fa fa-users"></i>&nbsp;
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="text-align: center; margin-top: 10px;">
                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="GetInvoicesByEventId($event)">
                                </el-pagination>
                            </div>
                        </div>
                    </div>




                </div>
            </div>



        </div>
    </div>
</div>
