﻿<div class="content" dir="rtl">
    <add-EventLocation v-if="state==1"></add-EventLocation>
    <edit-EventLocation v-if="state==2"></edit-EventLocation>
    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="height: auto">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                        </div>
                        <div class="card-title" style="font-size:18px;font-weight:bold">الاماكن </div>


                    </div>
                    <div class="headerCustom">
                        <div class="title">
                            <el-button type="primary" v-if="CityId!=''"
                                       @click.prevent=" AddLocations()" class="btn btn-danger btn-fill pull-right">إضافة اماكن</el-button>
                            <div class="selectCompany">

                                <el-select style="width: 200px;"
                                           filterable placeholder="البلد"
                                           v-model="CountryId"
                                           @change="SelectedCountry()">

                                    <el-option v-for="item in Countries"
                                               :key="item.countriesId"
                                               :label="item.countryCityName"
                                               :value="item.countriesId">
                                    </el-option>
                                </el-select>

                                <el-select v-if="CountryId !=''" style="width: 200px;"
                                           filterable :placeholder="CitiesPaceholder" v-model="CityId"
                                           @change="SelectedCity()">

                                    <el-option v-for="item in Cities"
                                               :key="item.countriesId"
                                               :label="item.countryCityName"
                                               :value="item.countriesId">
                                    </el-option>
                                </el-select>
                                <a href="#" @click.prevent="OpenLocations()">
                                    <i class="fa fa-map-marker" style="font-size: 32px;color: #e34141;"></i>
                                </a>

                            </div>
                        </div>

                        <p class="category"></p>
                    </div>
                    <div style="padding-left:22px">

                        <div class="NoData" v-if="Locations==0">
                            <el-alert title="عفــوا! لاتوجد بيانات مواقع تدريب"
                                      type="info">
                            </el-alert>
                        </div>



                        <div class="content table-responsive table-full-width" v-if="Locations!=0">
                            <table class="table table-hover table-striped">
                                <tbody style="text-align:center">
                                    <tr class="TableHeaderBackground">
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                الاسم
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                الوصف
                                            </span>
                                        </td>

                                        <td class="hideOne">
                                            <span style="font-size:14px;font-weight:bold">
                                                اسم المنسق السوول
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                البريد الألكتروني
                                            </span>
                                        </td>

                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                رقم الهاتف
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                العمليات
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody style="text-align:center">
                                    <tr v-for="location in Locations" style="font-size:14px;">

                                        <td>{{location.name.slice(0,20)}}</td>
                                        <td>{{location.description}}</td>
                                        <td>{{location.contactName.slice(0,20)}}</td>
                                        <td>{{location.email.slice(0,16)}}</td>
                                        <td class="hideOne">{{location.contactNumber.slice(0,20)}}</td>
                                        <td>

                                            <a href="#" @click.prevent="EditLocationInfo(location)">
                                                <i class="fa fa-pencil-square-o"></i>&nbsp;
                                            </a>


                                            <a href="#" @click.prevent="DeleteLocation(location.id)">
                                                <i class="fa fa-remove"></i>
                                            </a>


                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div style="direction:rtl;text-align: center; margin-top: 10px;">
                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNoLocation"
                                               :page-size="pageSizeLocation"
                                               :total="pagesLocation"
                                               @current-change="GetLocations($event)">
                                </el-pagination>

                            </div>
                        </div>

                        <el-dialog dir="rtl" title="إضافة البلاد - المدينة" :visible.sync="dialogFormVisible"
                                   :modalAppendToBody="false" center>
                            <el-switch style="display: block;float:right"
                                      
                                       v-model="IsCountry"
                                       @change="SelectCountry()"
                                       active-color="#6495ED"
                                       inactive-color="#5F9EA0"
                                       active-text="  المدينـة"
                                       inactive-text="   البـلاد" >
                            </el-switch>


                            <br />
                            <!--City-->
                            <div class="row" v-if="IsCountry">


                                <div class="col-md-5">
                                    <label>الـبلاد</label>
                                    <div class="form-group">
                                        <el-select class="SelectUser"
                                                   filterable placeholder="البلد"
                                                   v-model="CountryIdDialog">

                                            <el-option v-for="item in Countries"
                                                       :key="item.countriesId"
                                                       :label="item.countryCityName"
                                                       :value="item.countriesId">
                                            </el-option>
                                        </el-select>
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <label>الــمدينة</label>
                                        <div class="form-group">

                                            <input type="text" class="form-control" v-model="CityName" placeholder="الــمدينة">
                                        </div>
                                    </div>
                                </div>
                         
                            <div class="row" v-if="!IsCountry">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label>الـبلاد</label>
                                        <input type="text" class="form-control" v-model="CountryName" placeholder="الــبلاد">
                                    </div>
                                </div>
                            </div>
                            <span style="float:left">
                                <el-button @click="dialogFormVisible = false" class="btn btn-info btn-fill pull-right">خروج</el-button>
                                <el-button type="primary" @click.prevent="SaveCountry()" class="el-button btn btn-danger btn-fill pull-right el-button--primary">حـفظ</el-button>
                            </span>
                            <br /><br />



                            <div class="content table-responsive table-full-width" v-if="CountryTable!=0">
                                <table class="table table-hover table-striped">
                                    <tbody style="text-align:center">
                                        <tr class="TableHeaderBackground">
                                            <td v-if="!IsCountry">
                                                <span style="font-size:18px;font-weight:bold">
                                                    البـلاد
                                                </span>
                                            </td>
                                            <td v-if="IsCountry">
                                                <span style="font-size:18px;font-weight:bold">
                                                    المدينة
                                                </span>
                                            </td>
                                            <td>
                                                <span style="font-size:18px;font-weight:bold">
                                                    العمليات
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr v-for="country in CountryTable" style="font-size:14px;text-align:center;">
                                            <td>{{country.countryCityName}}</td>
                                            <td>
                                                <a href="#" @click.prevent="DeleteCountry(country.countriesId)">
                                                    <i class="fa fa-remove"></i>
                                                 
                                                </a>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--<div style="text-align: center; margin-top: 10px;">
                                    <el-pagination background
                                                   layout="prev, pager, next"
                                                   :current-page="pageNo"
                                                   :page-size="pageSize"
                                                   :total="pages"
                                                   @current-change="GetLocations($event)">
                                    </el-pagination>
                                </div>-->
                            </div>

                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>