﻿<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                    </div>
                  
                    <div class="card-title" style="font-size:18px;font-weight:bold">بيانات الموقع </div>

                </div>
                <div class="content" style="color:black!important">
                    <form>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>اسم الموقع</label>
                                    <input type="text" class="form-control" placeholder="ادخل اسم الموقع"
                                           v-model="form.Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>معلومات (وصف)</label>
                                    <input type="text" class="form-control"
                                           placeholder="معلومات حول المكان"
                                           v-model="form.Description">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>اسم الشخص المسوول</label>
                                    <input type="text" v-model="form.ContactName"
                                           class="form-control" placeholder="مسوول تنسيق" value="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>البريد الالكتروني</label>
                                    <input v-model="form.Email" type="text" class="form-control" placeholder="ادخل الايميل">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">رقم الهاتف </label>
                                    <input v-model="form.ContactNumber" type="text" class="form-control" placeholder="رقم الهاتف">
                                </div>
                            </div>
                        </div>



                        <button type="submit" @click.prevent="Save()" class="btn btn-info btn-fill pull-right">حـفظ</button>
                        <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>