﻿<div class="content" dir="rtl">
    <add-Packages v-if="state==1"></add-Packages>
    <edit-Packages v-if="state==2"></edit-Packages>
    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                        </div>

                        <div class="card-title" style="font-size:18px;font-weight:bold">الاحزمة التدريبية </div>

                    </div>
                    <div class="headerCustom">

                        <div class="title">
                            <el-button type="primary" @click.prevent="AddPackage()"
                                       v-if="SuperPacakgeValue!=0" class="el-button btn btn-danger btn-fill pull-right el-button--primary">إضافة حزم فردية</el-button>
                            <div class="selectCompany">
                                <el-select style="width: 200px;" v-model="SuperPacakgeValue"
                                           @change="SelectedSupaerPackage()" filterable placeholder="التصنيفات">
                                    <el-option v-for="item in SuperPackages"
                                               :key="item.superPackageId"
                                               :label="item.name"
                                               :value="item.superPackageId">
                                    </el-option>
                                </el-select>

                            </div>
                        </div>
                        <p class="category"></p>
                    </div>
                    <div style="padding-left:22px">
                        <!--view companet-->
                        <div class="NoData" v-if="Packages==0">
                            <el-alert title="عفــوا! لاتوجد بيانات للتصنيفات"
                                      type="info">
                            </el-alert>
                        </div>
                        <div class="content table-responsive table-full-width" v-if="Packages!=0">
                            <table class="table table-hover table-striped">
                                <tbody style="text-align:center">
                                    <tr class="TableHeaderBackground">
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                الاسم
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                معلومات
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                سعر الافراد
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                سعر الشركات
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                التخفيض
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                اللون
                                            </span>
                                        </td>
                                        <td>
                                            <span style="font-size:14px;font-weight:bold">
                                                العمليات
                                            </span>
                                        </td>

                                    </tr>
                                </tbody>

                                <tbody style="text-align:center">
                                    <tr v-for="Package in Packages" style="font-size:16px;">

                                        <td>{{Package.name}}</td>
                                        <td>{{Package.description}}</td>
                                        <td>{{Package.pricePersonal}}</td>
                                        <td>{{Package.priceCompany}}</td>
                                        <td>{{Package.discount}}</td>
                                        <td>
                                            <i class="Color-Code" :style="{'background-color': Package.color}"></i>
                                        </td>
                                        <td>
                                            <a href="#" @click.prevent="EditPackage(Package)">
                                                <i class="fa fa-pencil-square-o"></i>&nbsp;
                                            </a>
                                            <a href="#" @click.prevent="DeletePackage(Package.packageId)">
                                                <i class="fa fa-remove"></i>
                                            </a>

                                        </td>

                                        <!--<td>



                            <a href="#" @click.prevent="EditStudentInfo(Student)">
                                <i class="fa fa-pencil-square-o"></i>&nbsp;
                            </a>


                            <a href="#" @click.prevent="DeleteStudent(Student.studentId)">
                                <i class="fa fa-remove"></i>
                            </a>
                            <el-popover width="900"
                                        trigger="click">
                                <el-table :data="[{
                                                nameEn: Student.nameEn,
                                                currentJob: Student.currentJob,
                                                experince: Student.experinceNumbers,
                                                phoneNumber2 : Student.phoneNumber2,
                                                SubscibeType : Student.subscribeType,
                                                CompanyName : Student.companyName
                                                }]">
                                    <el-table-column width="150" property="nameEn" label="الاسم بالانجليزي"></el-table-column>
                                    <el-table-column width="100" property="currentJob" label="الوظيفة"></el-table-column>
                                    <el-table-column width="150" property="experince" label="سنوات الخبرة"></el-table-column>
                                    <el-table-column width="150" property="phoneNumber2" label="الهاتف الاحتياط"></el-table-column>
                                    <el-table-column width="150" property="SubscibeType" label="نوع الاشتراك"></el-table-column>
                                    <el-table-column width="150" property="CompanyName" label="اسم الشركة"></el-table-column>
                                </el-table>

                                <el-button style="background: transparent;border: none !important;font-size:0;" class="item" data-toggle="tooltip" data-placement="top" title="Info" slot="reference">
                                    <i class="fa fa-info-circle"></i>&nbsp;
                                </el-button>
                            </el-popover>

                        </td>-->
                                    </tr>

                                </tbody>
                            </table>
                            <div style="text-align: center; margin-top: 10px;">
                                <el-pagination background
                                               layout="prev, pager, next"
                                               :current-page="pageNo"
                                               :page-size="pageSize"
                                               :total="pages"
                                               @current-change="GetPackages($event)">
                                </el-pagination>

                            </div>

                        </div>
                        <!--<figure class="snip1493" v-for="Package in Packages" v-if="Packages!=0">
        <div class="image"><img src="../../../Content/Images/1.jpg" style="width:100%;height:150px;" alt="ls-sample1" /></div>
        <figcaption style="margin-top: -120px;">
            <h3 :style="'color:'+Package.color+' '">{{Package.name}}</h3>
            <p :style="'color:'+Package.color+' '">
                {{Package.description.substring(0,110)}}
                <br /><br />
            </p>
            <footer>
                <div style="cursor: pointer;" class="views" @click="DeletePackage(Package.packageId)">
                    <i class="fa fa-remove"></i>مسح
                </div>
                <div style="cursor: pointer;" class="love" @click="EditPackage(Package)"><i class="fa fa-pencil-square-o"></i>تعديل</div>
                <!--<div style="cursor: pointer;" class="comments"><i class="fa fa-info-circle"></i>عرض</div>-->
                        <!--</footer>
        </figcaption>

        </figure>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
