﻿

    <div class="container-fluid" dir="rtl">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                        </div>
                        <div class="card-title" style="font-size:18px;font-weight:bold">ادخال الحقيبه الترويجيه</div>
                    </div>
                  
                    <div class="content" style="color:black!important">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>عنوان</label>
                                        <input type="text" class="form-control" placeholder="ادخل عنوان " v-model="form.Name">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group UploadButton">

                                        <label for="file-upload" class="custom-file-upload">
                                            <i class="fa fa-cloud-upload"></i> {{UploadLable}}
                                        </label>
                                        <input accept="application/pdf" @change="FileChanged($event)" id="file-upload" type="file" />

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group UploadButton">

                                        <label for="file-img-upload" class="custom-file-upload">
                                            <i class="fa fa-cloud-upload"></i> {{imgLable}}
                                        </label>

                                        <input type="file" accept="image/jpeg" id="file-img-upload"
                                               @change="ImageChanged($event)" />

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group UploadButton">

                                        <label for="file-word-upload" class="custom-file-upload">
                                            <i class="fa fa-cloud-upload"></i> {{wordLable}}
                                        </label>
                                        <input accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                               @change="WordChanged($event)" id="file-word-upload" type="file" />

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>معــلومات</label>
                                        <textarea type="text" class="form-control" placeholder="معــلومات" v-model="form.Description" />
                                    </div>
                                </div>
                            </div>


                            <button type="submit" @click.prevent="Save()" class="btn btn-info btn-fill pull-right">حـفظ</button>
                            <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
