﻿<div class="content" dir="rtl">
    <add-Appointments v-if="state==1"></add-Appointments>
    <edit-Appointments v-if="state==2"></edit-Appointments>

    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-12">
               

                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                        </div>

                        <div class="card-title" style="font-size:18px;font-weight:bold">المواعيد  </div>

                    </div>
                    <div class="card-body">
                        <div class="headerCustom">
                            <div class="title">
                                <el-button type="primary"
                                           @click.prevent="AddAppointmentsPage()"
                                           class="btn btn-danger btn-fill pull-right">
                                    إضافة اضافه موعد
                                </el-button>

                            </div>
                            <p class="category"></p>
                        </div>
                        <div class="NoData" v-if="Appointments==0">
                            <el-alert title="عفــوا! لاتوجد بيانات مواعيد"
                                      type="info">
                            </el-alert>
                        </div>

                        <div class="mobile-wrapper">

                            <!--======= Header =======-->
                            <!--======= Today =======-->

                            <section class="today-box" id="today-box" v-if="Appointments!=0">

                                <div class="date-title">
                                    <span style="font-size:18px;">{{today | dayofweek}}</span>
                                    <div class="day">{{today | days}}</div>
                                    <div class="month">{{today | months}}</div>
                                </div>


                            </section>

                            <!--======= Upcoming Events =======-->


                            <section class="upcoming-events" v-if="Appointments!=0">
                                <div class="container">
                                    <div class="filter-group">
                                        <span style="border-bottom:solid">بحت بالاتي</span>
                                        <check-filter v-for="time in AppoStatus" :title="time.name"
                                                      :ids="time.id" @check-filter="CheckFilter">

                                        </check-filter>
                                    </div>
                                    <div class="events-wrapper" v-for="item in appointmetFilter">
                                        <div class=event>
                                            <h3>
                                                {{item.dateTimeFrom|moment}}
                                            </h3>

                                            <span id="spn" title="تعديل موعد" @click="goto()">
                                            </span>
                                            <span id="spn2" title="الغاء موعد" @click="goto()">
                                            </span>


                                            <i class="ion ion-ios-flame hot"></i>
                                            <h4 style="padding-right: 47px;" class="event__point">{{item.dateTimeFrom |fromnow}}</h4>
                                            <span class="event__duration"> in 30 mins</span>

                                            <p class="event__description" v-if="!!item.companyName">شركه \ {{item.companyName }}</p>
                                            <p class="event__description" v-else> {{item.nameAr }}</p>

                                        </div>

                                    </div>

                                </div>
                            </section>



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
