﻿

@font-face {
    font-family: 'muli-regular';
    src: url('../fonts/muli-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'muli-light';
    src: url('../fonts/muli-light.ttf') format('truetype');
}

body {
    font-family: 'Muli', Helvetica, Arial, sans-serif;
    color: #35495e;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    background-color: #eee;
}

        #header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

             #header div:first-child {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 1rem 0;
            }

                 #header div:first-child img {
                    width: 50px;
                    height: 50px;
                }

                 #header div:first-child h1 {
                    margin: 0 0 0 0.5rem;
                    color: #35495e;
                    padding-top: 7px;
                }

            #header div:last-child {
                font-weight: bold;
            }

                #header div:last-child button {
                    color: #999;
                    font-size: 1rem;
                    padding: 0;
                    width: 20px;
                    background-color: white;
                    user-select: none;
                    border: 1px solid #ddd;
                    border-radius: 2px;
                    margin-left: 0.25rem;
                }

                     #header div:last-child button:focus {
                        outline: none;
                    }

                     #header div:last-child button:hover {
                        color: #35495e;
                        box-shadow: 0 2px 2px #ddd;
                    }

         #day-bar {
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }

            #day-bar div {
                width: 100%;
                padding: 0.5rem;
                font-family: 'muli-regular';
            }

#calendar {
   
    background-color: white;
}

                #calendar .calendar-week {
                    font-family: 'muli-light', Helvetica, Arial, sans-serif;
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                }

                 #calendar .calendar-week .day {
                    overflow: hidden;
                    font-weight: bold;
                    width: 100%;
                    padding: 0.5rem;
                    height: 100px;
                    user-select: none;
                    cursor: default;
                    border-left: 1px solid #ddd;
                    border-top: 1px solid #ddd;
                }

                    #calendar .calendar-week .day:last-child {
                        border-right: 1px solid #ddd;
                    }

                   #calendar .calendar-week .day.past {
                        opacity: 0.6;
                    }

                    body #app #calendar .calendar-week .day.not-current-month {
                        color: #ddd;
                    }

                     #calendar .calendar-week .day.today {
                        background-color: rgba(255, 238, 173, 0.4);
                    }

                    #calendar .calendar-week .day.active {
                        background-color: rgba(255, 182, 193, 0.3);
                    }

                   #calendar .calendar-week .day .event-list {
                        font-size: 0.8rem;
                        color: #42b983;
                        font-weight: bold;
                        list-style: none;
                        padding: 0;
                        margin: 0.5rem 0 0.5rem 0;
                    }

                       #calendar .calendar-week .day .event-list li {
                            white-space: nowrap;
                        }

               #calendar .calendar-week:last-child .day {
                    border-bottom: 1px solid #ddd;
                }

         #event-form {
            display: none;
            box-shadow: 0 2px 4px #ddd;
            position: fixed;
            width: 300px;
            transform: translate(-50%, -100%);
            z-index: 10;
            padding: 1rem;
            background-color: white;
            border: 1px #ddd solid;
            flex-direction: column;
            align-content: space-between;
        }

            #event-form.active {
                display: flex;
            }

            #event-form h4 {
                margin: 0 0 0.75rem 0;
                color: #999;
                font-weight: normal;
                font-size: 1.15rem;
            }

           #event-form p {
                font-size: 0.85rem;
                margin: 0 0 0.85rem 0;
            }

            #event-form > * {
                width: 100%;
            }

          #event-form .text {
                margin-bottom: 0.75rem;
            }

                #event-form .text input[type='text'] {
                    width: calc(100% - 0.75rem);
                    padding: 0.25rem;
                    font-size: 0.75rem;
                }

             #event-form .buttons {
                text-align: right;
            }

                #event-form .buttons button {
                    padding: 0.5rem;
                    background-color: #35495e;
                    border: 1px solid #2c3c4e;
                    font-weight: bold;
                    border-radius: 2px;
                    color: white;
                }

                     #event-form .buttons button:focus {
                        outline: none;
                    }

                     #event-form .buttons button:hover {
                        background-color: #3c536b;
                        border: 1px solid #35495e;
                    }

           #event-form #close-button {
                margin: 0;
                padding: 0;
                font-size: 1.25rem;
                background-color: white;
                position: absolute;
                border: none;
                width: 20px;
                font-weight: bold;
                color: #666;
                right: 0.6rem;
                top: 0.6rem;
                cursor: pointer;
            }

            #event-form #close-button:focus {
                outline: none;
            }
            
               
