﻿<div class="content" dir="rtl">
    <add-Invoice v-if="state==1"></add-Invoice>
    <edit-Invoice v-if="state==2"></edit-Invoice>
    <view-Invoice v-if="state==4"></view-Invoice>
    <Payments v-if="state==3"></Payments>
    <div class="row" v-if="state==0">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                    </div>
                    <div class="card-title" style="font-size: 18px;font-weight:bold">الـفاتورة  </div>
                    <div class="row" v-if="Invoices!=0">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-3">
                            <label style="color:red!important;font-size: 14px;">اجمالي المدفوع : {{parseFloat(PaymentInvoice.sumPaid).toFixed(2)}}</label>
                        </div>
                        <div class="col-md-3">
                            <label style="color:red!important;font-size: 14px;">اجمالي المبيعات :{{parseFloat(PaymentInvoice.sumTotal).toFixed(2)}}</label>
                        </div>
                        <div class="col-md-3">
                            <label style="color:red!important;font-size: 14px;">الديون :{{parseFloat(PaymentInvoice.sumTotal - PaymentInvoice.sumPaid).toFixed(2)}}</label>
                        </div>

                    </div>
                </div>
                <div class="headerCustom">
                    <div class="title">

                        <el-button type="primary" @click.prevent="addSubscriber()" v-if="SubscriberId!=''">تــسجيل</el-button>
                        <el-button type="primary" @click.prevent="BackToFirst()" v-if="SubscriberId!=''" >تراجع</el-button>
                        <div class="selectCompany" style="margin-top: 43px!important;margin-bottom: 0%!important;">
                            <label>اختر نوع المشترك</label>
                            <el-select style="width: 200px;" @change="SelectSubscribeType()"
                                       v-model="SubscribType" filterable placeholder="اختيار نوع الاشتراك">
                                <el-option v-for="item in [{id:1,name:'شركة'},{id:2,name:'افراد'}]"
                                           :key="item.id"
                                           :label="item.name"
                                           :value="item.id">
                                </el-option>
                            </el-select>
                            <el-select v-if="SubscribType!=''" style="width: 200px;" @change="SelectSubscriber()"
                                       v-model="SubscriberId" filterable :placeholder="SubscribeTxt">
                                <el-option v-for="item in Subscriber"
                                           :key="item.id"
                                           :label="item.name"
                                           :value="item.id">
                                </el-option>
                            </el-select>

                        </div>
                    </div>
                    <br />
                    <p class="category"></p>
                </div>
                <br />
                <div style="padding-left:22px;padding-bottom: 1px;">
                    <!--view companet-->
                    <div class="NoData" v-if="Invoices==0" style="margin-top: 5%;margin-right: 2%;margin-bottom: 5%;">
                        <el-alert title="عفــوا! لاتوجد بيانات اشتراك"
                                  type="info">
                        </el-alert>
                    </div>

                    <div class="content table-responsive table-full-width" v-if="Invoices!=0" style="width: 103%;">
                        <table class="table table-hover table-striped">
                            <tbody style="text-align:center">
                                <tr class="TableHeaderBackground">
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            رقم الفاتورة
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            نوع الاشتراك
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            الاسم
                                        </span>
                                    </td>
                                    <!--<td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            رقم الهاتف
                                        </span>
                                    </td>-->
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            نوع الفاتورة
                                        </span>
                                    </td>

                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            التخفيض
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            السعر
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            المدفوع
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size: 14px;font-weight:bold">
                                            الاجمالي
                                        </span>
                                    </td>
                                    <!--1- First Confirm , 2- Last Confirm-->


                                    <td style="width: 136px;">
                                        <span style="font-size: 14px;font-weight:bold">
                                            العمليات
                                        </span>
                                    </td>

                                </tr>
                            </tbody>

                            <tbody style="text-align:center">
                                <tr v-for="invoice in Invoices" style="font-size:16px;">
                                    <td>{{invoice.invoiceId}}</td>
                                    <td v-if="invoice.customerType==1">شركات</td>
                                    <td v-if="invoice.customerType==2">افراد</td>
                                    <td v-if="invoice.customerType==1">{{invoice.companyName}}</td>
                                    <td v-if="invoice.customerType==2">{{invoice.personalName}}</td>
                                    <!--<td v-if="invoice.customerType==1">{{invoice.conmpanyPhoneNumber}}</td>
                                    <td v-if="invoice.customerType==2">{{invoice.personalPhone}}</td>-->
                                 
                                    <td v-if="invoice.registryType==1" style="background-color:lightcoral">حجز مبدئي</td>
                                    <td v-if="invoice.registryType==2" style="background-color:greenyellow">حجز نهائي</td>

                                    <td>{{invoice.invoiceDiscount}}%</td>
                                    <td>{{invoice.invoiceTotalPrice}}د.ل</td>
                                    <td>{{invoice.invoicePaid}}د.ل</td>
                                    <td>{{ parseFloat(invoice.totalPriceAfterDescount).toFixed(2)}}د.ل</td>
                                    <!--1- First Confirm , 2- Last Confirm-->

                                    <td style=" padding-left: 0px;">
                                        <a title="فاتورة" target="_blank" :href="'/Api/Admin/Invoice/Print/'+invoice.invoiceId+''">
                                            <i class="fa fa-print"></i>&nbsp;
                                        </a>
                                        <!--<a title="فاتورة" @click.prevent="dialogTableVisible = true;ShowMore(invoice.invoiceId)">
                                            <i class="fa fa-file"></i>&nbsp;
                                        </a>-->
                                        <a title="عرض الفاتورة" href="#"  @click.prevent="ViewInvoice(invoice.invoiceId)">
                                            <i class="fa fa-file"></i>&nbsp;
                                        </a>
                                        <a title="تعديل الفاتورة" href="#" v-if="invoice.registryType==1" @click.prevent="GetInvoiceDetails(invoice.invoiceId)">
                                            <i class="fa fa-pencil-square-o"></i>&nbsp;
                                        </a>

                                        <a title="مسـح الفاتوره" href="#" @click.prevent="DeleteInvoice(invoice.invoiceId,invoice.invoicePaid)">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                        <a title="حالة الفاتورة" href="#" v-if="invoice.registryType==1" @click.prevent="ChangeStatus(invoice,2,invoice.invoicePaid)">
                                            <i class="fa fa-unlink"></i>&nbsp;
                                        </a>
                                        <a title="حالة الفاتورة" href="#" v-if="invoice.registryType==2" @click.prevent="ChangeStatus(invoice,1,invoice.invoicePaid)">
                                            <i class="fa fa-link"></i>&nbsp;
                                        </a>
                                        <a title="الدفع" href="#" @click.prevent="Payments(invoice)" v-if="invoice.registryType==2">
                                            <i class="fa fa-money"></i>&nbsp;
                                        </a>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center; margin-top: 10px;">
                            <el-pagination background
                                           layout="prev, pager, next"
                                           :current-page="pageNo"
                                           :page-size="pageSize"
                                           :total="pages"
                                           @current-change="GetInvoice($event)">
                            </el-pagination>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

