﻿    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Email Statistics</h4>
                            <p class="category">Last Campaign Performance</p>
                        </div>
                        <div class="content">
                            <div id="chartPreferences" class="ct-chart ct-perfect-fourth">
                             
                                <GChart type="ScatterChart"
                                        :data="chartData"
                                        :options="chartOptions"
                                       
                                        ></GChart>
                            </div>
                            </div>
                            
                            </div>
                        </div>

                <div class="col-md-8">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Users Behavior</h4>
                            <p class="category">24 Hours performance</p>
                        </div>
                        <div class="content">
                            <div id="chartHours" class="ct-chart">
                                <GChart type="Histogram"
                                        :data="chartData"
                                        :options="chartOptions"
                                        ></GChart>


                            </div>
                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle text-info"></i> Open
                                    <i class="fa fa-circle text-danger"></i> Click
                                    <i class="fa fa-circle text-warning"></i> Click Second Time
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-history"></i> Updated 3 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-6">
                    <div class="card ">
                        <div class="header">
                            <h4 class="title">2014 Sales</h4>
                            <p class="category">All products including Taxes</p>
                        </div>
                        <div class="content">
                            <div id="chartActivity" class="ct-chart"><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="245px" class="ct-chart-bar" style="width: 100%; height: 245px;"><g class="ct-grids"><line y1="210" y2="210" x1="50" x2="454.5" class="ct-grid ct-vertical"></line><line y1="188.33333333333334" y2="188.33333333333334" x1="50" x2="454.5" class="ct-grid ct-vertical"></line><line y1="166.66666666666666" y2="166.66666666666666" x1="50" x2="454.5" class="ct-grid ct-vertical"></line><line y1="145" y2="145" x1="50" x2="454.5" class="ct-grid ct-vertical"></line><line y1="123.33333333333333" y2="123.33333333333333" x1="50" x2="454.5" class="ct-grid ct-vertical"></line><line y1="101.66666666666667" y2="101.66666666666667" x1="50" x2="454.5" class="ct-grid ct-vertical"></line><line y1="80" y2="80" x1="50" x2="454.5" class="ct-grid ct-vertical"></line><line y1="58.33333333333334" y2="58.33333333333334" x1="50" x2="454.5" class="ct-grid ct-vertical"></line><line y1="36.66666666666666" y2="36.66666666666666" x1="50" x2="454.5" class="ct-grid ct-vertical"></line><line y1="15" y2="15" x1="50" x2="454.5" class="ct-grid ct-vertical"></line></g><g><g class="ct-series ct-series-a"><line x1="61.85416666666667" x2="61.85416666666667" y1="210" y2="92.56666666666666" class="ct-bar" value="542"></line><line x1="95.56250000000001" x2="95.56250000000001" y1="210" y2="114.01666666666667" class="ct-bar" value="443"></line><line x1="129.27083333333334" x2="129.27083333333334" y1="210" y2="140.66666666666669" class="ct-bar" value="320"></line><line x1="162.97916666666666" x2="162.97916666666666" y1="210" y2="41" class="ct-bar" value="780"></line><line x1="196.6875" x2="196.6875" y1="210" y2="90.18333333333334" class="ct-bar" value="553"></line><line x1="230.39583333333334" x2="230.39583333333334" y1="210" y2="111.85" class="ct-bar" value="453"></line><line x1="264.1041666666667" x2="264.1041666666667" y1="210" y2="139.36666666666667" class="ct-bar" value="326"></line><line x1="297.81250000000006" x2="297.81250000000006" y1="210" y2="115.96666666666667" class="ct-bar" value="434"></line><line x1="331.52083333333337" x2="331.52083333333337" y1="210" y2="86.93333333333334" class="ct-bar" value="568"></line><line x1="365.2291666666667" x2="365.2291666666667" y1="210" y2="77.83333333333334" class="ct-bar" value="610"></line><line x1="398.93750000000006" x2="398.93750000000006" y1="210" y2="46.19999999999999" class="ct-bar" value="756"></line><line x1="432.64583333333337" x2="432.64583333333337" y1="210" y2="16.083333333333343" class="ct-bar" value="895"></line></g><g class="ct-series ct-series-b"><line x1="71.85416666666667" x2="71.85416666666667" y1="210" y2="120.73333333333333" class="ct-bar" value="412"></line><line x1="105.56250000000001" x2="105.56250000000001" y1="210" y2="157.35" class="ct-bar" value="243"></line><line x1="139.27083333333334" x2="139.27083333333334" y1="210" y2="149.33333333333334" class="ct-bar" value="280"></line><line x1="172.97916666666666" x2="172.97916666666666" y1="210" y2="84.33333333333333" class="ct-bar" value="580"></line><line x1="206.6875" x2="206.6875" y1="210" y2="111.85" class="ct-bar" value="453"></line><line x1="240.39583333333334" x2="240.39583333333334" y1="210" y2="133.51666666666665" class="ct-bar" value="353"></line><line x1="274.1041666666667" x2="274.1041666666667" y1="210" y2="145" class="ct-bar" value="300"></line><line x1="307.81250000000006" x2="307.81250000000006" y1="210" y2="131.13333333333333" class="ct-bar" value="364"></line><line x1="341.52083333333337" x2="341.52083333333337" y1="210" y2="130.26666666666665" class="ct-bar" value="368"></line><line x1="375.2291666666667" x2="375.2291666666667" y1="210" y2="121.16666666666667" class="ct-bar" value="410"></line><line x1="408.93750000000006" x2="408.93750000000006" y1="210" y2="72.19999999999999" class="ct-bar" value="636"></line><line x1="442.64583333333337" x2="442.64583333333337" y1="210" y2="59.41666666666666" class="ct-bar" value="695"></line></g></g><g class="ct-labels"><foreignObject style="overflow: visible;" x="50" y="215" width="33.708333333333336" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 34px; height: 20px;">Jan</span></foreignObject><foreignObject style="overflow: visible;" x="83.70833333333334" y="215" width="33.708333333333336" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 34px; height: 20px;">Feb</span></foreignObject><foreignObject style="overflow: visible;" x="117.41666666666667" y="215" width="33.70833333333333" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 34px; height: 20px;">Mar</span></foreignObject><foreignObject style="overflow: visible;" x="151.125" y="215" width="33.70833333333334" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 34px; height: 20px;">Apr</span></foreignObject><foreignObject style="overflow: visible;" x="184.83333333333334" y="215" width="33.70833333333334" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 34px; height: 20px;">Mai</span></foreignObject><foreignObject style="overflow: visible;" x="218.54166666666669" y="215" width="33.708333333333314" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 34px; height: 20px;">Jun</span></foreignObject><foreignObject style="overflow: visible;" x="252.25" y="215" width="33.70833333333334" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 34px; height: 20px;">Jul</span></foreignObject><foreignObject style="overflow: visible;" x="285.95833333333337" y="215" width="33.70833333333334" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 34px; height: 20px;">Aug</span></foreignObject><foreignObject style="overflow: visible;" x="319.6666666666667" y="215" width="33.708333333333314" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 34px; height: 20px;">Sep</span></foreignObject><foreignObject style="overflow: visible;" x="353.375" y="215" width="33.70833333333337" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 34px; height: 20px;">Oct</span></foreignObject><foreignObject style="overflow: visible;" x="387.08333333333337" y="215" width="33.708333333333314" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 34px; height: 20px;">Nov</span></foreignObject><foreignObject style="overflow: visible;" x="420.7916666666667" y="215" width="33.708333333333314" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 34px; height: 20px;">Dec</span></foreignObject><foreignObject style="overflow: visible;" y="188.33333333333334" x="10" height="21.666666666666668" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 22px; width: 30px;">0</span></foreignObject><foreignObject style="overflow: visible;" y="166.66666666666669" x="10" height="21.666666666666668" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 22px; width: 30px;">100</span></foreignObject><foreignObject style="overflow: visible;" y="145" x="10" height="21.666666666666664" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 22px; width: 30px;">200</span></foreignObject><foreignObject style="overflow: visible;" y="123.33333333333333" x="10" height="21.66666666666667" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 22px; width: 30px;">300</span></foreignObject><foreignObject style="overflow: visible;" y="101.66666666666667" x="10" height="21.666666666666657" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 22px; width: 30px;">400</span></foreignObject><foreignObject style="overflow: visible;" y="80" x="10" height="21.66666666666667" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 22px; width: 30px;">500</span></foreignObject><foreignObject style="overflow: visible;" y="58.33333333333334" x="10" height="21.666666666666657" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 22px; width: 30px;">600</span></foreignObject><foreignObject style="overflow: visible;" y="36.66666666666666" x="10" height="21.666666666666686" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 22px; width: 30px;">700</span></foreignObject><foreignObject style="overflow: visible;" y="15" x="10" height="21.666666666666657" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 22px; width: 30px;">800</span></foreignObject><foreignObject style="overflow: visible;" y="-15" x="10" height="30" width="30"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 30px; width: 30px;">900</span></foreignObject></g></svg></div>

                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle text-info"></i> Tesla Model S
                                    <i class="fa fa-circle text-danger"></i> BMW 5 Series
                                </div>
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-check"></i> Data information certified
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card ">
                        <div class="header">
                            <h4 class="title">Tasks</h4>
                            <p class="category">Backend development</p>
                        </div>
                        <div class="content">
                            <div class="table-full-width">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <input id="checkbox1" type="checkbox">
                                                    <label for="checkbox1"></label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <input id="checkbox2" type="checkbox" checked>
                                                    <label for="checkbox2"></label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3"></label>
                                                </div>
                                            </td>
                                            <td>
                                                Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <input id="checkbox4" type="checkbox" checked>
                                                    <label for="checkbox4"></label>
                                                </div>
                                            </td>
                                            <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <input id="checkbox5" type="checkbox">
                                                    <label for="checkbox5"></label>
                                                </div>
                                            </td>
                                            <td>Read "Following makes Medium better"</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="checkbox">
                                                    <input id="checkbox6" type="checkbox" checked>
                                                    <label for="checkbox6"></label>
                                                </div>
                                            </td>
                                            <td>Unfollow 5 enemies from twitter</td>
                                            <td class="td-actions text-right">
                                                <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <i class="fa fa-history"></i> Updated 3 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

