﻿<div class="content" dir="rtl">
    <add-Trainers v-if="state==1"></add-Trainers>
    <edit-Trainers v-if="state==2"></edit-Trainers>
    <div class="container-fluid" v-if="state==0">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                        </div>
                        <div class="card-title" style="font-size:18px;font-weight:bold">المدربين  </div>

                        <div class="headerCustom">
                            <div class="title">
                                <el-button type="primary" @click.prevent="AddTrainerPage()" class="btn btn-danger btn-fill pull-right">إضافة مدرب</el-button>
                            </div>
                            <p class="category"></p>
                        </div>
                    </div>

                    <div class="NoData" v-if="Trainers==0">
                        <el-alert title="عفــوا! لاتوجد بيانات للمدربين"
                                  type="info">
                        </el-alert>
                    </div>
                    <div class="content table-responsive table-full-width" v-if="Trainers!=0">


                        <table class="table table-hover table-striped" dir="ltr">
                            <tbody style="text-align:center">
                                <tr class="TableHeaderBackground">
                                    <td>
                                        <span style="font-size:14px;font-weight:bold">
                                            العمليات
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:14px;font-weight:bold">
                                            الميلاد
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:14px;font-weight:bold">
                                            رقم الهاتف
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:14px;font-weight:bold">
                                            السيرة الذاتية
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:14px;font-weight:bold">
                                            البريد الألكتروني
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:14px;font-weight:bold">
                                            الجنسية
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:14px;font-weight:bold">
                                            الاسم
                                        </span>
                                    </td>

                                </tr>
                            </tbody>

                            <tbody style="text-align:center">
                                <tr v-for="Trainer in Trainers" style="font-size:14px;">
                                    <td>

                                        <!--<a href="#" @click.prevent="Getschedule(Trainer.TrainerId)">
        <i class="fa fa-table"></i>&nbsp;
    </a>-->

                                        <a href="#" @click.prevent="EditTrainerInfo(Trainer)">
                                            <i class="fa fa-pencil-square-o"></i>&nbsp;
                                        </a>
                                        <!--<a href="#" @click.prevent="EventTrainer(Trainer.trainerId)">
        <i class="fa fa-table" title="جدول"></i>
    </a>-->

                                        <a href="#" @click.prevent="DeleteTrainer(Trainer.trainerId)">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                        <el-button type="text" title="عرض المزيد" @click="dialogTableVisible = true;ShowMore(Trainer)"> <i class="fa fa-info-circle"></i>&nbsp;</el-button>

                                        <!--<el-popover width="550"
                trigger="click">
        <el-table :data="[{
                        nameEn: Trainer.nameEn,
                        currentJob: Trainer.currentJob,
                        experince: Trainer.experinceNumbers,
                        phoneNumber2 : Trainer.phoneNumber2
                        }]">
            <el-table-column width="150" property="nameEn" label="الاسم بالانجليزي"></el-table-column>
            <el-table-column width="100" property="currentJob" label="الوظيفة"></el-table-column>
            <el-table-column width="150" property="experince" label="سنوات الخبرة"></el-table-column>
            <el-table-column width="150" property="phoneNumber2" label="الهاتف الاحتياط"></el-table-column>

        </el-table>

        <el-button style="background: transparent;border: none !important;font-size:0;" class="item" data-toggle="tooltip" data-placement="top" title="Info" slot="reference">
            <i class="fa fa-info-circle"></i>&nbsp;
        </el-button>
    </el-popover>-->

                                    </td>
                                    <td>{{Trainer.birthDate | moment}}</td>
                                    <td>{{Trainer.phoneNumber1}}</td>
                                    <td>
                                        <a title="تنزيل الملف" v-if="Trainer.cv" :href="'http://localhost:4810/Api/Admin/Trainers/' + Trainer.trainerId + '/File'">
                                            <i class="fa fa-download"></i>
                                        </a>
                                        <a title="لايوجد ملف" v-if="!Trainer.cv" disabled>
                                            <i class="fa fa-eye-slash"></i>
                                        </a>
                                    </td>
                                    <td>{{Trainer.email}}</td>
                                    <td>{{Trainer.nationality}}</td>
                                    <td>{{Trainer.nameAr}}</td>
                                </tr>

                            </tbody>
                        </table>
                        <div style="direction:rtl;text-align: center; margin-top: 10px;">
                            <el-pagination background
                                           layout="prev, pager, next"
                                           :current-page="pageNo"
                                           :page-size="pageSize"
                                           :total="pages"
                                           @current-change="FetchTrainers($event)">
                            </el-pagination>

                        </div>

                    </div>
                    <el-dialog title="عرض المزيد" :visible.sync="dialogTableVisible" :modalAppendToBody="false" class="card-title" center>
                        <table style="width: 93%;font-size: 16px;height: 33%;    background: #c3d8d8;border: 1px solid;">
                            <tr style="border: 1px solid;">
                                <td style="direction:rtl"> الاسم بالانجليزي :  {{EventDetails.nameEn}} </td>
                                <td height="50" style="margin-right:20%">  الوظيفة:  {{EventDetails.currentJob}} </td>
                            </tr>
                            <tr style="border: 1px solid;">
                                <td height="50" style="margin-right:20%">  سنوات الخبرة :  {{EventDetails.experinceNumbers}}</td>
                                <td height="50" style="margin-right:20%"> الهاتف الاحتياط :  {{EventDetails.phoneNumber2}} </td>
                            </tr>
                        
                        </table>
                        <br />


                        <div style="margin-right:80%">
                            <el-button type="danger" circle @click="dialogTableVisible = false;" style="background-image:linear-gradient(0deg, #57bbbf,#57bbbf); border-color:#57bbbf ">رجوع</el-button>
                        </div>
                    </el-dialog>
                </div>
            </div>
        </div>
    </div>
</div>
