﻿<div class="content" dir="rtl">
    <add-Events v-if="state==1"></add-Events>
    <eventTrainingKit v-if="state==3" :TrainingKitInfo="TrainKitList"></eventTrainingKit>

    <!--<edit-Events v-if="state==2"></edit-Events>-->
    <div class="row" v-if="state==0">
        <div class="col-md-12">
            <div class="card">

                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                    </div>

                    <div class="card-title" style="font-size: 18px;font-weight:bold">أحدات  </div>

                </div>
                <div class="headerCustom">
                    <div class="title">

                        <el-button type="primary" @click.prevent="addEvents()" v-if="PackageId!=''">إضافة حـدث</el-button>
                        <div class="selectCompany">
                            <el-select style="width: 200px;" @change="SelectEventType()"
                                       v-model="EventType" filterable placeholder="اختيار نوع الحدث">
                                <el-option v-for="item in [{id:1,name:'باقة حزم'},{id:2,name:'الحزم'},{id:3,name:'دورات'}]"
                                           :key="item.id"
                                           :label="item.name"
                                           :value="item.id">
                                </el-option>
                            </el-select>
                            <el-select v-if="EventType!=''" style="width: 200px;" @change="SelectPackage()"
                                       v-model="PackageId" filterable :placeholder="PackageText">
                                <el-option v-for="item in Package"
                                           :key="item.packageId"
                                           :label="item.packageName.slice(0,25)"
                                           :value="item.packageId">
                                </el-option>
                            </el-select>

                        </div>
                    </div>


                    <p class="category"></p>
                </div>
                <div style="padding-left:22px">
                    <!--view companet-->
                    <div class="NoData" v-if="Events==0">
                        <el-alert title="عفــوا! لاتوجد بيانات للـحدث"
                                  type="info">
                        </el-alert>
                    </div>

                    <div class="content table-responsive table-full-width" v-if="Events!=0">
                        <table class="table table-hover table-striped">
                            <tbody style="text-align:center">
                                <tr class="TableHeaderBackground">
                                    <td class="t-small">
                                        <span style="font-size: 14px;font-weight:bold">
                                            اسم الحدث
                                        </span>
                                    </td>
                                    <td class="t-medium">
                                        <span style="font-size: 14px;font-weight:bold">
                                            نوع الحدث
                                        </span>
                                    </td>
                                    <td class="t-medium">
                                        <span style="font-size: 14px;font-weight:bold">
                                            المحتوي
                                        </span>
                                    </td>
                                    <td class="t-medium">
                                        <span style="font-size: 14px;font-weight:bold">
                                            تاريخ البداية
                                        </span>
                                    </td>
                                    <td class="t-medium">
                                        <span style="font-size: 14px;font-weight:bold">
                                            تاريخ النهاية
                                        </span>
                                    </td>

                                    <td class="t-medium">
                                        <span style="font-size: 14px;font-weight:bold">
                                            العمليات
                                        </span>
                                    </td>

                                </tr>
                            </tbody>

                            <tbody style="text-align:center">
                                <tr v-for="Event in Events" style="font-size:16px;">
                                    <td>{{Event.className}}</td>
                                    <td v-if="Event.classType==1">باقة حزم</td>
                                    <td v-if="Event.classType==2">حزمة</td>
                                    <td v-if="Event.classType==3">دورة</td>
                                    <td v-if="Event.classType==1">{{Event.superPackageName}}</td>
                                    <td v-if="Event.classType==2">{{Event.packageName}}</td>
                                    <td v-if="Event.classType==3">{{Event.courseName}}</td>
                                    <td>{{Event.startDate | moment}}</td>
                                    <td>{{Event.endDate | moment}}</td>
                                    <td>
                                        <el-button type="text" title="عرض المزيد" @click="dialogTableVisible = true;ShowMore(Event)"> <i class="fa fa-info-circle"></i>&nbsp;</el-button>
                                        <a title="الاجندة" href="#" @click.prevent="GoToAgend(Event.classId)">
                                            <i class="fa fa-list-alt"></i>&nbsp;
                                        </a>
                                        <a title="الحقيبه الترويجيه" href="#" @click.prevent="GoToPromotedKit(Event.classId)">
                                            <i class="fa fa-bullhorn"></i>&nbsp;
                                        </a>
                                        <a title="الحقيبه التدريبيه" href="#" @click.prevent="GoToFiles(Event)">
                                            <i class="fa  fa-file"></i>&nbsp;
                                        </a>

                                        <!--<a title="تعديل الحدث" href="#" @click.prevent="EditEvent(Event)">
                                            <i class="fa fa-pencil-square-o"></i>&nbsp;
                                        </a>
                                        <a title="مسـح الحدث" href="#" @click.prevent="DeleteEvent(Event)">
                                            <i class="fa fa-remove"></i>
                                        </a>-->
                                        <!--<a href="#" @click.prevent="OpenCourseFile(Course.courseId)">
                                            <i class="fa fa-file"></i>
                                        </a>-->
                                        <!--<a title="عرض ورقة العمل" href="#" @click.prevent="OpenCourseFile(Course.courseId)">-->
                                        <!--<i class="fa fa-file-pdf-o"></i>
                                        </a>-->

                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <div style="text-align: center; margin-top: 10px;">
                            <el-pagination background
                                           layout="prev, pager, next"
                                           :current-page="pageNo"
                                           :page-size="pageSize"
                                           :total="pages"
                                           @current-change="GetEvents($event)">
                            </el-pagination>
                        </div>
                    </div>
                </div>

                <el-dialog title="عرض المزيد" :visible.sync="dialogTableVisible" :modalAppendToBody="false" class="card-title" center>
                    <table style="width: 83%;margin-right: 7%;font-size: 19px;height: 33%;    background: #c3d8d8;border: 1px solid;">
                        <tr style="border: 1px solid;">
                            <td height="50" style="margin-right:20%">  سـعر الأفرد :  {{EventDetails.pricePersonal}} </td>
                            <td height="50" style="margin-right:20%">  سـعر الشركات :  {{EventDetails.priceCompany}} </td>
                        </tr>
                        <tr style="border: 1px solid;">
                            <td height="50" style="margin-right:20%">  التخفيض :  {{EventDetails.discount}}%</td>
                            <td height="50" style="margin-right:20%">  مكان المستضيف :  {{EventDetails.hostName}} </td>
                        </tr>
                        <tr style="border: 1px solid;">
                            <td height="50" style="margin-right:20%">  الاستاذ :  {{EventDetails.teacherName}} </td>
                            <td height="50" style="margin-right:20%">  عدد المقاعد : {{EventDetails.maximumNumberChair}}</td>
                        </tr>
                    </table>
                    <br />
                    <div style="color:red">
                        ملاحظة :
                        {{EventDetails.description}}
                    </div>

                    <div style="margin-right:80%">
                        <el-button type="danger" circle @click="dialogTableVisible = false;" style="background-image:linear-gradient(0deg, #57bbbf,#57bbbf); border-color:#57bbbf ">رجوع</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
    <!--<table class="table table-action">

        <thead>
            <tr>
                <th class="t-small"></th>
                <th class="t-small">ID</th>
                <th class="t-medium">Date</th>
                <th>Info</th>
                <th class="t-medium">State</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><label><input type="checkbox"></label></td>
                <td>1</td>
                <td>27/09/2013</td>
                <td>One little text</td>
                <td class="t-status t-active">Active</td>
            </tr>
            <tr>
                <td><label><input type="checkbox"></label></td>
                <td>1</td>
                <td>27/09/2013</td>
                <td>One little text</td>
                <td class="t-status t-inactive">Inactive</td>
            </tr>
            <tr>
                <td><label><input type="checkbox"></label></td>
                <td>1</td>
                <td>27/09/2013</td>
                <td>One little text</td>
                <td class="t-status t-draft">Draft</td>
            </tr>
            <tr>
                <td><label><input type="checkbox"></label></td>
                <td>1</td>
                <td>27/09/2013</td>
                <td>One little text</td>
                <td class="t-status t-scheduled">Scheduled</td>
            </tr>
        </tbody>
    </table>-->
</div>

