﻿
<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="height: 500px">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>

                    </div>

                    <div class="card-title" style="font-size:18px;font-weight:bold">بيانات باقة الحزمة </div>

                </div>
                <div class="content" style="color:black!important">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>اسم باقة الحزمة</label>
                                    <input type="text" class="form-control" placeholder="اسم باقة الحزمة" v-model="form.Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>نوع المحتوي</label>
                                <el-select filterable style="width:550px;padding-top: 0px;" v-model="form.ContentType" placeholder="نوع المحتوي">
                                    <el-option v-for="item in Content"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>اللــون</label>
                                    <el-color-picker v-model="form.Color" size="small"></el-color-picker>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>معــلومات</label>
                                    <textarea type="text" class="form-control" placeholder="معــلومات" v-model="form.Description" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>السـعر للأفراد</label>
                                    <input type="text" class="form-control" placeholder="السـعر للأفراد" v-model="form.PricePersonal">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>السـعر للشركات</label>
                                    <input type="text" class="form-control" placeholder="السـعر للشركات" v-model="form.PriceCompany">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>التخفيض</label>
                                    <input type="number" class="form-control" placeholder="التخفيض (1 الي 100)" v-model="form.Discount">
                                </div>
                            </div>
                        </div>




                        <button type="submit" @click.prevent="Edit()" class="btn btn-info btn-fill pull-right">حـفظ</button>
                        <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


