﻿
<div class="container-fluid" dir="rtl">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
                    </div>
                    <div class="card-title" style="font-size:18px;font-weight:bold">
                        بيانات الشركة
                    </div>

                </div>
                <div class="content" style="color:black!important">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>اسم الشركة</label>
                                    <input type="text" class="form-control" placeholder="اسم الشركة" v-model="form.CompanyName">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>رقم الهاتف</label>
                                    <input type="text" class="form-control" placeholder="رقم الهاتف" v-model="form.PhoneNumber">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>معلومـات</label>
                                    <textarea class="form-control" placeholder="معلومـات" v-model="form.Description" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>المدينة</label>
                                    <input type="text" v-model="form.City" class="form-control" placeholder="المدينة" value="Creative Code Inc.">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>الـبريد الإلكتروني</label>
                                    <input v-model="form.Email" type="email" class="form-control" placeholder="الـبريد الإلكتروني">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">العنوان</label>
                                    <input v-model="form.Address" type="text" class="form-control" placeholder="العنوان">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>المشتري</label>
                                    <input v-model="form.BoughtBy" type="text" class="form-control" placeholder="المشتري">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>جهة الاتصال</label>
                                    <input v-model="form.Communicator" type="text" class="form-control" placeholder="جهة الاتصال">
                                </div>
                            </div>
                        </div>
                        <button type="submit" @click.prevent="edit()" class="btn btn-info btn-fill pull-right">حـفظ</button>
                        <button type="submit" @click.prevent="Back()" class="btn btn-danger btn-fill pull-right" style="margin-left: 4px;">رجوع</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


